
<div class="modal-body" tabindex="0">
    <table class="table-basic table-top-header table-left-header table-borderless">
        <thead>

            <tr>
                <td style="width: 150px">
                </td>
                <td style="width: 500px">
                </td>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    Action
                </td>
                <td>
                    <input type="text" class="read-only" readonly value="@_Attachment.Action" />
                </td>
            </tr>

            <tr>
                <td>
                    Document
                </td>
                <td>
                    <input type="text" class="read-only" readonly value="@_Attachment.DocName" />
                </td>
            </tr>

            @if (_Attachment.Action == "SCHEDULE")
            {
                <tr>
                    <td>
                        Schedule Days
                    </td>
                    <td>
                        @_Attachment.ScheduleDays
                    </td>
                </tr>

                <tr>
                    <td>
                        Reschedule From Data Item
                    </td>
                    <td>
                        <input type="text" class="read-only" readonly value="@_Attachment.ScheduleDataItem" />
                    </td>
                </tr>

            }

            @if (_SelectedChapter.ShowDocumentTracking == "Y" && _Attachment.Action != "SCHEDULE")
            {

                <tr>
                    <td>
                        Tracking Method
                    </td>
                    <td>
                        <input type="text" class="read-only" readonly value="@_Attachment.TrackingMethod" />
                    </td>
                </tr>

                @if (_Attachment.TrackingMethod == "Response Required")
                {
                    <tr>
                        <td>
                            Tracking Method
                        </td>
                        <td>
                            <input type="text" class="read-only" readonly value="@_Attachment.ChaserDesc" />
                        </td>
                    </tr>
                }


            }



        </tbody>
    </table>
</div>

<div class="button-container">
    <button type="button" class="btn btn-secondary" @onclick="() => Close()">Close</button>
</div>