@page "/system/manageworktypes"
@using Gizmo_V1_02.Pages.Shared.Modals

<div class="tran-block page-header-block ">
    <div class="float-left back-link">
        <NavLink href="system"><span class="col-alt fa fa-angle-double-left"></span></NavLink>
    </div>
    <h3>Manage Work Types</h3>
</div>



@if (departments is null | workTypeGroups is null)
{
    <div class="spinner"></div>
}
else
{
    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 tran-block rounded">


        <div class="page-navbar hidden-md-down">
            <nav class="navbar navbar-expand-lg navbar-dark  ">

                <ul class="navbar-nav">
                    <li class="nav-item @(navDisplay == "Department" ? "active" : "")" @onclick='(() => ShowNav("Department"))'>
                        <span>Departments</span>
                    </li>
                    <li class="nav-item @(navDisplay == "Group" ? "active" : "")" @onclick='(() => ShowNav("Group"))'>
                        <span>Groups</span>
                    </li>
                    <li class="nav-item @(navDisplay == "Work Type" ? "active" : "")" @onclick='(() => ShowNav("Work Type"))'>
                        <span>Work Types</span>
                    </li>
                    <li class="nav-item last @(navDisplay == "Grouping" ? "active" : "")" >
                        <span>Grouping</span>
                    </li>

                </ul>

            </nav>
        </div>
        <div class="page-navbar hidden-lg-up">
            <ul class="nav nav-pills tran-tabs">
                <li class="nav-item @(navDisplay == "Department" ? "active" : "")" @onclick='(() => ShowNav("Department"))'>
                    Departments
                </li>
                <li class="nav-item @(navDisplay == "Group" ? "active" : "")" @onclick='(() => ShowNav("Group"))'>
                    Groups
                </li>
                <li class="nav-item @(navDisplay == "Work Type" ? "active" : "")" @onclick='(() => ShowNav("Work Type"))'>
                    Work Types
                </li>
                <li class="nav-item @(navDisplay == "Grouping" ? "active" : "")" @onclick='(() => ShowNav("Grouping"))'>
                    Grouping
                </li>

            </ul>
        </div>


        <div class="container-fluid ">
            @if (navDisplay == "Department")
            {

            <div class="mb-3 mt-2">
                <button @onclick='(() => PrepareDepartmentForInsert())' class="btn btn-main"><i class="fa fa-plus"></i> Add New Department</button>

            </div>
                <div class="grid-can-edit">
                    @foreach (var vmDepartment in departments)
                    {
                        <div class="row grid-row">
                            <div class="col-12 data-item">
                                <div class="btn-ellipses float-left">
                                    <span class="fa fa-ellipsis-v"></span>
                                    <div class="ellipsis-menu">
                                        <ul>
                                            <li class="col-main" @onclick='(() => PrepareDepartmentForEdit(vmDepartment.department))'>
                                                <span class="fa fa-pencil-alt mr-2"></span>
                                                <span>Edit</span>
                                            </li>
                                            <li class="col-red" @onclick="(() => PrepareDepartmentForDelete(vmDepartment.department))">
                                                <span class="fa fa-trash-alt mr-2"></span>
                                                <span>Delete</span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="data-item-sub ">@vmDepartment.department.DepartmentName</div>
                            </div>
                        </div>
                    }
                </div>
            }


            @if (navDisplay == "Group")
            {

                <div class="mb-3 mt-2">
                    <button @onclick='(() => PrepareGroupForInsert())' class="btn btn-main"><i class="fa fa-plus"></i> Add New Group</button>
                </div>
                <div class="grid-can-edit">
                    <div class="row grid-header ">
                        <div class="col-6 data-item"><div class="data-item-sub">Department</div></div>
                        <div class="col-6 data-item"><div class="data-item-sub">Group</div></div>
                    </div>
                    @foreach (var wtg in workTypeGroups)
                    {

                        <div class="row grid-row">
                            <div class="col-6 data-item">
                                <div class="btn-ellipses float-left">
                                    <span class="fa fa-ellipsis-v"></span>
                                    <div class="ellipsis-menu">
                                        <ul>
                                            <li class="col-main" @onclick='(() => PrepareGroupForEdit(wtg))'>
                                                <span class="fa fa-pencil-alt mr-2"></span>
                                                <span>Edit</span>
                                            </li>
                                            <li class="col-red" @onclick="(() => PrepareGroupForDelete(wtg))">
                                                <span class="fa fa-trash-alt mr-2"></span>
                                                <span>Delete</span>
                                            </li>



                                        </ul>
                                    </div>
                                </div>
                                <div class="data-item-sub">
                                    @wtg.department.DepartmentName
                                </div>
                            </div>
                            <div class="col-6 data-item"><div class="data-item-sub">@wtg.group.GroupName</div></div>
                        </div>
                    }
                </div>

            }

            @if (navDisplay == "Work Type")
            {

                <div class="mb-3">
                    <button @onclick='(() => PrepareTypeForInsert())' class="btn btn-main"><i class="fa fa-plus"></i> Add New Work Type</button>
                </div>
                <div class="grid-can-edit">
                    <div class="row grid-header ">
                        <div class="col-6 data-item"><div class="data-item-sub">Department</div></div>
                        <div class="col-6 data-item"><div class="data-item-sub">Group</div></div>
                    </div>
                    @foreach (var wt in workTypeWithDepartmentItems)
                    {


                        <div class="row grid-row">
                            <div class="col-6 data-item">
                                <div class="btn-ellipses float-left">
                                    <span class="fa fa-ellipsis-v"></span>
                                    <div class="ellipsis-menu">
                                        <ul>
                                            <li class="col-main" @onclick='(() => PrepareTypeForEdit(wt.workType))'>
                                                <span class="fa fa-pencil-alt mr-2"></span>
                                                <span>Edit</span>
                                            </li>
                                            <li class="col-red" @onclick="(() => PrepareTypeForDelete(wt.workType))">
                                                <span class="fa fa-trash-alt mr-2"></span>
                                                <span>Delete</span>
                                            </li>



                                        </ul>
                                    </div>
                                </div>
                                <div class="data-item-sub">
                                    @wt.department.DepartmentName
                                </div>
                            </div>
                            <div class="col-6 data-item"><div class="data-item-sub">@wt.workType.TypeName</div></div>
                        </div>

                    }
                </div>
            }

            @if (navDisplay == "Grouping")
            {


                @if (showGrouping == "Show")
                {
                    <div class="mb-4">
                        <button @onclick='(() => ShowNav("Grouping"))' class="btn btn-main"><i class="fa fa-angle-left"></i> Back to departments</button>
                    </div>
                }
                else
                {
                    <div><h4>Select Department</h4></div>

                }

                 <div class="grid-nav no-indent">
                @foreach (var vmDepartment in departments)
                {
                    @if (showGrouping == "Hide")
                    {


                        <div class="row grid-row-md nav-row-3 no-border">
                            <div class="col-12 col-xl-6 data-item-nav" @onclick='(() => ShowGroupingDept("Show",vmDepartment.department.DepartmentName))'>
                                <div class="data-item-sub link-direction">
                                    @vmDepartment.department.DepartmentName
                                    <span class="nav-link-right fa fa-chevron-circle-right"></span>
                                </div>
                            </div>
                        </div>
                    }
                    @if (showGrouping == "Show")
                    {


                        foreach (var wtg in workTypeGroups.Where(W => W.department.Id == vmDepartment.department.Id))
                        {
                            @if (groupingDept == vmDepartment.department.DepartmentName)
                            {
                                <div class="row mt-4 ">
                                    <div class="col-11 " style="border-bottom: 1pt solid #AAA">
                                        <div class="row">
                                            <div class="col-5 ">
                                                @wtg.group.GroupName
                                            </div>
                                            <div class="col-7  p-1">

                                                @foreach (var wt in wtg.workTypes)
                                                {
                                                    <span class="badge badge-tran float-left">@wt.workType.TypeName</span>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1 data-item-edit grid-row"><button class="btn btn-edit" @onclick='(() => PrepareGroupingForEdit(wtg))' value=""><i class="fa fa-pencil-alt"></i></button></div>

                                </div>

                            }
                        }
                    }
                }
             </div>




            }
        </div>
    </div>

}
