
@using Gizmo_V1_00.Models
@using Gizmo_V1_00.Data.OR_RESI_Chapters

@inject IOR_RESI_Chapters_Service service
@inject IJSRuntime jsRuntime



<div class="modal" tabindex="-1" role="dialog" id="taskModal" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@CustomHeader</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@TaskObject" OnValidSubmit="@HandleValidSubmit">
                    <div class="form-group">
                        <label for="Name">@CustomHeader Name</label>
                        <input type="hidden" @bind-value="@TaskObject.Id" />
                        <InputText id="name" class="form-control" @bind-Value="@TaskObject.Name" />
                    </div>

                    <div class="form-group">
                        <label for="DocType">Type</label>
                        <InputSelect id="Summary" class="form-control"
                                     @bind-Value="TaskObject.Type">
                            <option value="">Select</option>
                            @foreach (var type in DocTypeList)
                            {
                                <option value="@type">
                                    @type
                                </option>
                            }
                        </InputSelect>
                    </div>

                    <div class="form-group">
                        <label for="AsName">Schedule As Name</label>
                        <InputText id="name" class="form-control" @bind-Value="@TaskObject.AsName" />
                    </div>

                    <div class="form-group">
                        <label for="CompleteName">Complete As Name</label>
                        <InputText id="name" class="form-control" @bind-Value="@TaskObject.CompleteName" />
                    </div>

                    <div class="form-group">
                        <label for="RescheduleDays">Reschedule Days</label>
                        <InputNumber id="name" class="form-control" @bind-Value="@TaskObject.RescheduleDays" />
                    </div>

                    <div class="form-group">
                        <label for="SeqNo">Seq number</label>
                        <InputNumber id="name" class="form-control" @bind-Value="@TaskObject.SeqNo" />
                    </div>

                    <input type="hidden" @bind-value="@TaskObject.CaseType" />
                    <input type="hidden" @bind-value="@TaskObject.CaseTypeGroup" />
                    <input type="hidden" @bind-value="@TaskObject.ParentId" />



                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public UsrOrDefChapterManagement TaskObject { get; set; }

    [Parameter]
    public RenderFragment CustomHeader { get; set; }

    [Parameter]
    public Action DataChanged { get; set; }

    List<string> CaseTypeList = new List<string>() { "Purchase", "Sale", "Remortgage", "Plot Sales", "Transfer" };

    List<string> DocTypeList = new List<string>() { "Agenda", "Chapter", "Doc", "Fee", "Form" , "Letter" , "Status", "Step" };


    private async Task ClosechapterModal()
    {
        await jsRuntime.InvokeAsync<object>("CloseModal", "taskModal");
    }

    private async void HandleValidSubmit()
    {
        if (TaskObject.Id == 0)
        {
            await service.Add(TaskObject);
        }
        else
        {
            await service.Update(TaskObject);
        }
        await ClosechapterModal();
        DataChanged?.Invoke();
    }
}