@page "/chapterlist"

@using Gizmo_V1_00.Data.OR_RESI_Chapters


@inject IOR_RESI_Chapters_Service service
@inject IJSRuntime jsRuntime



<h1>Chapters</h1>

<label class="btn-Nav" @onclick="() => SelectHome()">Home</label>
@if (selectedCaseType != "")
{
    <label class="btn-Nav" @onclick="() => SelectCaseType(selectedCaseType)">/ @selectedCaseType</label>
}
@if (selectedChapter != "")
{
    <label>/ @selectedChapter</label>
}

<br>
<br>

@if (selectedCaseType == "")
{
    <div class="container-fluid">
        <div class="row">
            @if (CaseTypeList is null)
            {
                <div class="spinner"></div>
            }
            else
            {
                @foreach (var caseType in CaseTypeList)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p-2">
                        <div class="shadow card bg-white rounded">
                            <div class="card-body">
                                @if (caseType == "Purchase")
                                {
                                    <h5 class="card-title">PURCH</h5>
                                }
                                else
                                {
                                    <h5 class="card-title">SALE</h5>
                                }
                                <p class="card-text">Residential - @caseType</p>
                                <a @onclick="() => SelectCaseType(caseType)" class="btn btn-primary">Select</a>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>

}
else if (selectedChapter == "")
{
    if (lstChapters is null)
    {
        <div>Loading...</div>
    }
    else
    {
        <h4 class="modal-title">Chapters</h4>
        <div class="container-fluid">
            <div class="row">
                @foreach (var Chapter in lstChapters)
                {
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 p-2">
                        <div class="shadow card bg-white rounded">

                            <a @onclick="() => selectDocList(Chapter.Name)" class="nav-link">@Chapter.Name</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}

@if (selectedChapter != "")
{
    <h2>
        Agendas (@lstAgendas.Count)
        @if (displaySection == "Agenda")
        {
            <span @onclick='() => ShowAgenda("Hide", "Agenda")'> <i class="fas fa-arrow-circle-right fa-1x"></i></span>
        }
        else
        {
            <span @onclick='() => ShowAgenda("Show", "Agenda")'> <i class="fas fa-arrow-circle-down fa-1x"></i></span>
        }
    </h2>

    @if (displaySection == "Agenda")
    {
        <table id="tblAgendaList" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Agenda in lstAgendas)
                {
                    <tr>
                        <td>@Agenda.Name</td>
                        <td><input type="button" class="btn btn-primary" @onclick='(() => PrepareForEdit(Agenda,"Agenda"))' data-toggle="modal" data-target="#taskModal" value="Edit" /></td>
                    </tr>
                }
            </tbody>
        </table>
    }


    <h2>
        Fees (@lstFees.Count)
        @if (displaySection == "Fee")
        {

            <span @onclick='() => ShowAgenda("Hide", "Fee")'> <i class="fas fa-arrow-circle-right fa-1x"></i></span>

        }
        else
        {
            <span @onclick='() => ShowAgenda("Show", "Fee")'> <i class="fas fa-arrow-circle-down fa-1x"></i></span>
        }
    </h2>

    @if (displaySection == "Fee")
    {
        <div class="fade-in">
            <table id="tblFeeList" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Fee in lstFees)
                    {
                        <tr>
                            <td>@Fee.Name</td>
                            <td><input type="button" class="btn btn-primary" @onclick='(() => PrepareForEdit(Fee,"Fee"))' data-toggle="modal" data-target="#taskModal" value="Edit" /></td>
                            <td><input type="button" class="btn btn-danger" @onclick="(() => PrepareForDelete(Fee))" data-toggle="modal" data-target="#confirmDeleteModal" value="Delete" /></td>
                        </tr>
                    }
                </tbody>
            </table>

            <input type="button" data-toggle="modal" data-target="#taskModal" @onclick='(() => PrepareForInsert("Fee"))' class="btn btn-primary" value="Add Fee" />
        </div>
    }

    <h2>
        Documents / Steps (@lstDocs.Count)
        @if (displaySection == "Docs")
        {
            <span @onclick='() => ShowAgenda("Hide", "Docs")'> <i class="fas fa-arrow-circle-right fa-1x"></i></span>
        }
        else
        {
            <span @onclick='() => ShowAgenda("Show", "Docs")'> <i class="fas fa-arrow-circle-down fa-1x"></i></span>
        }
    </h2>
    @if (displaySection == "Docs")
    {
        <div class="fade-in">
            <table id="tblDocsList" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Seq.</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var docs in lstDocs)
                    {
                        <tr>
                            <td>@docs.Name</td>
                            <td>@docs.Type</td>
                            <td>@docs.SeqNo</td>
                            <td><input type="button" class="btn btn-primary" @onclick='(() => PrepareForEdit(docs,"Document / Step"))' data-toggle="modal" data-target="#taskModal" value="Edit" /></td>
                            <td><input type="button" class="btn btn-danger" @onclick="(() => PrepareForDelete(docs))" data-toggle="modal" data-target="#confirmDeleteModal" value="Delete" /></td>
                        </tr>
                    }
                </tbody>
            </table>

            <input type="button" class="btn btn-primary" @onclick='(() => PrepareForInsert("Document / Step"))' data-toggle="modal" data-target="#taskModal" value="Add Document / Step" />
        </div>
    }

    <h2>
        Status (@lstStatus.Count)
        @if (displaySection == "Status")
        {
            <span @onclick='() => ShowAgenda("Hide", "Status")'> <i class="fas fa-arrow-circle-right fa-1x"></i></span>
        }
        else
        {
            <span @onclick='() => ShowAgenda("Show", "Status")'> <i class="fas fa-arrow-circle-down fa-1x"></i></span>
        }
    </h2>
    @if (displaySection == "Status")
    {
        <div class="fade-in">
            <table id="tblStatusList" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var status in lstStatus)
                    {
                        <tr>
                            <td>@status.Name</td>
                            <td>@status.Type</td>
                            <td><input type="button" class="btn btn-primary" @onclick='(() => PrepareForEdit(status,"Status"))' data-toggle="modal" data-target="#taskModal" value="Edit" /></td>
                            <td><input type="button" class="btn btn-danger" @onclick="(() => PrepareForDelete(status))" data-toggle="modal" data-target="#confirmDeleteModal" value="Delete" /></td>
                        </tr>
                    }
                </tbody>
            </table>

            <input type="button" data-toggle="modal" data-target="#taskModal" @onclick='(() => PrepareForInsert("Status"))' class="btn btn-primary" value="Add Status" />
        </div>
    }

}

<ConfirmDialog OnClick="@Delete" />
<ChapterDetail TaskObject=editObject DataChanged="@DataChanged" selectedCaseType="@selectedCaseType" selectedList="@selectedList" dropDownDocumentList="@dropDownDocumentList">
    <CustomHeader>@customHeader</CustomHeader>
</ChapterDetail>
