@page "/misichapterlist"

@using Gizmo_V1_00.Data.OR_RESI_Chapters
@using Gizmo.Context.OR_RESI


@inject IOR_RESI_Chapters_Service service
@inject IJSRuntime jsRuntime

<h1>Chapters</h1>

<label class="OR_btn-Nav" @onclick="() => selectHome()">Home</label>
@if (selectedCaseType != "")
{
    <label>/ </label>
    <label class="OR_btn-Nav" @onclick="() => selectCaseType(selectedCaseType)">@selectedCaseType</label>
}
@if (selectedChapter != "")
{
    <label>/ @selectedChapter</label>
}

<br>
<br>

@if (selectedCaseType == "")
{
    <h4 class="modal-title">Case Types</h4>
    <div class="container-fluid">
        <div class="row">
            @foreach (var caseType in CaseTypeList)
            {
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2">
                    @if (caseType == "Purchase")
                    {
                        <a class="shadow card rounded caseType_@caseType" @onclick="() => selectCaseType(caseType)">PURCH Residential - @caseType</a>
                    }
                    else
                    {
                        <a class="shadow card rounded caseType_@caseType" @onclick="() => selectCaseType(caseType)">SALE Residential - @caseType</a>
                    }

                </div>
            }
        </div>
    </div>

}
else if (selectedChapter == "")
{

    <h4 class="modal-title">Chapters</h4>
    <div class="container-fluid h-25">
        <div class="row">
            @foreach (var Chapter in lstChapters)
            {
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2">
                    <a class="shadow card rounded chapterCard_@Chapter.Name" @onclick="() => selectDocList(Chapter.Name)">@Chapter.Name</a>
                </div>
            }
        </div>
    </div>
}


@if (selectedChapter != "")
{
    <h4 class="modal-title">Chapters Items</h4>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2">
        @if (displaySection == "Agenda")
        {
            <span class="shadow card rounded chapterItem_Agenda" @onclick='() => showAgenda("Hide", "Agenda")'>Agendas (@lstAgendas.Count) </span>
        }
        else
        {
            <span class="shadow card rounded chapterItem_Agenda" @onclick='() => showAgenda("Show", "Agenda")'>Agendas (@lstAgendas.Count)</span>
        }
    </div>

    @if (displaySection == "Agenda")
    {
        <div class="fade-in">
            @foreach (var Agenda in lstAgendas)
            {
                <div class="OR_ChapterItemTable">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2 ">
                        <span class="shadow card subCard rounded chapterItem_Agenda">@Agenda.Name</span>
                    </div>
                </div>
            }
        </div>
    }


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2">
        @if (displaySection == "Fee")
        {
            <span class="shadow card rounded chapterItem_Fee" @onclick='() => showAgenda("Hide", "Fee")'>Fees (@lstFees.Count)</span>
        }
        else
        {
            <span class="shadow card rounded chapterItem_Fee" @onclick='() => showAgenda("Show", "Fee")'>Fees (@lstFees.Count)</span>
        }
    </div>

    @if (displaySection == "Fee")
    {
        <div class="fade-in">
            @foreach (var Fee in lstFees)
            {
                <div class="OR_ChapterItemTable">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2 ">
                        <span class="shadow card subCard rounded chapterItem_Fee" @onclick='(() => PrepareForEdit(Fee,"Fee"))' data-toggle="modal" data-target="#taskModal" value="Edit">@Fee.Name</span>
                    </div>
                </div>
            }

            <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-primary" value="Add Fee" />
        </div>
    }

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2">
        @if (displaySection == "Docs")
        {
            <span class="shadow card rounded chapterItem_Documents" @onclick='() => showAgenda("Hide", "Docs")'>Documents / Steps (@lstDocs.Count)</span>
        }
        else
        {
            <span class="shadow card rounded chapterItem_Documents" @onclick='() => showAgenda("Show", "Docs")'>Documents / Steps (@lstDocs.Count)</span>
        }
    </div>

    @if (displaySection == "Docs")
    {
        <ul ondragover="event.preventDefault();" class="fade-in">
            @foreach (var docs in lstDocs)
            {
                <li draggable="true" style="list-style-type:none;" @key="docs.Id" tabindex="1"
                    @ondrop="@(()=> Drop(docs))" @ondrag="@(()=> StartDrag(docs))">
                    <div class="OR_ChapterItemTable">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2 ">
                            <span class="shadow card subCard rounded chapterItem_Documents"
                                  @onclick='(() => PrepareForEdit(docs,"Document / Step"))'
                                  data-toggle="modal"
                                  data-target="#taskModal"
                                  value="Edit">
                                <i class="fas fa-sort"></i> @docs.Name

                            </span>
                        </div>
                    </div>
                </li>
            }

        </ul>
        <input type="button" class="btn btn-primary" @onclick='(() => PrepareForInsert("Document / Step"))' data-toggle="modal" data-target="#taskModal" value="Add Letter" />
    }

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2">
        @if (displaySection == "Status")
        {
            <span class="shadow card rounded chapterItem_Status" @onclick='() => showAgenda("Hide", "Status")'>Status (@lstStatus.Count)</span>
        }
        else
        {
            <span class="shadow card rounded chapterItem_Status" @onclick='() => showAgenda("Show", "Status")'>Status (@lstStatus.Count)</span>
        }
    </div>

    @if (displaySection == "Status")
    {
        <div class="fade-in">
            @foreach (var status in lstStatus)
            {
                <div class="OR_ChapterItemTable">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2 ">
                        <span class="shadow card subCard rounded chapterItem_Status" @onclick='(() => PrepareForEdit(status,"Status"))' data-toggle="modal" data-target="#taskModal" value="Edit">@status.Name</span>
                    </div>
                </div>
            }

            <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-primary" value="Add Letter" />
        </div>
    }


}

<ConfirmDialog OnClick="@Delete" />
<ChapterDetail TaskObject=editObject>
    <CustomHeader>@customHeader</CustomHeader>
</ChapterDetail>


@code {
    List<UsrOrDefChapterManagement> lstChapters;

    List<UsrOrDefChapterManagement> lstAgendas;
    List<UsrOrDefChapterManagement> lstFees;
    List<UsrOrDefChapterManagement> lstDocs;
    List<UsrOrDefChapterManagement> lstStatus;

    int parentId;

    UsrOrDefChapterManagement editObject = new UsrOrDefChapterManagement();

    UsrOrDefChapterManagement ChpaterObject = new UsrOrDefChapterManagement();
    string customHeader = string.Empty;

    string displaySection { get; set; } = "";

    string selectedCaseType { get; set; } = "";
    string selectedCaseTypeGroup { get; set; } = "";
    string selectedChapter { get; set; } = "";

    List<string> CaseTypeList = new List<string>() { "Purchase", "Sale", "Remortgage", "Plot Sales", "Transfer" };

    protected override async Task OnInitializedAsync()
    {
        lstChapters = await service.GetChapterListByCaseType("Chapter", "");
    }

    void selectHome()
    {
        selectedCaseType = "";
        selectedChapter = "";
    }

    async Task selectCaseType(string caseType)
    {
        lstChapters = await service.GetChapterListByCaseType("Chapter", caseType);

        selectedCaseType = caseType;
        selectedChapter = "";
    }

    async Task selectDocList(String chapter)
    {
        lstAgendas = await service.GetDocListByChapterAndDocType(selectedCaseType, chapter, "Agenda");
        lstFees = await service.GetDocListByChapterAndDocType(selectedCaseType, chapter, "Fee");
        lstDocs = await service.GetDocListByChapter(selectedCaseType, chapter);
        lstStatus = await service.GetDocListByChapterAndDocType(selectedCaseType, chapter, "Status");


        selectedChapter = chapter;
    }

    private async void DataChanged()
    {
        lstAgendas = await service.GetDocListByChapterAndDocType(selectedCaseType, selectedChapter, "Agenda");
        lstFees = await service.GetDocListByChapterAndDocType(selectedCaseType, selectedChapter, "Fee");
        lstDocs = await service.GetDocListByChapter(selectedCaseType, selectedChapter);
        lstStatus = await service.GetDocListByChapterAndDocType(selectedCaseType, selectedChapter, "Status");

        StateHasChanged();
    }

    void showAgenda(String option, String type)
    {
        if (option == "Show")
        {
            displaySection = type;
        }
        else
        {
            displaySection = "";
        }
    }

    private void PrepareForInsert(String header)
    {
        parentId = service.GetParentId(selectedCaseType, selectedChapter);

        editObject = new UsrOrDefChapterManagement();
        editObject.CaseType = "";
        editObject.CaseTypeGroup = "";
        editObject.ParentId = parentId;
        editObject.SeqNo = service.GetMaxSeqNum(parentId);

        customHeader = "Add New " + header;
    }

    private void PrepareForEdit(UsrOrDefChapterManagement item, String header)
    {
        customHeader = header;
        editObject = item;
    }

    private void PrepareForDelete(UsrOrDefChapterManagement item)
    {
        editObject = item;
    }

    private async Task Delete()
    {
        var task = await service.Delete(editObject.Id);
        await jsRuntime.InvokeAsync<object>("CloseModal", "confirmDeleteModal");
        DataChanged();
        editObject = new UsrOrDefChapterManagement();
    }

    int currentIndex;

    void StartDrag(UsrOrDefChapterManagement item)
    {
        currentIndex = GetIndex(item);
        Console.WriteLine($"DragStart for {item.Id} index {currentIndex}");
    }

    int GetIndex(UsrOrDefChapterManagement docs)
    {
        return lstDocs.FindIndex(a => a.Id == docs.Id);
    }

    void Drop(UsrOrDefChapterManagement item)
    {
        if (item != null)
        {
            var index = GetIndex(item);
            Console.WriteLine($"Drop index is {index}, move from {currentIndex}");
            // get current item
            var current = lstDocs[currentIndex];
            // remove game from current index
            lstDocs.RemoveAt(currentIndex);
            lstDocs.Insert(index, current);

            // update current selection
            currentIndex = index;

            StateHasChanged();
        }
        else
        {
            Console.WriteLine("Drop - null");
        }
    }
}
