@page "/admin/manageworktypes"

<div class="text-block rounded ">
    <div class="float-left back-link">
        <NavLink href="admin"><span class="col-main fa fa-angle-double-left fa-2x"></span></NavLink>
    </div>
    <h3>Manage Work Types</h3>
</div>



@if (workTypeGroups is null)
{
    <div class="spinner"></div>
}
else
{
    <div class="mt-5 mb-4 col-xl-8 col-lg-12 col-md-12 col-sm-12">

        <div class="page-navbar hidden-md-down" style="max-width: 800px">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">

                <ul class="navbar-nav">
                    <li class="@(navDisplay == "Department" ? "active" : "")">
                        <a href="javascript:void(0);" @onclick='(() => ShowNav("Department"))'><span>Departments</span></a>
                    </li>
                    <li class="@(navDisplay == "Group" ? "active" : "")">
                        <a href="javascript:void(0);" @onclick='(() => ShowNav("Group"))'><span>Groups</span></a>
                    </li>
                    <li class="@(navDisplay == "Work Type" ? "active" : "")">
                        <a href="javascript:void(0);" @onclick='(() => ShowNav("Work Type"))'><span>Work Types</span></a>
                    </li>
                    <li class="last @(navDisplay == "Grouping" ? "active" : "")">
                        <a href="javascript:void(0);" @onclick='(() => ShowNav("Grouping"))'><span>Grouping</span></a>
                    </li>

                </ul>

            </nav>
        </div>
        <div class="page-navbar hidden-lg-up">
            <ul class="nav nav-pills tran-tabs">
                <li class="nav-item @(navDisplay == "Department" ? "active" : "")">
                    <a class="nav-link" href="javascript:void(0);" @onclick='(() => ShowNav("Department"))'>Departments</a>
                </li>
                <li class="nav-item @(navDisplay == "Group" ? "active" : "")">
                    <a class="nav-link" href="javascript:void(0);" @onclick='(() => ShowNav("Group"))'>Groups</a>
                </li>
                <li class="nav-item @(navDisplay == "Work Type" ? "active" : "")">
                    <a class="nav-link" href="javascript:void(0);" @onclick='(() => ShowNav("Work Type"))'>Work Types</a>
                </li>
                <li class="nav-item @(navDisplay == "Grouping" ? "active" : "")">
                    <a class="nav-link " href="javascript:void(0);" @onclick='(() => ShowNav("Grouping"))'>Grouping</a>
                </li>

            </ul>
        </div>


        @if (navDisplay == "Department")
        {
            <div class="mb-3 mt-2">
                <button data-toggle="modal" data-target="#DepartmentModal" @onclick='(() => PrepareDepartmentForInsert())' class="btn btn-main btn-shadow"><i class="fa fa-plus"></i> Add New Department</button>
            </div>
            <div class="grid-tran">
                <div class="container-fluid ">
                    @foreach (var d in departments)
                    {
                        <div class="row grid-row">
                            <div class="col-11 col-xl-6 data-item"><div class="data-item-sub"><input type="text" value="@d.DepartmentName" /></div></div>
                            <div class="col-1 data-item"><div class="data-item-edit"><button class="btn btn-edit" @onclick='(() => PrepareDepartmentForEdit(d))' data-toggle="modal" data-target="#DepartmentModal" value=""><i class="fa fa-pencil-alt"></i></button></div></div>
                        </div>
                    }
                </div>
            </div>
        }


        @if (navDisplay == "Group")
        {
            <div class="mb-3 mt-2">
                <button data-toggle="modal" data-target="#GroupModal" @onclick='(() => PrepareGroupForInsert())' class="btn btn-main btn-shadow"><i class="fa fa-plus"></i> Add New Group</button>
            </div>
            <div class="grid-tran">
                <div class="container-fluid ">
                    @foreach (var wtg in workTypeGroups)
                    {

                        <div class="row grid-row">
                            <div class="col-5 data-item">
                                <div class="data-item-sub">
                                    <input type="text" value="@(!(departments
                                                                                            .Where(D => D.Id == wtg.group.parentId)
                                                                                            .Select(D => D.DepartmentName)
                                                                                            .SingleOrDefault() is null)
                                                                                            ?
                                                                                            departments
                                                                                            .Where(D => D.Id == wtg.group.parentId)
                                                                                            .Select(D => D.DepartmentName)
                                                                                            .SingleOrDefault()
                                                                                            :
                                                                                            ""
                                                                                            )" />
                                </div>
                            </div>

                            <div class="col-5 data-item"><div class="data-item-sub"><input type="text" value="@wtg.group.GroupName" /></div></div>
                            <div class="col-1 data-item"><div class="data-item-edit"><button class="btn btn-edit" @onclick='(() => PrepareGroupForEdit(wtg))' data-toggle="modal" data-target="#GroupModal" value=""><i class="fa fa-pencil-alt"></i></button></div></div>
                        </div>
                    }
                </div>
            </div>
        }

        @if (navDisplay == "Work Type")
        {
            <div class="mb-3">
                <button data-toggle="modal" data-target="#TypeModal" @onclick='(() => PrepareTypeForInsert())' class="btn btn-main btn-shadow"><i class="fa fa-plus"></i> Add New Work Type</button>
            </div>
            <div class="grid-tran">
                <div class="container-fluid ">
                    @foreach (var wt in workTypeWithDepartmentItems)
                    {


                        <div class="row grid-row">
                            <div class="col-5 data-item">
                                <div class="data-item-sub">
                                    <input type="text" value="@(!(departments
                                                                                            .Where(D => D.Id == wt.workType.DepartmentId)
                                                                                            .Select(D => D.DepartmentName)
                                                                                            .SingleOrDefault() is null)
                                                                                            ?
                                                                                            departments
                                                                                            .Where(D => D.Id == wt.workType.DepartmentId)
                                                                                            .Select(D => D.DepartmentName)
                                                                                            .SingleOrDefault()
                                                                                            :
                                                                                            ""
                                                                                            )" />
                                </div>
                            </div>

                            <div class="col-11 col-xl-6 data-item"><div class="data-item-sub"><input type="text" value="@wt.workType.TypeName" /> </div></div>
                            <div class="col-1 data-item"><div class="data-item-edit"><button class="btn btn-edit" @onclick='(() => PrepareTypeForEdit(wt.workType))' data-toggle="modal" data-target="#TypeModal" value=""><i class="fa fa-pencil-alt"></i></button></div></div>
                        </div>

                    }

                </div>
            </div>
        }

        @if (navDisplay == "Grouping")
        {
            <div class="grid-tran">
                <div class="container-fluid ">
                    @foreach (var d in departments)
                    {
                        <div class="row grid-row mt-3">
                            <div class="col-11 col-xl-6 data-item">
                                <div class="data-item-sub "><input type="text" value="@d.DepartmentName" /> </div>
                            </div>
                        </div>

                        foreach (var wtg in workTypeGroups.Where(W => W.department.Id == d.Id))
                        {
                            <div class="row grid-row mt-3">
                                <div class="col-11 col-xl-6 data-item">
                                    <div class="data-item-sub "><input type="text" value="@wtg.group.GroupName" /> </div>
                                </div>
                                <div class="col-1 data-item"><div class="data-item-edit"><button class="btn btn-edit" @onclick='(() => PrepareGroupingForEdit(wtg))' data-toggle="modal" data-target="#GroupingModal" value=""><i class="fa fa-pencil-alt"></i></button></div></div>
                            </div>

                            <div class="row grid-row">

                                <div class="col-11 col-xl-6 ">
                                    @foreach (var wt in wtg.workTypes)
                                    {
                                        <span class="badge badge-tran">@wt.workType.TypeName</span>
                                    }
                                </div>
                            </div>
                        }
                    }




                </div>
            </div>
        }


    </div>
}


<WorkTypeGroupDetails TaskObject="@editGroup" Departments="@departments" DataChanged="@DataChanged"></WorkTypeGroupDetails>

<WorkTypeDetails TaskObject="@editType" Departments="@departments" DataChanged="@DataChanged"></WorkTypeDetails>

<WorkTypeDepartmentDetails TaskObject="@editDepartment" DataChanged="@DataChanged"></WorkTypeDepartmentDetails>

<WorkTypeGroupingDetails TaskObject="@editGrouping" DataChanged="@DataChanged" Assignments="@editAssignments"></WorkTypeGroupingDetails>
