@page "/admin/manageworktypes"

<div class="text-block rounded ">
    <div class="float-left back-link" >
        <NavLink href="admin"><span class="col-main fa fa-angle-double-left fa-2x"></span></NavLink>
    </div>
    <h2>Manage Work Types</h2>
</div>



@if (workTypeGroups is null)
{
    <div class="spinner"></div>

}
else
{

<div class="mt-5 col-xl-5 col-lg-8 col-md-12 col-sm-12">
    <ul class="nav nav-tabs tran-tabs">
        <li class="nav-item">
            <a class="nav-link @(navDisplay == "Group" ? "active" : "")" href="javascript:void(0);" @onclick='(() => ShowNav("Group"))'>Groups</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(navDisplay == "Work Type" ? "active" : "")" href="javascript:void(0);" @onclick='(() => ShowNav("Work Type"))'>Work Types</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(navDisplay == "Grouping" ? "active" : "")" href="javascript:void(0);" @onclick='(() => ShowNav("Grouping"))'>Grouping</a>
        </li>

    </ul>

    @if (navDisplay == "Group")
    {
        <div class="mb-3 mt-2">
            <button data-toggle="modal" data-target="#GroupModal" @onclick='(() => PrepareGroupForInsert())' class="btn btn-main btn-shadow"><i class="fa fa-plus"></i> Add New Group</button>
        </div>
        <div class="grid-tran">
            <div class="container-fluid ">
                @foreach (var wtg in workTypeGroups)
                {
                    <div class="row grid-row">
                        <div class="col-10 data-item"><div class="data-item-sub"> @wtg.group.GroupName </div></div>
                        <div class="col-2 data-item"><div class="data-item-sub data-item-edit"><button class="btn btn-edit" @onclick='(() => PrepareGroupForEdit(wtg))' data-toggle="modal" data-target="#GroupModal" value=""><i class="fa fa-pencil-alt"></i></button></div></div>
                    </div>

                }

            </div>
        </div>
    }

    @if (navDisplay == "Work Type")
    {
        <div class="mb-3">
            <button data-toggle="modal" data-target="#TypeModal" @onclick='(() => PrepareTypeForInsert())' class="btn btn-main btn-shadow"><i class="fa fa-plus"></i> Add New Work Type</button>
        </div>
        <div class="grid-tran">
            <div class="container-fluid ">
                @foreach (var wt in workTypeItems)
                {
                    <div class="row grid-row">
                        <div class="col-10 data-item"><div class="data-item-sub"> @wt.TypeName </div></div>
                        <div class="col-2 data-item"><div class="data-item-sub data-item-edit"><button class="btn btn-edit" @onclick='(() => PrepareTypeForEdit(wt))' data-toggle="modal" data-target="#TypeModal" value=""><i class="fa fa-pencil-alt"></i></button></div></div>
                    </div>

                }

            </div>
        </div>
    }

    @if (navDisplay == "Grouping")
    {
        <div class="grid-tran">
            <div class="container-fluid ">
                @foreach (var wtg in workTypeGroups)
                {
                    <div class="row grid-row">
                        <div class="col-10 data-item"><div class="data-item-sub"> @wtg.group.GroupName </div></div>
                        <div class="col-2 data-item"><div class="data-item-sub data-item-edit"><button class="btn btn-edit" @onclick='(() => PrepareGroupingForEdit(wtg))' data-toggle="modal" data-target="#GroupingModal" value=""><i class="fa fa-pencil-alt"></i></button></div></div>
                    </div>

                    <div class="row grid-row">
                        @foreach(var wt in wtg.workTypes)
                        {
                            <div class="col-2 data-item-sub">@wt.workType.TypeName</div>
                        }
                    </div>
                }

            </div>
        </div>
    }


</div>
}


<WorkTypeGroupDetails TaskObject="@editGroup" DataChanged="@DataChanged"></WorkTypeGroupDetails>

<WorkTypeDetails TaskObject="@editType" DataChanged="@DataChanged"></WorkTypeDetails>

<WorkTypeGroupingDetails TaskObject="@editGrouping" DataChanged="@DataChanged" Assignments="@editAssignments"></WorkTypeGroupingDetails>