@inject IJSRuntime jsRuntime

<div class="modal" tabindex="-1" role="dialog" id="TypeModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <EditForm Model="@TaskObject" OnValidSubmit="@HandleValidSubmit">
            <div class="modal-header">
                <h3 class="modal-title">Work Type Details</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="fa fa-window-close"></span>
                </button>
            </div>
            <div class="modal-body">

                    @if (ShowForm)
                    {
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="form-group">
                            <label for="@TaskObject.TypeName">Type Name</label>
                            <InputText @bind-Value="TaskObject.TypeName"></InputText>
                        </div>

                    }
                    else
                    {
                        <div class="alert alert-danger" style="margin: 40px 0 40px 0" role="alert">
                            Are you sure you wish to delete this work type?
                        </div>
                    }

                    <div class="modal-footer">
                        <div class="container-fluid ">
                            <div class="row">
                                @if (ShowForm)
                                {
                                    <div class="col-6 text-left">
                                        @if (!(TaskObject is null))
                                        {
                                            <button type="button" @onclick="@SubmitForm" class="btn btn-secondary">Delete</button>
                                        }
                                    </div>

                                    <div class="col-6 text-right">
                                        <button type="submit" class="btn btn-sub">Save</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-6 text-left">
                                        <button type="button" data-dismiss="modal" @onclick="@CancelForm" class="btn btn-secondary">Cancel</button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <button type="button" @onclick="HandleValidDelete" class="btn btn-sub">Confirm</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>