@using GadjIT_App.Pages._Shared.Modals
@using GadjIT_ClientContext.P4W.Custom


<div class="grid-chapter grid-chapter-fees">
    @if (_LstFees == null)
    {
        <div class="spinner"></div>
    }
    else
    {
        <div class="grid-actions">

            @if (!CompareSystems)
            {
                @if (UserSession.IsAdminUser)
                {
                    <div class="btn-group">
                        <button @onclick='() => PrepareForInsert()' class="btn btn-main btn-shadow" title="Add new fee"><i class="fa fa-plus"></i><span>New</span></button>
                        @* <button @onclick='() => CondenseSeq("Fees")' class="btn btn-main btn-shadow @(FeeSeqNoIsValid() ? "invisible" : "")" title="Re-order Sequence Numbers"><i class="fa fa-sort-numeric-down"></i></button> *@
                    </div>
                }

            }
            <ModalTooltip Direction="top" Text="Fees to be made available in the Smartflow. Default values will be automatically calculated where possible." Class="w-2">
                <span class="info-icon">
                    <span class=" fa fa-info-circle fa-2x "></span>
                </span>
            </ModalTooltip>
            <div class="spacer">
            </div>
            @if (UserSession.IsAdminUser)
            {
                <div class="btn-group sync-group invisible-md-down">
                    <button type="button" @onclick="() => PrepareChapterSync()" class="btn btn-main btn-shadow @(!CompareSystems ? "hidden" : "")" title="Sync To @UserSession.AltSystem"><i class="fa fa-sync"></i><span>Sync</span></button>
                    <input type="checkbox" class="ml-1 mt-1" @bind=CompareSystems /><span class="ml-2 font-75 ">Compare to @UserSession.AltSystem </span>
                </div>
            }
        </div>

        <div class="@(UserSession.IsAdminUser ? "grid-can-edit" : "") ">
            <div class="row grid-header invisible-md-down">
                <div class="data-item ">
                    <div class="data-item-sub">
                        Name
                    </div>
                </div>
                <div class="data-item ">
                    <div class="data-item-sub">
                        Category
                    </div>
                </div>
                <div class="data-item ">
                    <div class="data-item-sub">
                        Posting Type
                    </div>
                </div>
                <div class="data-item ">
                    <div class="data-item-sub text-right">
                        Amount
                    </div>
                </div>
            </div>
            <div class="grid-data">
                <Dropzone Items="_LstFees"
                    InstantReplace="true"
                    OnItemDrop="@((s)=>ReSequence(_LstFees.IndexOf(s) + 1))"
                    OnDragStartParam="() => ResetRowChanged()"
                    TItem="VmFee"
                    UseCustomImage="true"> 

                    <div class="row grid-row grid-row-lg @(RowChanged == context.FeeObject.SeqNo && !SeqMoving ? "row-changed" : "" )">
                        <div class="data-item">
                            @if (UserSession.IsAdminUser)
                            {
                                @if (!CompareSystems)
                                {
                                    <div class="btn-ellipses float-left">
                                        <span class="fa fa-ellipsis-v"></span>
                                        <div class="ellipsis-menu">
                                            <ul>
                                                <li class="col-main" @onclick='(() => PrepareForEdit(context))'>
                                                    <span class="fa fa-pencil-alt mr-2"></span>
                                                    <span>Edit</span>
                                                </li>
                                                <li class="col-main" @onclick='(() => ShowChapterFeesViewModal(context))'>
                                                    <span class="fa fa-binoculars mr-2"></span>
                                                    <span>View</span>
                                                </li>
                                                <li class="col-red" @onclick="() => ShowChapterFeesDelete(context)">
                                                    <span class="fa fa-trash-alt mr-2"></span>
                                                    <span>Delete</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="data-item-sub draggable">
                                        <span class="fa fa-pound-sign mr-2"></span> @context.FeeObject.FeeName
                                    </div>

                                    @if (context.FeeObject.VATable == "Y")
                                    {
                                        <div class="data-item-right hidden-md-down">
                                            <ModalTooltip Direction="top" Text=@("VAT Included") Class="w-1">
                                                <span class="fa fa-coins"></span>
                                            </ModalTooltip>
                                        </div>
                                    }

                                    <div class="data-item-right seq-change">
                                        <div @onclick='() => MoveSeq(context.FeeObject, "Up")' class="@(@context.FeeObject.SeqNo == 1 ? "invisible" : "")"><span class="fa fa-angle-up"></span></div>
                                        <div class="seq-no">@context.FeeObject.SeqNo</div>
                                        <div @onclick='() => MoveSeq(context.FeeObject, "Down")' class="@(@context.FeeObject.SeqNo == _LstFees.Count() ? "invisible" : "")"><span class="fa fa-angle-down"></span></div>
                                    </div>

                                }
                                else
                                {

                                    <div class="btn-ellipses float-left">
                                        @if (!(context.ComparisonIcon is null))
                                        {
                                            @if (!(context.ComparisonResult == "Exact match"))
                                            {
                                                <ModalTooltip Direction="right" Text=@(context.ComparisonResult == "Partial match" ? "Differences found, click to sync" : $"Does not exist on {UserSession.AltSystem} system, click to copy over") Class="w-2">
                                                    <div class="btn-dashed" @onclick="() => ShowChapterComparisonModal(context)"><span class="fa fa-@context.ComparisonIcon"></span></div>
                                                </ModalTooltip>

                                            }
                                            else
                                            {
                                                <ModalTooltip Direction="right" Text="Exact Match" Class="w-1">
                                                    <span class="fa fa-@context.ComparisonIcon"></span>
                                                </ModalTooltip>
                                            }
                                        }
                                        else
                                        {
                                            <div class="spinner"></div>
                                        }

                                    </div>


                                    <div class="data-item-sub">
                                        <span class="fa fa-pound-sign mr-2"></span> @context.FeeObject.FeeName
                                    </div>
                                    @if (context.FeeObject.VATable == "Y")
                                    {
                                        <div class="data-item-right hidden-md-down">
                                            <ModalTooltip Direction="top" Text=@("VAT Included") Class="w-1">
                                                <span class="fa fa-coins"></span>
                                            </ModalTooltip>
                                        </div>
                                    }
                                    <div class="data-item-right seq-change">
                                        <div class="seq-no">@context.FeeObject.SeqNo</div>
                                    </div>
                                }
                            }
                            else
                            {

                                <div class="btn-ellipses float-left">
                                    <span class="fa fa-ellipsis-v"></span>
                                    <div class="ellipsis-menu">
                                        <ul>
                                            <li class="col-main" @onclick='(() => ShowChapterFeesViewModal(context))'>
                                                <span class="fa fa-binoculars mr-2"></span>
                                                <span>View</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="data-item-sub">
                                    <span class="fa fa-pound-sign mr-2"></span> @context.FeeObject.FeeName
                                </div>
                                @if (context.FeeObject.VATable == "Y")
                                {
                                    <div class="data-item-right hidden-md-down">
                                        <ModalTooltip Direction="top" Text=@("VAT Included") Class="w-1">
                                            <span class="fa fa-coins"></span>
                                        </ModalTooltip>
                                    </div>
                                }
                                <div class="data-item-right seq-change">
                                    <div class="seq-no">@context.FeeObject.SeqNo</div>
                                </div>
                            }

                        </div>
                        <div class="hidden-md-down data-item ">
                            <div class="data-item-sub font-85 pl-3">@context.FeeObject.FeeCategory</div>
                        </div>
                        <div class="hidden-md-down data-item ">
                            <div class="data-item-sub font-85 pl-3">@context.FeeObject.PostingType</div>
                        </div>
                        <div class="data-item">
                            <div class="data-item-sub text-right font-85 pl-3">£@string.Format("{0:N2}", context.FeeObject.Amount)</div>
                        </div>
                    </div>
                </Dropzone>

                @if (CompareSystems && !(LstAltSystemItems is null))
                {
                    @foreach (var fee in LstAltSystemItems.Where(F => !F.Compared).ToList())
                    {

                        <div class="row grid-row grid-row-lg @(RowChanged == fee.FeeObject.SeqNo ? "row-changed" : "" )">
                            <div class="data-item">


                                <div class="btn-ellipses float-left">
                                    <ModalTooltip Direction="right" Text=@($"Exists on {@UserSession.AltSystem} system only. Do you wish to delete from {@UserSession.AltSystem}?") Class="w-2">
                                        <div class="btn-dashed" @onclick="() => ShowChapterDeleteAlt(fee)"><span class="fa fa-trash"></span></div>
                                    </ModalTooltip>

                                </div>


                                <div class="data-item-sub">
                                    <span class="fa fa-pound-sign mr-2"></span> @fee.FeeObject.FeeName
                                </div>
                                @if (fee.FeeObject.VATable == "Y")
                                {
                                    <div class="data-item-right hidden-md-down">
                                        <ModalTooltip Direction="top" Text=@("VAT Included") Class="w-1">
                                            <span class="fa fa-coins"></span>
                                        </ModalTooltip>
                                    </div>
                                }
                                <div class="data-item-right seq-change">
                                    <div class="seq-no">@fee.FeeObject.SeqNo</div>
                                </div>



                            </div>
                            <div class="hidden-md-down data-item ">
                                <div class="data-item-sub font-85 pl-3">@fee.FeeObject.FeeCategory</div>
                            </div>
                            <div class="hidden-md-down data-item ">
                                <div class="data-item-sub font-85 pl-3">@fee.FeeObject.PostingType</div>
                            </div>
                            <div class="data-item">
                                <div class="data-item-sub text-right font-85 pl-3">£@string.Format("{0:N2}", fee.FeeObject.Amount)</div>
                            </div>
                        </div>
                    }
                }


            </div>

        </div>
    }
</div>