@using static GadjIT_App.Shared.StaticObjects.LookUps

<div class="grid-chapter grid-chapter-chapter">
    <div class="grid-actions">

        <div class="btn-group">
            <button @onclick='(() => ExportSmartflowToExcel())' class="btn btn-main btn-shadow" title="Export Smartflow Details"><i class="fa fa-file-export"></i><span>Export</span></button>
        </div>
        @if (UserSession.IsAdminUser && _SmartflowLockedForEdit)
        {
            <div class="invisible-md-down btn-group">
                <button @onclick='(() => ShowSmartflowImportModal())' class="btn btn-main btn-shadow" title="Import Smartflow Details"><i class="fa fa-file-import"></i><span>Import</span></button>
                @*<button @onclick='PrepareChapterForCopy' class="btn btn-main btn-shadow" title="Copy Smartflow"><i class="fa fa-paste"></i><span>Copy</span></button>*@
                <button @onclick="() => ShowHeaderComparisonModal()" class="btn btn-main btn-shadow" title="Sync To @UserSession.AltSystem"><i class="fa fa-sync"></i><span>Sync</span></button>
            </div>
        }


    </div>

    <div class="mb-3 flex-box">

        <div class="detail-group-box">

            @if (UserSession.IsAdminUser && _SmartflowLockedForEdit)
            {

                <EditForm Model="_SelectedSmartflow" OnValidSubmit="SaveSmartflowDetails">
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            <div class="form-group">
                                <label for="P4WCTG">P4W Case Type Group</label>
                                <InputSelect class="form-control form-control-xxl"
                                                ValueExpression="@(() => _SelectedSmartflow.P4WCaseTypeGroup)"
                                                Value="@_SelectedSmartflow.P4WCaseTypeGroup"
                                                ValueChanged="@((string value) => SaveP4WCaseTypeGroup(value))">
                                    <option value="">Select</option>
                                    @if(_P4WCaseTypeGroups != null)
                                    {
                                        foreach (var group in _P4WCaseTypeGroups.OrderBy(C => C.Name).ToList())
                                        {
                                            <option value="@group.Name">
                                                @group.Name
                                            </option>
                                        }
                                        <option value="Global Documents">Global Documents</option>
                                        <option value="Entity Documents">Entity Documents</option>
                                    }
                                    
                                </InputSelect>
                            </div>
                            <div class="form-group">
                                <label for="SelectedView">Smartflow View</label>

                                @if (_ListP4WViews is null || _ListP4WViews.Where(V => !(V.InternalNote is null) && (V.InternalNote.Contains("Smartflow"))).ToList().Count == 0)
                                {
                                    <div class="form-control form-control-lg">
                                        <label class="font-red">No Smartflow views available</label>
                                    </div>
                                }
                                else
                                {
                                    <InputSelect class="form-control form-control-xxl"
                                                    ValueExpression="@(() => _SelectedSmartflow.SelectedView)"
                                                    Value="@_SelectedSmartflow.SelectedView"
                                                    ValueChanged="@((string value) => SaveSelectedView(value))">
                                        <option value="">Select</option>
                                        @foreach (var view in _ListP4WViews
                                                .Where(V => !(V.InternalNote is null) && (V.InternalNote.Contains("Smartflow")))
                                                .OrderBy(V => V.Name)
                                                .ToList())
                                        {
                                            <option value="@view.Name">
                                                @view.Name
                                            </option>
                                        }
                                    </InputSelect>
                                }

                            </div>
                            @if (!(_SelectedSmartflow.SelectedStep is null) && _SelectedSmartflow.SelectedStep != "Create New")
                            {
                                <div class="form-group">
                                    <label for="SelectedStep">Smartflow Step</label>
                                    <InputSelect class="form-control form-control-xxl"
                                                    ValueExpression="@(() => _SelectedSmartflow.SelectedStep)"
                                                    Value="@_SelectedSmartflow.SelectedStep"
                                                    ValueChanged="@((string value) => SaveSelectedStep(value))">
                                        <option value="">Select</option>
                                        <option value="Create New">--- Create New ---</option>
                                        @if(_LibraryDocumentsAndSteps != null & _P4WCaseTypeGroups != null)
                                        {
                                            foreach (var step in _LibraryDocumentsAndSteps
                                                .Where(D => D.DocumentType == 6)
                                                .Where(D => D.Notes != null && D.Notes.Contains("Smartflow:"))
                                                .Where(V => V.CaseTypeGroupRef == (string.IsNullOrEmpty(_SelectedSmartflow.P4WCaseTypeGroup)
                                                                            ? -2
                                                                            : _SelectedSmartflow.P4WCaseTypeGroup == "Global Documents"
                                                                            ? 0
                                                                            : _SelectedSmartflow.P4WCaseTypeGroup == "Entity Documents"
                                                                            ? -1
                                                                            : _P4WCaseTypeGroups
                                                                                .Where(P => P.Name == _SelectedSmartflow.P4WCaseTypeGroup)
                                                                                .Select(P => P.Id)
                                                                                .FirstOrDefault()))
                                                .OrderBy(D => D.Name)
                                                .ToList())
                                            {
                                                <option value="@step.Name">
                                                    @step.Name
                                                </option>
                                            } 
                                        }
                                            
                                        
                                    </InputSelect>
                                </div>
                            }
                            else
                            {
                                <div class="form-group">
                                    <label>Enter Smartflow Step Name</label>
                                    <InputText @bind-Value="_SelectedSmartflow.StepName" class="form-control form-control-xxl" />
                                </div>
                                <button @onclick='(() => CreateP4WSmartflowStep())' class="btn btn-main btn-shadow" title="Create Step"><span>Create</span></button>
                                <button @onclick='(() => CancelCreateP4WStep())' class="btn btn-main btn-shadow" title="Cancel"><span>Cancel</span></button>
                            }

                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="form-group">
                                <label>Background Colour</label>

                                @if (!string.IsNullOrEmpty(_SelectedSmartflow.BackgroundColourName))
                                {
                                    <div @onclick='() => ShowNav("Background")' class="thumbnail-item rounded nav-link" style="height: 35px; background-color: @getHTMLColourFromAndroid(_SelectedSmartflow.BackgroundColour)">
                                        @_SelectedSmartflow.BackgroundColourName
                                    </div>


                                }
                                else
                                {
                                    <div @onclick='() => ShowNav("Background")' class="nav-link" style="height: 35px; width: 240px; margin-left: 10px; border: 1pt solid #ccc; padding-left: 10px; padding-right: 10px">

                                        <label class="col-grey ml-2">No background colour selected</label>

                                    </div>
                                }
                                <div class="mt-3 link-item" style="height: 100px; margin: 0; padding: 0;" @onclick='() => ShowNav("Background")'>

                                    @if (!string.IsNullOrEmpty(_SelectedSmartflow.BackgroundImageName))
                                    {
                                        <label class="d-block">Selected Background Image</label>
                                        <img src="@_SelectedSmartflow.BackgroundImage.Replace("/wwwroot","")" alt="" class="img-thumbnail ml-2" />
                                    }
                                    else
                                    {
                                        <label class="d-block">No background image selected</label>
                                        <img src="/images/BackgroundImages/NoImage.jpg" alt="" class="img-thumbnail ml-2" />

                                    }
                                </div>

                            </div>

                            <div class="form-group hidden-lg-down">
                                <label style="display: inline-block; width: 150px">Preview Image</label>
                                <label class="switch">
                                    <input type="checkbox" @bind="PreviewSmartflowImage">
                                    <span class="slider round"></span>
                                </label>
                            </div> 

                            <div class="form-group">
                                <label style="display: inline-block; width: 150px">Show Notes</label>
                                <label class="switch">
                                    <input type="checkbox" @bind="PartnerShowNotes">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label style="display: inline-block; width: 150px">Track Documents</label>
                                <label class="switch">
                                    <input type="checkbox" @bind="ShowDocumentTracking">
                                    <span class="slider round"></span>
                                </label>
                                @if(ShowDocumentTracking)
                                {
                                    <button @onclick='(() => DownloadTrackingSQL())' class="btn btn-sm btn-main btn-shadow ml-3" title="Download tracking SQL command"><span><i class="fa-solid fa-file-arrow-down"></i></span></button>
                                }
                                
                            </div>
                        </div>
                    </div>

                </EditForm>


            }
            else
            {

                <div class="form-group">
                    <label>Smartflow Name: </label>
                    <label class="form-control-value">@_SelectedSmartflow.Name</label>
                </div>
                <div class="form-group">
                    <label>Smartflow Step Name: </label>
                    <label class="form-control-value">@_SelectedSmartflow.StepName</label>
                </div>
                <div class="form-group">
                    <label>Background Colour:</label>
                    <label class="thumbnail-item rounded" style="height: 35px; background-color: @getHTMLColourFromAndroid(_SelectedSmartflow.BackgroundColour)">
                        @ListSmartflowColours.Where(C => C.ColourCode == @_SelectedSmartflow.BackgroundColour).Select(C => C.ColourName).SingleOrDefault()
                    </label>
                </div>
                <div class="form-group" style="height: 100px; margin: 0; padding: 0;">

                    @if (!string.IsNullOrEmpty(_SelectedSmartflow.BackgroundImageName))
                    {

                        <label class="d-block">Selected Background Image</label>
                        <img src="@_SelectedSmartflow.BackgroundImage.Replace("/wwwroot","")" alt="" class="img-thumbnail ml-2" />


                    }
                    else
                    {
                        <label class="d-block">No background image selected</label>
                        <img src="/images/BackgroundImages/NoImage.jpg" alt="" class="img-thumbnail ml-2" />

                    }

                </div>
                <div class="form-group hidden-lg-down">
                    <label style="display: inline-block; width: 150px">Preview Image</label>
                    <label class="switch">
                        <input type="checkbox" @bind="PreviewSmartflowImage">
                        <span class="slider round"></span>
                    </label>
                </div>

            }
        </div>

    </div>
</div>