@using GadjIT_App.Pages._Shared.Modals


<div class="grid-chapter grid-casetype-docs">

    @if (LstDocs == null || LstDocs.Count() == 0)
    {
        <div class="spinner"></div>
    }
    else
    {
      
        <div class="grid-actions">
            <div class="btn-group">
                <button @onclick='() => DownloadDocumentPermissionsSQL()' class="btn btn-main btn-shadow" title="Download SQL to update Dm_DocumentPermissions"><i class="fa fa-download"></i><span>Doc Permissions</span></button>
                <button @onclick='() => DownloadDocumentRenameCommands()' class="btn btn-main btn-shadow" title="Download SQL and DOS commands to rename Wprd documents to be the same as P4W"><i class="fa fa-download"></i><span>Sync Doc Names</span></button>
            </div>
        </div>



        <div class="grid-can-edit">
            <div class="row grid-header invisible-md-down">
                <div class="data-item ">
                    <div class="data-item-sub">
                        Smartflow
                    </div>
                </div>
                <div class="data-item ">
                    <div class="data-item-sub">
                        Document
                    </div>
                </div>
                <div class="data-item ">
                    <div class="data-item-sub">
                        Display Name
                    </div>
                </div>
                
                <div class="data-item ">
                    <div class="data-item-sub">
                        
                    </div>
                </div>
            </div>
            <div class="grid-data">

                @foreach(var docItem in LstDocs)
                {
                    <div class="row grid-row grid-row-lg">
                        <div class="data-item ">

                            <div class="data-item-sub">
                                @docItem.SmartflowName
                                
                            </div>

                        </div>
                        <div class="data-item ">

                            @if (docItem.IsAttachment)
                            {
                                <div class="">
                                    <ModalTooltip Direction="left" Text=@("Attachment") Class="w-3">
                                        <span class="fa fa-paperclip"></span>
                                    </ModalTooltip>
                                </div>
                            }
                            <div class="data-item-sub">
                                @docItem.ItemName
                                @if(docItem.ItemName != docItem.OrigItemName)
                                {
                                    <div class="secondary-item" title="Original Document Name before the change">
                                        Original Name: @docItem.OrigItemName
                                    </div>
                                }
                            </div>
                            

                            @if (docItem.IsItemLinked)
                            {
                                <div class="data-item-right hidden-md-down font-green">
                                    <ModalTooltip Direction="left" Text=@("Linked to " + @docItem.ItemName) Class="w-3">
                                        <span class="fa fa-check"></span>
                                    </ModalTooltip>
                                </div>
                            }
                            else
                            {
                                <div class="data-item-right hidden-md-down font-red">
                                    <ModalTooltip Direction="left" Text=@(@docItem.ItemName + " does not exist on P4W") Class="w-3">
                                        <span class="fa fa-times"></span>
                                    </ModalTooltip>
                                </div>
                            }

                        </div>
                        <div class="data-item ">

                            <div class="data-item-sub">
                                @docItem.AltName
                            </div>

                        </div>
                        
                        <div class="data-item font-85">

                            @if(docItem.IsItemLinked)
                            {
                                <button class="btn btn-success btn-sm" style="width: 70px" @onclick='() => ShowLinkDocumentModal(docItem)'>Change</button>
                            }
                            else
                            {
                                <button class="btn btn-danger btn-sm" style="width: 70px" @onclick='() => ShowLinkDocumentModal(docItem)'>Link</button>
                            }

                        
                        </div>
                        

                    </div>
                }

                

            </div>
        </div>
    }
</div>