@using GadjIT_App.Data.CustomFormObjects;

<EditForm Model="@CopyObject" OnValidSubmit="HandleValidSubmit">
    <div class="modal-body">

        <DataAnnotationsValidator />

        <div class="form-group">
            <label for="FeeName">Fee Name</label>
            <InputText class="form-control form-control-xl" @bind-Value="@CopyObject.FeeName" />
            <ValidationMessage For="@(() => CopyObject.FeeName)" />
        </div>
        <div class="form-group">
            <label for="FeeNCategory">Fee Category</label>
            <InputSelect class="form-control form-control-md" @bind-Value="CopyObject.FeeCategory">
                @if (CopyObject.FeeCategory is null)
                {
                    <option value="">Select</option>
                }
                else
                {
                    <option value="@CopyObject.FeeCategory">@CopyObject.FeeCategory</option>
                }


                @foreach (var category in FeeCategories.Where(C => C != CopyObject.FeeCategory).OrderBy(C => C).ToList())
                {
                    <option value="@category">
                        @category
                    </option>
                }
            </InputSelect>
        </div>
        <div class="form-group">
            <label for="Amount">Amount</label>
            <InputNumber class="form-control form-control-sm" @bind-Value="@CopyObject.Amount" />
        </div>
        <div class="form-group">
            <label for="VATable">VAT</label>
            <InputCheckbox class="form-control" @bind-Value="VATable" />
        </div>
        <div class="form-group">
            <label for="PostingType">Posting Type</label>
            <InputSelect class="form-control form-control-xl" @bind-Value="CopyObject.PostingType">
                @if (CopyObject.PostingType is null)
                {
                    <option value="">Select</option>
                }
                else
                {
                    <option value="@CopyObject.PostingType">@PostingTypes.Where(P => P.Code == CopyObject.PostingType).Select(P => P.Description).SingleOrDefault()</option>
                }


                @foreach (var postingtype in PostingTypes.Where(C => C.Code != CopyObject.PostingType).OrderBy(C => C.Code).ToList())
                {
                    <option value="@postingtype.Code">
                        @postingtype.Description
                    </option>
                }
            </InputSelect>
        </div>

 
    </div>

    <div class="button-container">
        <button type="submit" class="btn btn-main">Save</button>
        <button type="button" class="btn btn-secondary" @onclick="Close">Cancel</button>
    </div>
</EditForm>