@using GadjIT_ClientContext.P4W.Custom


<div class="grid-chapter grid-casetype-smartflows">

    @if (LstSmartflows == null)
    {
        <div class="spinner"></div>
    }
    else
    {
      
        <div class="grid-actions">

            
        </div>



        <div class="grid-can-edit">
            
            <div class="grid-data">
                <Dropzone Items="LstSmartflows"
                                    InstantReplace="true"
                                    OnItemDrop="@((sf)=>ReSequenceSmartFlows(LstSmartflows.IndexOf(sf) + 1))"
                                    OnDragStartParam="() => ResetRowChanged()"
                                    TItem="VmUsrOrsfSmartflows">

                
                    <div class="row grid-row grid-row-lg @(RowChanged == context.SmartflowObject.SeqNo && !SeqMoving ? "row-changed" : "" )">
                        <div class="data-item ">

                            <div class="data-item-sub">
                                @context.SmartflowObject.SmartflowName
                                
                            </div>
                            <div class="data-item-right seq-change">
                                <div @onclick='() => MoveSmartFlowSeq(context.SmartflowObject, "Chapters", "Up")' class="@(@context.SmartflowObject.SeqNo == 1 ? "hidden" : "")"><span class="fa fa-angle-up"></span></div>
                                <div class="seq-no">@context.SmartflowObject.SeqNo</div>
                                <div @onclick='() => MoveSmartFlowSeq(context.SmartflowObject, "Chapters", "Down")' class="@(@context.SmartflowObject.SeqNo == LstSmartflows.Count() ? "hidden" : "")"><span class="fa fa-angle-down"></span></div>
                            </div>

                        </div>
                        <div class="data-item ">

                                @if(context.StatisticsStatus == "Set")
                                {
                                    <div class="@(context.NumAgenda > 0 ? "font-green" : "")">
                                        <div>
                                            <i class="fa fa-folder-open" Title="Agenda"></i>
                                        </div>
                                        @context.NumAgenda
                                    </div>
                                    <div class="@(context.NumStatus > 0 ? "font-green" : "")">
                                        <div>
                                            <i class="fa fa-battery-half" Title="Status"></i>
                                        </div>
                                        @context.NumStatus
                                    </div>
                                    <div class="@(context.NumDocs > 0 ? "font-green" : "")">
                                        <div>
                                            <i class="fa fa-file" Title="Documents"></i>
                                        </div>
                                        @context.NumDocs
                                    </div>
                                    <div class="@(context.NumFees > 0 ? "font-green" : "")">
                                        <div>
                                            <i class="fa fa-pound-sign" Title="Fees"></i>
                                        </div>
                                        @context.NumFees
                                    </div>
                                    <div class="@(context.NumDataViews > 0 ? "font-green" : "")">
                                        <div>
                                            <i class="fa fa-database" Title="Data Views"></i>
                                        </div>
                                        @context.NumDataViews
                                    </div>
                                    <div class="@(context.NumMessages > 0 ? "font-green" : "")">
                                        <div>
                                            <i class="fa fa-comment" Title="Messages"></i>
                                        </div>
                                        @context.NumMessages
                                    </div>

                                }
                            

                        </div>
                        <div class="data-item ">
                            @if(context.BackgroundImageName != null)
                            {
                                <img src="@context.BackgroundImage.Replace("/wwwroot","")" alt="" class="img-thumbnail" />

                            }

                        </div>
                        
                        <div class="data-item ">
                            
                            <button class="btn btn-success" @onclick='() => SelectChapter(context.SmartflowObject)'>Edit</button>

                        </div>
                        

                    </div>
                </Dropzone>

                

            </div>
        </div>
    }
</div>