@if (!(_Object.AltDataView is null | _Object.DataView is null))
{
    <div class="modal-body" tabindex="0">
        <table class="table-basic table-top-header table-left-header table-borderless">
            <thead>

                <tr>
                    <td style="width: 150px">
                    </td>
                    <td style="width: 250px">
                        <div class=" d-flex justify-content-center">
                            @(UserSession.SelectedSystem == "Dev" ? "Dev" : "Live")
                        </div>
                    </td>
                    <td style="width: 250px">
                        <div class=" d-flex justify-content-center">
                            @UserSession.AltSystem
                        </div>
                    </td>
                    <td style="width: 30px">
                    </td>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Seq Number
                    </td>
                    <td>
                        @_Object.DataView.SeqNo
                    </td>
                    <td>
                        @_Object.AltDataView.SeqNo
                    </td>
                    <td>
                        <span class="fa fa-@(_Object.ComparisonList.Contains("SeqNo") ? "exclamation" : "check")"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        View Name:
                    </td>
                    <td>
                        <input type="text" class="read-only" readonly value="@_Object.DataView.ViewName" />
                    </td>
                    <td>
                        <input type="text" class="read-only" value="@_Object.AltDataView.ViewName" />
                    </td>
                    <td>
                        <span class="fa fa-@(_Object.ComparisonList.Contains("ViewName") ? "exclamation" : "check")"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Display Name
                    </td>
                    <td>
                        <input type="text" class="read-only" readonly value="@_Object.DataView.DisplayName" />
                    </td>
                    <td>
                        <input type="text" class="read-only" value="@_Object.AltDataView.DisplayName" />
                    </td>
                    <td>
                        <span class="fa fa-@(_Object.ComparisonList.Contains("DisplayName") ? "exclamation" : "check")"></span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div class=" d-flex justify-content-center">
                            <button type="submit" autofocus class="btn btn-main" @onclick="() => HandleSyncItem()">Copy to @UserSession.AltSystem</button>
                        </div>
                    </td>
                    <td>
                        @* <div class=" d-flex justify-content-center">
                            <button type="submit" autofocus class="btn btn-main" @onclick="() => HandleValidSubmit(true)">Copy to @UserSession.AltSystem</button>
                        </div> *@
                    </td>
                    <td>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}
else
{

    <div class="modal-body">
        <p>Smartflow item does not exist on @UserSession.AltSystem</p>
        <p>Do you wish create this object on @UserSession.AltSystem</p>
    </div>
    

    <div class="button-container">
        <button type="submit" autofocus class="btn btn-main" @onclick="() => HandleAddItem()">Create on @UserSession.AltSystem</button>
        <button type="button" class="btn btn-secondary" @onclick="() => Close()">Cancel</button>
    </div>
}


