@using GadjIT_App.Data.CustomFormObjects;

<EditForm Model="@_CopyObject" OnValidSubmit="HandleValidSubmit">
    <div class="modal-body">

        <DataAnnotationsValidator />
        @if (Error == 0)
        {
            <div class="form-group">
                <label for="Name">Name</label>
                <InputText class="form-control" @bind-Value="@_CopyObject.Name" />
            </div>
            
            @if (_SelectedSmartflow.P4WCaseTypeGroup != "Entity Documents")
            {
                <div class="form-group">
                <label>Select Milestone</label>
                <div class="form-label-check" style="margin-right: 13px">
                    @if (UseCustomMilestone)
                    {
                        <label>Custom Milestone</label><input type="checkbox" checked="checked" @bind-value="@UseCustomMilestone" />
                    }
                    else
                    {
                        <label>Custom Milestone</label><input type="checkbox" @bind-value="@UseCustomMilestone" />
                    }

                    </div>
                    <div class="form-group">
                        @if (UseCustomMilestone)
                        {
                            <InputText class="form-control" @bind-Value="@_CopyObject.MilestoneStatus" />

                        }
                        else
                        {
                            <InputSelect class="form-control"
                                        @bind-Value="_CopyObject.MilestoneStatus">
                                <option value=""></option>
                                @foreach (var s in _ListOfStatus
                                .Where(S => !string.IsNullOrEmpty(S.ChapterObject.MilestoneStatus))
                                .Where(S => !_ListOfStatus.Select(L => L.ChapterObject.Name).Contains(S.ChapterObject.MilestoneStatus))
                                .GroupBy(S => S.ChapterObject.MilestoneStatus.ToLower())
                                .Select(S => S.First())
                                .ToList()
                                )
                                {
                                    <option value="@s.ChapterObject.MilestoneStatus">
                                        @s.ChapterObject.MilestoneStatus
                                    </option>
                                }
                                @foreach (var s in _ListOfStatus)
                                {
                                    <option value="@s.ChapterObject.Name">
                                        @s.ChapterObject.Name
                                    </option>
                                }
                            </InputSelect>
                        }
                    </div>
                </div>
            }
            <div class="form-group">
                <label for="Suppress">Suppress Step</label>
                <InputCheckbox class="form-control" @bind-Value="SuppressStep" />
            </div>

            
        }else
        {
            <div class="form-group">
                <label>A Status already exists with this name.</label>
            </div>
        }

    </div>

    <div class="button-container">
        @if (Error == 0)
        {
            <button type="submit" class="btn btn-main">Save</button>
            <button type="button" class="btn btn-secondary" @onclick="Close">Cancel</button>
        }
        else
        {
            <button type="button" class="btn btn-main" @onclick="ResetError">Return</button>
            <button type="button" class="btn btn-secondary" @onclick="Close">Cancel</button>
        }

    </div>
    <ValidationSummary></ValidationSummary>
</EditForm>