<EditForm Model="@TaskObject" OnValidSubmit="@HandleValidSubmit">
    <div class="modal-body">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="@TaskObject.Name">Role Name</label>
            <InputText class="form-control" @bind-Value="TaskObject.Name"></InputText>
        </div>
        <div class="form-group">
            <label for="@TaskObject.RoleDescription">Role Description</label>
            <InputTextArea class="form-control" style="height: 90px" @bind-Value="TaskObject.RoleDescription"></InputTextArea>
        </div>


    </div>
    <div class="button-container">
        <button type="submit" class="btn btn-main">Save</button>
        <button type="button" @onclick="@Close" class="btn btn-secondary">Cancel</button>
    </div>
</EditForm>


