@if (!(_Object.AltObject is null | _Object.FeeObject is null))
{
    <div class="modal-body" tabindex="0">
        <table class="table-basic table-top-header table-left-header table-borderless">
            <thead>

                <tr>
                    <td style="width: 150px">
                    </td>
                    <td style="width: 250px">
                        <div class=" d-flex justify-content-center">
                            @(UserSession.SelectedSystem == "Dev" ? "Dev" : "Live")
                        </div>
                    </td>
                    <td style="width: 250px">
                        <div class=" d-flex justify-content-center">
                            @UserSession.AltSystem
                        </div>
                    </td>
                    <td style="width: 30px">
                    </td>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Seq Number
                    </td>
                    <td>
                        @_Object.FeeObject.SeqNo
                    </td>
                    <td>
                        @_Object.AltObject.SeqNo
                    </td>
                    <td>
                        <span class="fa fa-@(_Object.ComparisonList.Contains("SeqNo") ? "exclamation" : "check")"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Fee Name:
                    </td>
                    <td>
                        <input type="text" class="read-only" readonly value="@_Object.FeeObject.FeeName" />
                    </td>
                    <td>
                        <input type="text" class="read-only" value="@_Object.AltObject.FeeName" />
                    </td>
                    <td>
                        <span class="fa fa-@(_Object.ComparisonList.Contains("FeeName") ? "exclamation" : "check")"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Fee Category
                    </td>
                    <td>
                        <input type="text" class="read-only" readonly value="@_Object.FeeObject.FeeCategory" />
                    </td>
                    <td>
                        <input type="text" class="read-only" value="@_Object.AltObject.FeeCategory" />
                    </td>
                    <td>
                        <span class="fa fa-@(_Object.ComparisonList.Contains("FeeCategory") ? "exclamation" : "check")"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        Amount
                    </td>
                    <td>
                        @_Object.FeeObject.Amount
                    </td>
                    <td>
                        @_Object.AltObject.Amount
                    </td>
                    <td>
                        <span class="fa fa-@(_Object.ComparisonList.Contains("Amount") ? "exclamation" : "check")"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        VATable
                    </td>
                    <td>
                        <input type="text" class="read-only" value="@_Object.FeeObject.VATable" />
                    </td>
                    <td>
                        <input type="text" class="read-only" value="@_Object.AltObject.VATable" />
                    </td>
                    <td>
                        <span class="fa fa-@(_Object.ComparisonList.Contains("VATable") ? "exclamation" : "check")"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Posting Type
                    </td>
                    <td>
                        <input type="text" class="read-only" value="@_Object.FeeObject.PostingType" />
                    </td>
                    <td>
                        <input type="text" class="read-only" value="@_Object.AltObject.PostingType" />
                    </td>
                    <td>
                        <span class="fa fa-@(_Object.ComparisonList.Contains("PostingType") ? "exclamation" : "check")"></span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div class=" d-flex justify-content-center">
                            <button type="submit" autofocus class="btn btn-main" @onclick="() => HandleSyncItem()">Copy to @UserSession.AltSystem</button>
                        </div>
                    </td>
                    <td>
                        @* <div class=" d-flex justify-content-center">
                            <button type="submit" autofocus class="btn btn-main" @onclick="() => HandleValidSubmit(true)">@(UserSession.SelectedSystem == "Dev" ? "Dev <<" : "Live <<")</button>
                        </div> *@
                    </td>
                    <td>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}
else
{

    <div class="modal-body">
        <p>Smartflow item does not exist on @UserSession.AltSystem</p>
        <p>Do you wish create this object on @UserSession.AltSystem</p>
    </div>
    

    <div class="button-container">
        <button type="submit" autofocus class="btn btn-main" @onclick="() => HandleAddItem()">Create on @UserSession.AltSystem</button>
        <button type="button" class="btn btn-secondary" @onclick="() => Close()">Cancel</button>
    </div>
}


