@page "/chapterlist"
@page "/chapterlist/{selectedCaseTypeGroup}"
@page "/chapterlist/{selectedCaseTypeGroup}/{selectedCaseType}"
@page "/chapterlist/{selectedCaseTypeGroup}/{selectedCaseType}/{selectedChapter}"

@inject IJSRuntime jsRuntime
@using Gizmo_V1_02.Pages.Shared.Modals


@if (ListChapterLoaded == false)
{
    <div class="spinner"></div>
}
else
{


    @if (selectedChapter == "" | selectedChapter is null)
    {
        <div class="tran-block page-header-block ">
            <h3>Chapters</h3>
            <p class="hidden-md-down">Create and maintain chapters for all case types. <em>Note: please make sure you are pointing to the appropriate system.</em></p>
        </div>
        <div class="mb-4 col-xl-6 col-lg-12 col-md-12 col-sm-12 grid-tran grid-chapter-nav">
            @if (sessionState.isAdminUser)
            {
                <div class="grid-actions">
                    <button @onclick='PrepareChapterForInsert' class="btn btn-main btn-shadow" title="Add new chapter"><i class="fa fa-plus pr-1"></i>New Chapter</button>
                    @if (!(string.IsNullOrEmpty(selectedCaseType)))
                    {
                        @if (!(SequenceIsValid("Chapters")))
                        {
                            <button @onclick='() => CondenseSeq("Chapters")' class="btn btn-main btn-shadow" title="Re-order Sequence Numbers"><i class="fa fa-sort-numeric-down"></i></button>
                        }
                    }

                </div>

            }
            <div class="container-fluid">

                <!-- SHOW ALL GROUPS -->
                @foreach (var caseTypeGroup in lstChapters.Where(C => C.ChapterObject.ParentId == 0)
  .Where(C => !(C.ChapterObject.CaseTypeGroup is null))
  .Select(C => C.ChapterObject.CaseTypeGroup)
  .Distinct()
  .ToList())
                {

                    <div class="grid-row-lg mt-3 nav-row-1">
                        <div class="data-item" title="Group: click to see case types assigned to @caseTypeGroup">
                            @if (sessionState.isAdminUser)
                            {
                                <div class="btn-ellipses float-left">
                                    <span class="fa fa-ellipsis-v"></span>
                                    <div class="ellipsis-menu">
                                        <ul>
                                            <li class="col-main" @onclick='() => PrepareCaseTypeForEdit(caseTypeGroup, "CaseTypeGroup")'>
                                                <span class="fa fa-font mr-2"></span>
                                                <span>Rename</span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            }

                            <div class="data-item-nav" @onclick='() => SelectCaseTypeGroup(caseTypeGroup)'>
                                <div class="data-item-sub"><span class="fa fa-boxes mr-2"></span>@caseTypeGroup</div>
                                <div class="data-item-right col-alt"><div class="link-direction @(caseTypeGroup == selectedCaseTypeGroup ? "triangle-up col-grey" : "triangle-down")"></div></div>
                            </div>
                        </div>


                    </div>



                    <!-- GROUP SELECTED SHOW CASE TYPES-->
                    @if (caseTypeGroup == selectedCaseTypeGroup)
                    {

                        @foreach (var caseType in lstChapters.Where(C => C.ChapterObject.ParentId == 0)
         .Where(C => !(C.ChapterObject.CaseType is null))
         .Where(C => C.ChapterObject.CaseTypeGroup == selectedCaseTypeGroup)
         .Select(C => C.ChapterObject.CaseType)
         .Distinct()
         .ToList())
                        {

                            <div class="grid-row-md nav-row-2">
                                <div class="data-item" title="Case Type: click to see the chapters within @caseType">
                                    @if (sessionState.isAdminUser)
                                    {
                                        <div class="btn-ellipses float-left">
                                            <span class="fa fa-ellipsis-v"></span>
                                            <div class="ellipsis-menu">
                                                <ul>
                                                    <li class="col-main" @onclick='() => PrepareCaseTypeForEdit(caseType, "CaseType")'>

                                                        <span class="fa fa-font mr-2"></span>
                                                        <span>Rename</span>

                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    }
                                    <div class="data-item-nav" @onclick='() => SelectCaseType(caseType)'>
                                        @if (caseType == selectedCaseType)
                                        {
                                            <div class="data-item-sub">
                                                <span class="fa fa-folder-open mr-2"></span>@caseType
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="data-item-sub">
                                                <span class="fa fa-folder mr-2"></span>@caseType
                                            </div>
                                        }


                                        <div class="data-item-right col-alt " @onclick='() => SelectCaseType(caseType)'><div class="link-direction @(caseType == selectedCaseType ? "triangle-up col-grey" : "triangle-down")"></div></div>
                                    </div>
                                </div>

                            </div>
                            @if (caseType == selectedCaseType)
                            {
                                <div class="grid-nav">
                                    @foreach (var Chapter in lstChapters
                                                            .Where(C => C.ChapterObject.CaseType == selectedCaseType)
                                                            .Where(C => C.ChapterObject.CaseTypeGroup == selectedCaseTypeGroup)
                                                            .Where(C => C.ChapterObject.Type == "Chapter")
                                                            .OrderBy(C => C.ChapterObject.SeqNo)
                                                            .ToList())
                                    {
                                        <div class="grid-row-md nav-row-3 no-border @(rowChanged == Chapter.ChapterObject.SeqNo ? ToggleRowChangedClass() : "" )">
                                            <div class="data-item ">

                                                @if (sessionState.isAdminUser)
                                                {
                                                    <div class="btn-ellipses float-left">
                                                        <span class="fa fa-ellipsis-v"></span>
                                                        <div class="ellipsis-menu">
                                                            <ul>
                                                                <li class="col-main" @onclick='() => PrepareChapterForEdit(Chapter.ChapterObject, "Chapter")' title="">
                                                                    <span class="fa fa-font mr-2"></span>
                                                                    <span>Rename</span>
                                                                </li>
                                                                <li class="col-main" @onclick="() => SelectChapter(Chapter.ChapterObject.Name,Chapter.ChapterObject.Id)" title="">
                                                                    <span class="fa fa-pencil-alt mr-2"></span>
                                                                    <span>Edit</span>
                                                                </li>
                                                                <li class="col-red" @onclick='() => PrepareChapterDelete(Chapter)' title="">
                                                                    <span class="fa fa-trash-alt mr-2"></span>
                                                                    <span>Delete</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                }
                                                <div class="data-item-sub">
                                                    <span class=" fa fa-share-alt-square mr-2"></span>
                                                    @Chapter.ChapterObject.Name
                                                </div>
                                                @if (sessionState.isAdminUser)
                                                {
                                                    <div class="data-item-right seq-change">
                                                        <div @onclick='() => MoveSeq(Chapter.ChapterObject, "Chapters", "Up")'><span class="fa fa-angle-up"></span></div>
                                                        <div class="seq-no">@Chapter.ChapterObject.SeqNo</div>
                                                        <div @onclick='() => MoveSeq(Chapter.ChapterObject, "Chapters", "Down")'><span class="fa fa-angle-down"></span></div>
                                                    </div>
                                                }
                                                <div title="Chapter: click to configure @Chapter.ChapterObject.Name" class="data-item-right link-direction" @onclick="() => SelectChapter(Chapter.ChapterObject.Name,Chapter.ChapterObject.Id)">
                                                    <div class="fa fa-chevron-circle-right"></div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div>
                            }

                        }
                    }
                }
            </div>
        </div>

    }
}

@if (selectedChapter != "" & !(selectedChapter is null))
{

    <div class="tran-block page-header-block ">
        <div class="float-left back-link">
            <a href="javascript: void(0);" @onclick="SelectHome"><span class="col-alt fa fa-angle-double-left"></span></a>
        </div>
        <h3>Chapter: @selectedChapter</h3>
        <p class="hidden-md-down">Group: <span class="badge badge-grey mr-3">@selectedCaseTypeGroup</span> Case Type: <span class="badge badge-grey mr-3">@selectedCaseType</span> Chapter: <span class="badge badge-grey mr-3"> @selectedChapter</span></p>
    </div>

    <div class="tran-block rounded">
        <div class="tran-navbar hidden-lg-down">
            <nav class="navbar navbar-expand ">

                <ul class="navbar-nav">

                    <li class="@(navDisplay == "Agenda" ? "active" : "")">
                        <a href="javascript:void(0);" @onclick='() => ShowNav("Agenda")'><span>Agenda</span></a>
                    </li>
                    <li class="@(navDisplay == "Status" ? "active" : "")">
                        <a href="javascript:void(0);" @onclick='() => ShowNav("Status")'><span>Status</span></a>
                    </li>
                    <li class="@(navDisplay == "Docs" ? "active" : "")">
                        <a href="javascript:void(0);" @onclick='() => ShowNav("Docs")'><span>Documents</span></a>
                    </li>
                    <li class="@(navDisplay == "Fees" ? "active" : "")">
                        <a href="javascript:void(0);" @onclick='() => ShowNav("Fees")'><span>Fees</span></a>
                    </li>


                </ul>

            </nav>
        </div>

        <div class="page-navbar hidden-xl-up">
            <ul class="nav nav-pills tran-tabs">
                <li class="nav-item @(navDisplay == "Agenda" ? "active" : "")">
                    <a class="nav-link" href="javascript:void(0);" @onclick='() => ShowNav("Agenda")'><span>Agenda</span></a>
                </li>
                <li class="nav-item  @(navDisplay == "Status" ? "active" : "")">
                    <a class="nav-link" href="javascript:void(0);" @onclick='() => ShowNav("Status")'><span>Status</span></a>
                </li>
                <li class="nav-item @(navDisplay == "Docs" ? "active" : "")">
                    <a class="nav-link" href="javascript:void(0);" @onclick='() => ShowNav("Docs")'><span>Documents</span></a>
                </li>
                <li class="nav-item @(navDisplay == "Fees" ? "active" : "")">
                    <a class="nav-link" href="javascript:void(0);" @onclick='() => ShowNav("Fees")'><span>Fees</span></a>
                </li>


            </ul>
        </div>

        @if (displaySpinner)
        {
            <div class="spinner"></div>
        }
        else
        {
            @if (navDisplay == "Docs")
            {

                <div class="grid-chapter-docs">
                    <div class="mb-3 flex-box">
                        @if (sessionState.isAdminUser)
                        {
                            <div class="grid-actions">
                                <button @onclick='() => PrepareForInsert(navDisplay,"Steps and Documents")' class="btn btn-main btn-shadow" title="Add new document/step"><i class="fa fa-plus"></i></button>

                                <button @onclick='() => CondenseSeq("Docs")' class="btn btn-main btn-shadow @(SequenceIsValid("Docs") ? "invisible" : "")" title="Re-order Sequence Numbers"><i class="fa fa-sort-numeric-down"></i></button>
                            </div>
                        }
                        <div class="pt-1">
                            <ModalTooltip Direction="top" Text="Documents and steps to be made available in the chapter for inserting into the case agenda!">
                                <span class="info-icon">
                                    <span class=" fa fa-info-circle fa-2x "></span>
                                </span>
                            </ModalTooltip>
                        </div>

                        @if (sessionState.isAdminUser)
                        {
                            <div class="hidden-lg-down flex-push pt-2">
                                <input type="checkbox" @onchange="() => ToggleComparison()" /><span class="ml-2 font-75">Compare to @(sessionState.selectedSystem == "Dev" ? "Live" : "Dev") </span>
                            </div>
                        }
                    </div>

                    <div class="@(sessionState.isAdminUser ? "grid-can-edit" : "") ">
                        <div class="row grid-header hidden-md-down">
                            <div class="data-item col-4 ">
                                <div class="data-item-sub">
                                    Name
                                </div>
                            </div>
                            <div class="data-item col-4 ">
                                <div class="data-item-sub">
                                    Schedule
                                </div>
                            </div>
                            <div class="data-item col-4 ">
                                <div class="data-item-sub">
                                    On Completion
                                </div>
                            </div>
                        </div>
                        <div class="grid-data">
                            @foreach (var doc in lstDocs)
                            {

                                <div class="row grid-row grid-row-lg @(rowChanged == doc.ChapterObject.SeqNo ? "row-changed" : "" )">
                                    <div class="data-item col-12 col-lg-4 col-xl-4">

                                        @if (sessionState.isAdminUser)
                                        {
                                            @if (!compareSystems)
                                            {
                                                <div class="btn-ellipses float-left">
                                                    <span class="fa fa-ellipsis-v"></span>
                                                    <div class="ellipsis-menu">
                                                        <ul>
                                                            <li class="col-main" @onclick='(() => PrepareForEdit(doc, "Steps and Documents"))'>
                                                                <span class="fa fa-pencil-alt mr-2"></span>
                                                                <span>Edit</span>
                                                            </li>
                                                            <li class="col-red" @onclick="() => PrepareChapterDetailDelete(doc)">
                                                                <span class="fa fa-trash-alt mr-2"></span>
                                                                <span>Delete</span>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="data-item-sub ">
                                                    <!--"Doc", "Letter", "Form", "Email", "Step"-->
                                                    @switch (doc.ChapterObject.Type)
                                                    {
                                                        case "Doc":
                                                            <span class="font-100"><span class="fa fa-file mr-2"></span></span>
                                                            break;
                                                        case "Letter":
                                                            <span class="font-100"><span class="fa fa-file-alt mr-2"></span></span>
                                                            break;
                                                        case "Form":
                                                            <span class="font-100"><span class="fa fa-file-pdf mr-2"></span></span>
                                                            break;
                                                        case "Email":
                                                            <span class="font-100"><span class="fa fa-envelope mr-2"></span></span>
                                                            break;
                                                        case "Step":
                                                            <span class="font-100"><span class="fa fa-list-ol mr-2"></span></span>
                                                            break;
                                                        default:
                                                            <span class="font-100"><span class="fa fa-file mr-2"></span></span>
                                                            break;
                                                    }


                                                    @doc.DocDisplayName
                                                </div>
                                                @if (doc.DocOrigName != "")
                                                {

                                                    <div class="data-item-right mr-2 font-100">
                                                        <ModalTooltip Direction="top" Text=@("Template: " + doc.DocOrigName) Class="w-3">
                                                            <span class="fa fa-clone"></span>
                                                        </ModalTooltip>
                                                    </div>

                                                }
                                                <div class="data-item-right mr-2 seq-change">
                                                    <div @onclick='() => MoveSeq(doc.ChapterObject,"Docs","Up")'><span class="fa fa-angle-up"></span></div>
                                                    <div class="seq-no">@doc.ChapterObject.SeqNo</div>
                                                    <div @onclick='() => MoveSeq(doc.ChapterObject,"Docs","Down")'><span class="fa fa-angle-down"></span></div>
                                                </div>
                                            }
                                            else
                                            {

                                                <div class="btn-ellipses float-left">
                                                    @if (!(doc.ComparisonIcon is null))
                                                    {
                                                        @if (!(doc.ComparisonResult == "Exact match"))
                                                        {
                                                            <div class="btn-dashed" @onclick="() => PrepareForComparison(doc)"><span class="fa fa-@doc.ComparisonIcon"></span></div>
                                                        }
                                                        else
                                                        {
                                                            <span class="fa fa-@doc.ComparisonIcon"></span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <div class="spinner"></div>
                                                    }

                                                </div>


                                                <div class="data-item-sub">
                                                    <span class="fa fa-file mr-2"></span> @doc.ChapterObject.Name
                                                </div>
                                                <div class="data-item-right mr-2 ">
                                                    <div class="seq-no">@doc.ChapterObject.SeqNo</div>
                                                </div>

                                            }
                                        }
                                        else
                                        {
                                            <div class="data-item-sub">
                                                <span class="far fa-file mr-1"></span> @doc.ChapterObject.Name
                                                <div class="data-item-right mr-2 ">
                                                    <div class="seq-no">@doc.ChapterObject.SeqNo</div>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                    <div class="hidden-md-down col-4 data-item ">
                                        <div class="data-item-sub font-85 pl-3">@(string.IsNullOrEmpty(doc.ChapterObject.AsName) ? "" : doc.ChapterObject.AsName)</div>

                                        @if (doc.ChapterObject.RescheduleDays.HasValue)
                                        {
                                            <div class="data-item-right schedule-days">
                                                <ModalTooltip Direction="left" Text="@(string.IsNullOrEmpty(doc.ChapterObject.AsName) ? "" : "The step named " + doc.ChapterObject.AsName + " will be scheduled for " +  doc.ChapterObject.RescheduleDays.ToString() + " days")">
                                                    <span class="badge rounded-square">@doc.ChapterObject.RescheduleDays.ToString() days</span>
                                                </ModalTooltip>
                                            </div>
                                        }

                                    </div>
                                    <div class="hidden-md-down col-4 data-item ">
                                        @if (!(string.IsNullOrEmpty(doc.ChapterObject.CompleteName)))
                                        {
                                            <div class="data-item-sub font-85 pl-3" title="This step will be saved in the agenda as @doc.ChapterObject.CompleteName.">
                                                @doc.ChapterObject.CompleteName
                                            </div>

                                        }
                                        else
                                        {
                                            <div class="data-item-sub">
                                            </div>
                                        }

                                        @if (!(string.IsNullOrEmpty(doc.ChapterObject.NextStatus)))
                                        {
                                            @if (lstStatus.Where(S => S.ChapterObject.Name == doc.ChapterObject.NextStatus).Select(S => S.ChapterObject.SuppressStep).SingleOrDefault() == "Y")
                                            {
                                                <div class="data-item-right suppress-step">
                                                    <ModalTooltip Direction="left" Text="This document will end the chapter when taken.">
                                                        <span class="fa fa-flag-checkered"></span>
                                                    </ModalTooltip>
                                                </div>
                                            }


                                            <div class="data-item-right suppress-step font-100">
                                                <ModalTooltip Direction="left" Text=@("Status Change: " + doc.ChapterObject.NextStatus)>
                                                    <span class="fa fa-battery-half"></span>
                                                </ModalTooltip>
                                            </div>
                                        }



                                    </div>

                                </div>

                            }
                        </div>
                    </div>
                </div>

            }


            @if (navDisplay == "Agenda")
            {

                <div class="grid-chapter-agenda">
                    <div class="mb-3 flex-box">
                        @if (sessionState.isAdminUser)
                        {
                            <div>
                                <button @onclick='() => PrepareForInsert(navDisplay,"Agenda")' class="btn btn-main btn-shadow" title="Add new agenda"><i class="fa fa-plus"></i></button>
                            </div>
                        }
                        <div class="pt-1">
                            <ModalTooltip Direction="top" Text="Correspondence stored in these agendas will be made avalible on the History tab.">
                                <span class="info-icon">
                                    <span class=" fa fa-info-circle fa-2x "></span>
                                </span>
                            </ModalTooltip>

                        </div>
                        @if (sessionState.isAdminUser)
                        {
                            <div class="hidden-lg-down flex-push pt-2">
                                <input type="checkbox" @onchange="() => ToggleComparison()" /><span class="ml-2 font-75">Compare to @(sessionState.selectedSystem == "Dev" ? "Live" : "Dev") </span>
                            </div>
                        }
                    </div>

                    <div class="@(sessionState.isAdminUser ? "grid-can-edit" : "") ">

                        @foreach (var agenda in lstAgendas)
                        {

                            <div class="row grid-row">
                                <div class="col-12 data-item">
                                    @if (sessionState.isAdminUser)
                                    {

                                        @if (!compareSystems)
                                        {
                                            <div class="btn-ellipses float-left">
                                                <span class="fa fa-ellipsis-v"></span>
                                                <div class="ellipsis-menu">
                                                    <ul>
                                                        <li class="col-main" @onclick='(() => PrepareForEdit(agenda, "Agenda"))'>
                                                            <span class="fa fa-pencil-alt mr-2"></span>
                                                            <span>Edit</span>
                                                        </li>
                                                        <li class="col-red" @onclick="() => PrepareChapterDetailDelete(agenda)">
                                                            <span class="fa fa-trash-alt mr-2"></span>
                                                            <span>Delete</span>
                                                        </li>

                                                    </ul>

                                                </div>
                                            </div>
                                        }
                                        else
                                        {

                                            <div class="btn-ellipses float-left">
                                                @if (!(agenda.ComparisonIcon is null))
                                                {
                                                    @if (!(agenda.ComparisonResult == "Exact match"))
                                                    {
                                                        <div class="btn-dashed" @onclick="() => PrepareForComparison(agenda)"><span class="fa fa-@agenda.ComparisonIcon"></span></div>
                                                    }
                                                    else
                                                    {
                                                        <span class="fa fa-@agenda.ComparisonIcon"></span>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="spinner"></div>
                                                }

                                            </div>
                                        }



                                    }
                                    <div class="data-item-sub">
                                        <span class="font-100"><span class="fa fa-folder-open mr-2"></span></span>@agenda.ChapterObject.Name
                                    </div>
                                </div>

                            </div>

                        }
                    </div>
                </div>

            }

            @if (navDisplay == "Fees")
            {

                <div class="grid-chapter-fees">
                    <div class="mb-3 flex-box">
                        @if (sessionState.isAdminUser)
                        {
                            <div class="grid-actions">
                                <button @onclick='() => PrepareFeesForEdit()' class="btn btn-main btn-shadow" title="Change selected fees"><i class="fa fa-pencil-alt"></i></button>
                                <button @onclick='() => CondenseSeq("Fees")' class="btn btn-main btn-shadow @(SequenceIsValid("Fees") ? "invisible" : "")" title="Re-order Sequence Numbers"><i class="fa fa-sort-numeric-down"></i></button>

                            </div>
                        }
                        <div class="pt-1">
                            <ModalTooltip Direction="top" Text="Fees to be made available in the chapter. Default values will be automatically calculated where possible.">
                                <span class="info-icon">
                                    <span class=" fa fa-info-circle fa-2x "></span>
                                </span>
                            </ModalTooltip>
                        </div>
                        @if (sessionState.isAdminUser)
                        {
                            <div class="hidden-lg-down flex-push pt-2">
                                <input type="checkbox" @onchange="() => ToggleComparison()" /><span class="ml-2 font-75">Compare to @(sessionState.selectedSystem == "Dev" ? "Live" : "Dev") </span>
                            </div>
                        }
                    </div>
                    <div class="@(sessionState.isAdminUser ? "grid-can-edit" : "") ">

                        @foreach (var fee in lstFees)
                        {

                            <div class="row grid-row grid-row-lg @(rowChanged == fee.ChapterObject.SeqNo ? "row-changed" : "" )">
                                <div class="col-12 data-item">
                                    @if (sessionState.isAdminUser)
                                    {
                                        @if (!compareSystems)
                                        {

                                            <div class="data-item-sub">
                                                <span class="fa fa-pound-sign mr-2"></span> @fee.ChapterObject.Name
                                            </div>
                                            <div class="data-item-right mr-2 seq-change">
                                                <div @onclick='() => MoveSeq(fee.ChapterObject,"Fees", "Up")'><span class="fa fa-angle-up"></span></div>
                                                <div class="seq-no">@fee.ChapterObject.SeqNo</div>
                                                <div @onclick='() => MoveSeq(fee.ChapterObject,"Fees", "Down")'><span class="fa fa-angle-down"></span></div>
                                            </div>
                                        }
                                        else
                                        {

                                            <div class="btn-ellipses float-left">
                                                @if (!(fee.ComparisonIcon is null))
                                                {
                                                    @if (!(fee.ComparisonResult == "Exact match"))
                                                    {
                                                        <div class="btn-dashed" @onclick="() => PrepareForComparison(fee)"><span class="fa fa-@fee.ComparisonIcon"></span></div>
                                                    }
                                                    else
                                                    {
                                                        <span class="fa fa-@fee.ComparisonIcon"></span>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="spinner"></div>
                                                }

                                            </div>


                                            <div class="data-item-sub">
                                                <span class="fa fa-pound-sign mr-2"></span> @fee.ChapterObject.Name
                                            </div>
                                            <div class="data-item-right mr-2">
                                                <div class="seq-no">@fee.ChapterObject.SeqNo</div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="data-item-sub">
                                            <span class="fa fa-money-bill mr-2"></span> @fee.ChapterObject.Name
                                            <div class="data-item-right mr-2">
                                                <div class="seq-no">@fee.ChapterObject.SeqNo</div>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>

                        }
                    </div>
                </div>

            }

            @if (navDisplay == "Status")
            {

                <div class="grid-chapter-status">
                    <div class="mb-3 flex-box">
                        @if (sessionState.isAdminUser)
                        {
                            <div class="grid-actions">
                                <button @onclick='() => PrepareForInsert(navDisplay,"Status")' class="btn btn-main btn-shadow" title="Add new status"><i class="fa fa-plus"></i></button>
                                <button @onclick='() => CondenseSeq("Status")' class="btn btn-main btn-shadow @(SequenceIsValid("Status") ? "invisible" : "")" title="Re-order Sequence Numbers"><i class="fa fa-sort-numeric-down"></i></button>
                            </div>
                        }
                        <div class="pt-1">
                            <ModalTooltip Direction="top" Text="Status options to assist with the flow of the chapter and to indicate when the chapter is complete">
                                <span class="info-icon">
                                    <span class=" fa fa-info-circle fa-2x "></span>
                                </span>
                            </ModalTooltip>
                        </div>
                        @if (sessionState.isAdminUser)
                        {
                            <div class="hidden-lg-down flex-push pt-2">
                                <input type="checkbox" @onchange="() => ToggleComparison()" /><span class="ml-2 font-75">Compare to @(sessionState.selectedSystem == "Dev" ? "Live" : "Dev") </span>
                            </div>
                        }
                    </div>
                    <div class="@(sessionState.isAdminUser ? "grid-can-edit" : "") ">

                        @foreach (var status in lstStatus)
                        {

                            <div class="row grid-row @(rowChanged == status.ChapterObject.SeqNo ? "row-changed" : "" )">
                                <div class="col-12 data-item">
                                    @if (sessionState.isAdminUser)
                                    {
                                        @if (!compareSystems)
                                        {
                                            <div class="btn-ellipses float-left">
                                                <span class="fa fa-ellipsis-v"></span>
                                                <div class="ellipsis-menu">
                                                    <ul>
                                                        <li class="col-main" @onclick='(() => PrepareForEdit(status, "Status"))'>
                                                            <span class="fa fa-pencil-alt mr-2"></span>
                                                            <span>Edit</span>
                                                        </li>
                                                        <li class="col-red" @onclick="() => PrepareChapterDetailDelete(status)">
                                                            <span class="fa fa-trash-alt mr-2"></span>
                                                            <span>Delete</span>
                                                        </li>

                                                    </ul>

                                                </div>
                                            </div>
                                        }
                                        else
                                        {

                                            <div class="btn-ellipses float-left">
                                                @if (!(status.ComparisonIcon is null))
                                                {
                                                    @if (!(status.ComparisonResult == "Exact match"))
                                                    {
                                                        <div class="btn-dashed" @onclick="() => PrepareForComparison(status)"><span class="fa fa-@status.ComparisonIcon"></span></div>
                                                    }
                                                    else
                                                    {
                                                        <span class="fa fa-@status.ComparisonIcon"></span>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="spinner"></div>
                                                }

                                            </div>


                                        }

                                    }
                                    <div class="data-item-sub">
                                        <span class="font-100"><span class="fa fa-battery-half mr-2"></span></span>@status.ChapterObject.Name
                                    </div>

                                    @if (status.ChapterObject.SuppressStep == "Y")
                                    {
                                        <div class="data-item-right suppress-step mr-5 font-100">
                                            <ModalTooltip Direction="left" Text="This status will end the chapter.">
                                                <span class="fa fa-flag-checkered"></span>
                                            </ModalTooltip>
                                        </div>
                                    }

                                    <div class="data-item-right seq-change">
                                        <div @onclick='() => MoveSeq(status.ChapterObject,"Status","Up")'><span class="fa fa-angle-up"></span></div>
                                        <div class="seq-no">@status.ChapterObject.SeqNo</div>
                                        <div @onclick='() => MoveSeq(status.ChapterObject,"Status","Down")'><span class="fa fa-angle-down"></span></div>
                                    </div>

                                </div>

                            </div>

                        }
                    </div>
                </div>

            }
        }

    </div>


}
