@page "/chapterlist"

@inject IJSRuntime jsRuntime
@using Gizmo_V1_02.Pages.Shared.Modals



@if (lstChapters is null)
{
    <div class="spinner"></div>
}
else
{



    @if (selectedChapter == "")
    {
        <div class="tran-block page-header-block ">
            <h3>Chapters</h3>
            <p>Create and maintain chapters for all case types. <em>Note: please make sure you are pointing to the appropriate system.</em></p>
        </div>
        <div class="mb-4 col-xl-8 col-lg-12 col-md-12 col-sm-12">
            <div class="grid-tran .grid-chapter-nav">
                @if (sessionState.isAdminUser)
                {
                    <button @onclick='PrepareChapterForInsert' class="btn btn-main btn-shadow"><i class="fa fa-plus mr-1"></i> Add New Chapter</button>
                }
                <div class="container-fluid">

                    <!-- SHOW ALL GROUPS -->
                    @foreach (var caseTypeGroup in lstChapters.Where(C => C.ParentId == 0)
             .Where(C => !(C.CaseTypeGroup is null))
             .Select(C => C.CaseTypeGroup)
             .Distinct()
             .ToList())
                    {

                        <div class="row grid-row mt-3">
                            <div class="col-11 col-xl-6 data-item-nav">
                                <a href="javascript:void(0);" @onclick='() => SelectCaseTypeGroup(caseTypeGroup)' class="text-white" title="Group: click to see case types assigned to @caseTypeGroup">
                                    <div class="data-item-sub"><span class="fa fa-boxes mr-2"></span>@caseTypeGroup</div>

                                </a>
                            </div>
                            @if (sessionState.isAdminUser)
                            {
                                <div class="col-1 data-item-edit"><button class="btn btn-edit" @onclick='() => PrepareCaseTypeForEdit(caseTypeGroup, "CaseTypeGroup")' value=""><i class="fa fa-pencil-alt"></i></button></div>
                            }
                        </div>

                        <!-- GROUP SELECTED SHOW CASE TYPES-->
                        @if (caseTypeGroup == selectedCaseTypeGroup)
                        {

                            @foreach (var caseType in lstChapters.Where(C => C.ParentId == 0)
                     .Where(C => !(C.CaseType is null))
                     .Where(C => C.CaseTypeGroup == selectedCaseTypeGroup)
                     .Select(C => C.CaseType)
                     .Distinct()
                     .ToList())
                            {

                                <div class="row grid-row-md mt-3">
                                    <div class="col-1"></div>
                                    <div class="col-10 col-xl-5 data-item-nav">
                                        <a href="javascript:void(0);" @onclick='() => SelectCaseType(caseType)' class="text-white" title="Case Type: click to see the chapters within @caseType">
                                            <div class="data-item-sub"><span class="fa fa-folder-open mr-2"></span>@caseType</div>
                                        </a>
                                    </div>
                                    @if (sessionState.isAdminUser)
                                    {
                                        <div class="col-1 data-item-edit"><button class="btn btn-edit" @onclick='() => PrepareCaseTypeForEdit(caseType, "CaseType")' value=""><i class="fa fa-pencil-alt"></i></button></div>
                                    }
                                </div>
                                @if (caseType == selectedCaseType)
                                {
                                    @foreach (var Chapter in lstChapters.Where(C => C.CaseType == selectedCaseType).Where(C => C.Type == "Chapter").ToList())
                                    {
                                        <div class="row grid-row-sm mt-2">
                                            <div class="col-2"></div>
                                            <div class="col-9 col-xl-4 data-item-nav ">
                                                <a href="javascript:void(0);" @onclick="() => SelectChapter(Chapter.Name,Chapter.Id)" class="text-white" title="Chapter: click to configure @Chapter.Name">
                                                    <div class="data-item-sub "><span class="fa fa-share-alt-square mr-2"></span>@Chapter.Name<span class="nav-link-right fa fa-chevron-circle-right"></span></div>

                                                </a>
                                            </div>
                                        </div>
                                    }

                                }

                            }
                        }
                    }
                </div>
            </div>
        </div>

    }
}

@if (selectedChapter != "")
{

    <div class="tran-block page-header-block ">
        <div class="float-left back-link">
            <a href="javascript: void(0);" @onclick="SelectHome"><span class="col-alt fa fa-angle-double-left"></span></a>
        </div>
        <h3>Chapters</h3>
        <p>Current: @selectedChapter </p>
    </div>


    <div class="tran-block rounded">

        <div class="tran-navbar">
            <nav class="navbar navbar-expand-lg ">

                <ul class="navbar-nav">
                    <li class="@(navDisplay == "Agenda" ? "active" : "")">
                        <a href="javascript:void(0);" @onclick='() => ShowNav("Agenda")'><span>Agenda</span></a>
                    </li>
                    <li class="@(navDisplay == "Docs" ? "active" : "")">
                        <a href="javascript:void(0);" @onclick='() => ShowNav("Docs")'><span>Documents</span></a>
                    </li>
                    <li class="@(navDisplay == "Fees" ? "active" : "")">
                        <a href="javascript:void(0);" @onclick='() => ShowNav("Fees")'><span>Fees</span></a>
                    </li>
                    <li class="last @(navDisplay == "Status" ? "active" : "")">
                        <a href="javascript:void(0);" @onclick='() => ShowNav("Status")'><span>Status</span></a>
                    </li>

                </ul>

            </nav>
        </div>

        @if (lstAll.Count == 0)
        {
            <div class="spinner"></div>
        }
        else
        {
            @if (navDisplay == "Agenda")
            {

                <div class="grid-chapter-agenda">
                    @if (sessionState.isAdminUser)
                    {
                        <div class="mb-3">
                            <button @onclick='() => PrepareForInsert(navDisplay)' class="btn btn-main btn-shadow"><i class="fa fa-plus pr-1"></i> Add New Agenda</button>
                        </div>
                    }
                    <div class="@(sessionState.isAdminUser ? "grid-can-edit" : "") ">

                        @foreach (var Agenda in lstAgendas)
                        {


                            <div class="row grid-row">
                                <div class="col-12 data-item">
                                    @if (sessionState.isAdminUser)
                                    {
                                        <div class="btn-ellipses float-left">
                                            <span class="fa fa-ellipsis-v"></span>
                                            <div class="ellipsis-menu">
                                                <ul>
                                                    <li>
                                                        <a href="javascript: void(0);" @onclick='(() => PrepareForEdit(Agenda, "Agenda"))'>
                                                            <span class="fa fa-pencil-alt mr-2"></span>Edit
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript: void(0);" @onclick="() => PrepareChapterDetailDelete(Agenda)">
                                                            <span class="fa fa-trash-alt mr-2"></span>Delete
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    }
                                    <div class="data-item-sub">
                                        <span class="fa fa-folder-open mr-2"></span>@Agenda.Name
                                    </div>
                                </div>

                            </div>

                        }
                    </div>
                </div>


            }

            @if (navDisplay == "Docs")
            {

                <div class="grid-chapter-docs">
                    @if (sessionState.isAdminUser)
                    {
                        <div class="mb-3">
                            <button @onclick='() => PrepareForInsert(navDisplay)' class="btn btn-main btn-shadow"><i class="fa fa-plus pr-1"></i> Add New Document</button>
                        </div>
                    }
                    <div class="@(sessionState.isAdminUser ? "grid-can-edit" : "") ">
                        <div class="row grid-header">
                            <div class="col-12 col-xl-4 data-item">
                                <div class="data-item-sub">
                                    Name
                                </div>
                            </div>
                            <div class="col-4 hidden-lg-down data-item">
                                <div class="data-item-sub">
                                    Schedule
                                </div>
                            </div>
                            <div class="col-4 hidden-lg-down data-item">
                                <div class="data-item-sub">
                                    On Completion
                                </div>
                            </div>
                        </div>
                        <div class="grid-data">
                            @foreach (var Doc in lstDocs)
                            {


                                <div class="row grid-row grid-row-lg">
                                    <div class="col-12 col-xl-4 data-item">
                                        @if (sessionState.isAdminUser)
                                        {
                                            <div class="btn-ellipses float-left">
                                                <span class="fa fa-ellipsis-v"></span>
                                                <div class="ellipsis-menu">
                                                    <ul>
                                                        <li>
                                                            <a href="javascript: void(0);" @onclick='(() => PrepareForEdit(Doc, "Docs"))'>
                                                                <span class="fa fa-pencil-alt mr-2"></span>Edit
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript: void(0);" @onclick="() => PrepareChapterDetailDelete(Doc)">
                                                                <span class="fa fa-trash-alt mr-2"></span>Delete
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="data-item-sub">
                                                <span class="fa fa-file mr-2"></span> @Doc.Name
                                                <div class="data-item-right mr-2 seq-change">
                                                    <div><a href="javascript: void(0);" @onclick='() =>  MoveSeq(Doc,"Docs","Up")'><span class="fa fa-angle-up"></span></a></div>
                                                    <div class="seq-no">@Doc.SeqNo</div>
                                                    <div><a href="javascript: void(0);" @onclick='() =>  MoveSeq(Doc,"Docs","Down")'><span class="fa fa-angle-down"></span></a></div>
                                                </div>

                                            </div>
                                        }
                                        else
                                        {
                                            <div class="data-item-sub">
                                                <span class="far fa-file mr-1"></span> @Doc.Name
                                                <div class="data-item-right mr-2 ">
                                                    <div class="seq-no">@Doc.SeqNo</div>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                    <div class="col-4 hidden-lg-down data-item ">
                                        <div class="data-item-detail pl-3">@(string.IsNullOrEmpty(Doc.AsName) ? "" : Doc.AsName)</div>
                                        <div class="pl-3">
                                            @if (Doc.RescheduleDays.HasValue)
                                            {
                                                <span class="badge badge-sm square">@Doc.RescheduleDays.ToString() days</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-4 hidden-lg-down data-item ">
                                        <div>
                                            <div class="data-item-detail pl-3">@(string.IsNullOrEmpty(Doc.CompleteName) ? "" : "Save As: " + Doc.CompleteName)</div>
                                        </div>
                                        @if (Doc.SuppressStep == "Y")
                                        {
                                            <div class="data-item-right pb-1">
                                                <span class="badge badge-sm ">End Chapter</span>
                                            </div>
                                        }


                                    </div>

                                </div>

                            }
                        </div>
                    </div>
                </div>


            }

            @if (navDisplay == "Fees")
            {

                <div class="grid-chapter-fees">
                    @if (sessionState.isAdminUser)
                    {
                        <div class="mb-3">
                            <button @onclick='() => PrepareForInsert(navDisplay)' class="btn btn-main btn-shadow"><i class="fa fa-plus pr-1"></i> Add New Fee</button>
                        </div>
                    }
                    <div class="@(sessionState.isAdminUser ? "grid-can-edit" : "") ">

                        @foreach (var Fee in lstFees)
                        {


                            <div class="row grid-row grid-row-lg">
                                <div class="col-12 data-item">
                                    @if (sessionState.isAdminUser)
                                    {
                                        <div class="btn-ellipses float-left">
                                            <span class="fa fa-ellipsis-v"></span>
                                            <div class="ellipsis-menu">
                                                <ul>
                                                    <li>
                                                        <a href="javascript: void(0);" @onclick='(() => PrepareForEdit(Fee, "Fees"))'>
                                                            <span class="fa fa-pencil-alt mr-2"></span>Edit
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript: void(0);" @onclick="() => PrepareChapterDetailDelete(Fee)">
                                                            <span class="fa fa-trash-alt mr-2"></span>Delete
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="data-item-sub">
                                            <span class="fa fa-file mr-2"></span> @Fee.Name
                                            <div class="data-item-right mr-2 seq-change">
                                                <div><a href="javascript: void(0);" @onclick='() =>  MoveSeq(Fee,"Fees", "Up")'><span class="fa fa-angle-up"></span></a></div>
                                                <div class="seq-no">@Fee.SeqNo</div>
                                                <div><a href="javascript: void(0);" @onclick='() =>  MoveSeq(Fee,"Fees", "Down")'><span class="fa fa-angle-down"></span></a></div>
                                            </div>

                                        </div>
                                    }
                                    else
                                    {
                                        <div class="data-item-sub">
                                            <span class="fa fa-money-bill mr-2"></span> @Fee.Name
                                            <div class="data-item-right mr-2 ">
                                                <div class="seq-no">@Fee.SeqNo</div>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>

                        }
                    </div>
                </div>


            }

            @if (navDisplay == "Status")
            {

                <div class="grid-chapter-status">
                    @if (sessionState.isAdminUser)
                    {
                        <div class="mb-3">
                            <button @onclick='() => PrepareForInsert(navDisplay)' class="btn btn-main btn-shadow"><i class="fa fa-plus pr-1"></i> Add New Status</button>
                        </div>
                    }
                    <div class="@(sessionState.isAdminUser ? "grid-can-edit" : "") ">

                        @foreach (var status in lstStatus)
                        {


                            <div class="row grid-row">
                                <div class="col-12 data-item">
                                    @if (sessionState.isAdminUser)
                                    {
                                        <div class="btn-ellipses float-left">
                                            <span class="fa fa-ellipsis-v"></span>
                                            <div class="ellipsis-menu">
                                                <ul>
                                                    <li>
                                                        <a href="javascript: void(0);" @onclick='(() => PrepareForEdit(status, "Status"))'>
                                                            <span class="fa fa-pencil-alt mr-2"></span>Edit
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript: void(0);" @onclick="() => PrepareChapterDetailDelete(status)">
                                                            <span class="fa fa-trash-alt mr-2"></span>Delete
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    }
                                    <div class="data-item-sub">
                                        <span class="fa fa-battery-half mr-2"></span>@status.Name
                                    </div>
                                </div>

                            </div>

                        }
                    </div>
                </div>


            }
        }


    </div>
}


@if (selectedChapter == "x")
{

    <div class="tran-block page-header-block ">
        <div class="float-left back-link">
            <a href="javascript: void(0);" @onclick="SelectHome"><span class="col-alt fa fa-angle-double-left"></span></a>
        </div>
        <h3>Chapter: @selectedChapter</h3>
    </div>

    @if (!editChapterDetail)
    {
        <div class="tran-block detail-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 detail-box ml-0 mr-0">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12" id="agendaWrapper">
                                    <h5>
                                        Agendas
                                        <a Title="Information" href="javascript: void(0);" @onclick='() => PrepareModalInfoDisplay("Agenda"
                                                                                                            ,"<p>Document storage agendas.</p><p>Correspondance stored in these agendas will be made avalible on the History tab.</p>"
                                                                                                            ,"500px"
                                                                                                            ,"400px")' data-toggle="modal" data-target="#modalInfo">
                                            <span class="fa fa-info-circle"></span>
                                        </a>

                                        <a class="edit-link-right col-main" title="Edit" href="javascript: void(0);" @onclick='() => ToggleChapterDetailEdit("Agenda")'>
                                            <span class="fa fa-pencil-alt "></span>
                                        </a>
                                    </h5>


                                    <div class="col-12 detail-list-box">

                                        @foreach (var Agenda in lstAgendas)
                                        {
                                            <div class="row grid-row">
                                                <div class="col-12 data-item">
                                                    <div class="data-item-sub">
                                                        <span class="fas fa-stream mr-1"></span> @Agenda.Name
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 " id="statusWrapper">
                                    <h5>
                                        Status
                                        <a Title="Information" href="javascript: void(0);" @onclick='() => PrepareModalInfoDisplay("Status"
                                                                                                                ,"<p>Document storage agendas.</p><p>Correspondance stored in these agendas will be made avalible on the History tab.</p>"
                                                                                                                ,"500px"
                                                                                                                ,"400px")' data-toggle="modal" data-target="#modalInfo">
                                            <span class="fa fa-info-circle"></span>
                                        </a>
                                        <a class="edit-link-right col-main" title="Edit" href="javascript: void(0);" @onclick='() => ToggleChapterDetailEdit("Status")'>
                                            <span class="fa fa-pencil-alt"></span>
                                        </a>

                                    </h5>

                                    <div class="col-12  detail-list-box">

                                        @foreach (var status in lstStatus)
                                        {
                                            <div class="row grid-row">
                                                <div class="col-12 data-item"><div class="data-item-sub"><span class="far fa-calendar-check mr-1"></span> @status.Name</div></div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 detail-box " id="feesWrapper">
                        <h5>
                            Fees
                            <a Title="Information" href="javascript: void(0);" @onclick='() => PrepareModalInfoDisplay("Fees"
                                                                                                          ,"<p>Document storage agendas.</p><p>Correspondance stored in these agendas will be made avalible on the History tab.</p>"
                                                                                                          ,"500px"
                                                                                                          ,"400px")' data-toggle="modal" data-target="#modalInfo">
                                <span class="fa fa-info-circle"></span>
                            </a>
                            <a class="edit-link-right col-main" title="Edit" href="javascript: void(0);" @onclick='() => ToggleChapterDetailEdit("Fees")'>
                                <span class="fa fa-pencil-alt"></span>
                            </a>

                        </h5>
                        <div class="col-12  detail-list-box">
                            @foreach (var Fee in lstFees)
                            {
                                <div class="row grid-row">
                                    <div class="col-12 data-item"><div class="data-item-sub"><span class="fas fa-pound-sign mr-1"></span> @Fee.Name</div></div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 detail-box" id="docsWrapper">
                        <h5>
                            Docs
                            <a Title="Information" href="javascript: void(0);" @onclick='() => PrepareModalInfoDisplay("Docs"
                                                                                                         ,"<p>Document storage agendas.</p><p>Correspondance stored in these agendas will be made avalible on the History tab.</p>"
                                                                                                         ,"500px"
                                                                                                         ,"400px")' data-toggle="modal" data-target="#modalInfo">
                                <span class="fa fa-info-circle"></span>
                            </a>
                            <a class="edit-link-right col-main" title="Edit" href="javascript: void(0);" @onclick='() => ToggleChapterDetailEdit("Docs")'>
                                <span class="fa fa-pencil-alt"></span>
                            </a>

                        </h5>

                        <div class="col-12  detail-list-box">
                            @foreach (var doc in lstDocs)
                            {
                                <div class="row grid-row-lg">
                                    <div class="col-11 col-xl-4 data-item">
                                        <div class="pl-3 data-item-sub">
                                            <span class="far fa-file-word mr-1"></span> @doc.Name
                                            <div class="data-item-right mr-2">
                                                <span class="badge badge-tran">@doc.SeqNo</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-4 hidden-lg-down data-item ">
                                        <div class="data-item-detail-sm"><span>Schedule:</span></div>
                                        <div class="data-item-detail pl-3"><span>@(string.IsNullOrEmpty(doc.AsName) ? "" : doc.AsName)</span></div>
                                        <div class="pl-3">
                                            @if (doc.RescheduleDays.HasValue)
                                            {
                                                <span class="badge badge-sm square">@doc.RescheduleDays.ToString() days</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-4 hidden-lg-down data-item ">
                                        <div>
                                            <div class="data-item-detail-sm"><span>On Complete:</span></div>
                                            <div class="data-item-detail pl-3"><span>@(string.IsNullOrEmpty(doc.CompleteName) ? "Clear from agenda" : "Save As: " + doc.CompleteName)</span></div>
                                        </div>
                                        @if (doc.SuppressStep == "Y")
                                        {
                                            <div class="data-item-right pb-1">
                                                <span class="badge badge-sm ">End Chapter</span>
                                            </div>
                                        }


                                    </div>


                                </div>
                            }
                        </div>



                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="tran-block detail-block">

            <input type="button" @onclick='() => ToggleChapterDetailEdit("")' class="btn btn-primary" value="Back" />

            @if (displaySection == "Agenda")
            {

                <div class="fade-in">
                    @foreach (var Agenda in lstAgendas)
                    {
                        <div class="OR_ChapterItemTable">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2 ">
                                <span class="shadow card subCard rounded chapterItem_Agenda" @onclick='(() => PrepareForEdit(Agenda,displaySection))'>@Agenda.Name</span>
                            </div>
                        </div>
                    }
                </div>

                <input type="button" @onclick='() => PrepareForInsert(displaySection)' class="btn btn-primary" value="Add Agenda" />
            }


            @if (displaySection == "Fees")
            {
                <div class="fade-in">
                    @foreach (var Fee in lstFees)
                    {
                        <div class="OR_ChapterItemTable">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2 ">
                                <span class="shadow card subCard rounded chapterItem_Fee" @onclick='(() => PrepareForEdit(Fee,displaySection))' value="Edit">@Fee.Name</span>
                            </div>
                        </div>
                    }

                    <input type="button" @onclick='() => PrepareForInsert(displaySection)' class="btn btn-primary" value="Add Fee" />
                </div>
            }

            @if (displaySection == "Docs")
            {
                <div class="fade-in">
                    @foreach (var Doc in lstDocs)
                    {
                        <div class="OR_ChapterItemTable">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2 ">
                                <span class="shadow card subCard rounded chapterItem_Doc" @onclick='(() => PrepareForEdit(Doc,displaySection))' value="Edit">@Doc.Name</span>
                            </div>
                        </div>
                    }

                    <input type="button" @onclick='() => PrepareForInsert(displaySection)' class="btn btn-primary" value="Add Document" />
                </div>
            }

            @if (displaySection == "Status")
            {
                <div class="fade-in">
                    @foreach (var status in lstStatus)
                    {
                        <div class="OR_ChapterItemTable">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2 ">
                                <span class="shadow card subCard rounded chapterItem_Status" @onclick='(() => PrepareForEdit(status,displaySection))' value="Edit">@status.Name</span>
                            </div>
                        </div>
                    }

                    <input type="button" @onclick='() => PrepareForInsert(displaySection)' class="btn btn-primary" value="Add Status" />
                </div>
            }
        </div>
    }

}


<ModalInfo InfoHeader="@ModalInfoHeader" InfoText="@ModalInfoText" ModalHeight="@ModalHeight" ModalWidth="@ModalWidth"></ModalInfo>
