@if (!(Object.AltObject is null | Object.ChapterObject is null))
{
    <div class="modal-body" tabindex="0">
        <table class="table-basic table-top-header table-left-header table-borderless">
            <thead>

                <tr>
                    <td style="width: 150px">
                    </td>
                    <td style="width: 250px">
                        <div class=" d-flex justify-content-center">
                            @(sessionState.selectedSystem == "Dev" ? "Dev" : "Live")
                        </div>
                    </td>
                    <td style="width: 250px">
                        <div class=" d-flex justify-content-center">
                            @(sessionState.selectedSystem == "Dev" ? "Live" : "Dev")
                        </div>
                    </td>
                    <td style="width: 30px">
                    </td>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Seq Number
                    </td>
                    <td>
                        @Object.ChapterObject.SeqNo
                    </td>
                    <td>
                        @Object.AltObject.SeqNo
                    </td>
                    <td>
                        <span class="fa fa-@(Object.ChapterObject.SeqNo == @Object.AltObject.SeqNo ? "check" : "exclamation")"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Doc/Step Name:
                    </td>
                    <td>
                        <input type="text" class="read-only" readonly value="@Object.ChapterObject.Name" />
                    </td>
                    <td>
                        <input type="text" class="read-only" value="@Object.AltObject.Name" />
                    </td>
                    <td>
                        <span class="fa fa-@(Object.ChapterObject.Name == @Object.AltObject.Name ? "check" : "exclamation")"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Schedule As Name:
                    </td>
                    <td>
                        <input type="text" class="read-only" value="@Object.ChapterObject.AsName" />
                    </td>
                    <td>
                        <input type="text" class="read-only" value="@Object.AltObject.AsName" />
                    </td>
                    <td>
                        <span class="fa fa-@(Object.ChapterObject.AsName == @Object.AltObject.AsName ? "check" : "exclamation")"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Complete As Name
                    </td>
                    <td>
                        <input type="text" class="read-only" value="@Object.ChapterObject.CompleteName" />
                    </td>
                    <td>
                        <input type="text" class="read-only" value="@Object.AltObject.CompleteName" />
                    </td>
                    <td>
                        <span class="fa fa-@(Object.ChapterObject.CompleteName == @Object.AltObject.CompleteName ? "check" : "exclamation")"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Reschedule Days
                    </td>
                    <td>
                        @Object.ChapterObject.RescheduleDays
                    </td>
                    <td>
                        @Object.AltObject.RescheduleDays
                    </td>
                    <td>
                        <span class="fa fa-@(Object.ChapterObject.RescheduleDays == @Object.AltObject.RescheduleDays ? "check" : "exclamation")"></span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div class=" d-flex justify-content-center">
                            <button type="submit" autofocus class="btn btn-main" @onclick="() => HandleValidSubmit(false)">@(sessionState.selectedSystem == "Dev" ? ">> Live" : ">> Dev")</button>
                        </div>
                    </td>
                    <td>
                        <div class=" d-flex justify-content-center">
                            <button type="submit" autofocus class="btn btn-main" @onclick="() => HandleValidSubmit(true)">@(sessionState.selectedSystem == "Dev" ? "Dev <<" : "Live <<")</button>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}
else
{
    @code {
        string curSystem;
    }

        @if (Object.AltObject is null)
        {
            curSystem = (sessionState.selectedSystem == "Dev" ? "Live" : "Dev");
        }
        else
        {
            curSystem = (sessionState.selectedSystem == "Dev" ? "Dev" : "Live");

        }

    <div class="modal-body">
        <p>Chapter item does not exist on @curSystem</p>
        <p>Do you wish create this object on @curSystem?</P>
        <div class="button-container">
            <button type="submit" autofocus class="btn btn-main" @onclick="() => AddObject(false)">Create on @curSystem</button>
            <button type="button" class="btn btn-secondary">Cancel</button>
        </div>
    </div>
}


