
<div class="modal-body">
    <EditForm Model="@TaskObject" OnValidSubmit="@HandleValidSubmit">
        @if (selectedList == "Docs")
        {
            <label for="DocName">Document / Step</label>

            @if (dropDownChapterList is null)
            {
                <div class="spinner"></div>
            }
            else
            {
                <InputSelect id="documentList" class="form-control" @bind-Value="TaskObject.Name">
                    <option value="">Select</option>

                    @foreach (var doc in dropDownChapterList)
                            {
                        <option value="@doc.Name">
                            @doc.Name
                        </option>
                            }
                </InputSelect>
            }

        }
        else
        {
            <div class="form-group">
                <label for="Name">@CustomHeader Name</label>
                <input type="hidden" @bind-value="@TaskObject.Id" />
                <InputText id="name" class="form-control" @bind-Value="@TaskObject.Name" />
            </div>
        }


        @if (selectedList == "Docs")
        {
            <div class="form-group">
                <label for="DocType">Type</label>
                <InputSelect id="Summary" class="form-control"
                             @bind-Value="TaskObject.Type">
                    <option value="">Select</option>
                    @foreach (var type in DocTypeList)
                        {
                        <option value="@type">
                            @type
                        </option>
                        }
                </InputSelect>
            </div>

            <div class="form-group">
                <label for="AsName">Schedule As Name</label>
                <InputText id="name" class="form-control" @bind-Value="@TaskObject.AsName" />
            </div>

            <div class="form-group">
                <label for="CompleteName">Complete As Name</label>
                <InputText id="name" class="form-control" @bind-Value="@TaskObject.CompleteName" />
            </div>

            <div class="form-group">
                <label for="RescheduleDays">Reschedule Days</label>
                <InputNumber id="name" class="form-control" @bind-Value="@TaskObject.RescheduleDays" />
            </div>

            <div class="form-group">
                <label for="SeqNo">Seq number</label>
                <InputNumber id="name" class="form-control" @bind-Value="@TaskObject.SeqNo" />
            </div>
        }

        <input type="hidden" @bind-value="@TaskObject.CaseType" />
        <input type="hidden" @bind-value="@TaskObject.CaseTypeGroup" />
        <input type="hidden" @bind-value="@TaskObject.ParentId" />



        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" @onclick="Close">Cancel</button>

    </EditForm>
</div>

