@page "/chapterlist"

@inject IJSRuntime jsRuntime
@using Gizmo_V1_02.Pages.Shared.Modals



@if (lstAllObjects is null)
{
    <div class="spinner"></div>
}
else
{


    @if (selectedChapter == "")
    {
        <div class="tran-block rounded ">
            <h3>Chapters</h3>
        </div>

        <div class="mb-3 mt-2">
            <button data-toggle="modal" data-target="#chapterAddOrEditModel" @onclick='PrepareChapterForInsert' class="btn btn-main btn-shadow"><i class="fa fa-plus"></i> Add New Chapter</button>
        </div>

        <div class="mt-5 mb-4 col-xl-8 col-lg-12 col-md-12 col-sm-12">
            <div class="grid-tran">
                <div class="container-fluid">

                    <!-- SHOW ALL GROUPS -->
                    @foreach (var caseTypeGroup in lstAllObjects.Where(C => C.ParentId == 0)
                          .Where(C => !(C.CaseTypeGroup is null))
                          .Select(C => C.CaseTypeGroup)
                          .Distinct()
                          .ToList())
                    {

                        <div class="row grid-row mt-3">
                            <div class="col-11 col-xl-6 data-item">
                                <a href="javascript:void(0);" @onclick='() => SelectCaseTypeGroup(caseTypeGroup)' class="text-white" title="Group: click to see case types assigned to @caseTypeGroup">
                                    <div class="data-item-main"><span class="fa fa-boxes mr-2"></span>@caseTypeGroup</div>
                                </a>
                            </div>
                            <div class="col-1 data-item"><div class="data-item-edit"><button class="btn btn-edit" @onclick='() => PrepareCaseTypeForEdit(caseTypeGroup,"CaseTypeGroup")' data-toggle="modal" data-target="#chapterCaseTypeEdit" value=""><i class="fa fa-pencil-alt"></i></button></div></div>
                        </div>

                        <!-- GROUP SELECTED SHOW CASE TYPES-->
                        @if (caseTypeGroup == selectedCaseTypeGroup)
                        {

                            @foreach (var caseType in lstAllObjects.Where(C => C.ParentId == 0)
                                  .Where(C => !(C.CaseType is null))
                                  .Where(C => C.CaseTypeGroup == selectedCaseTypeGroup)
                                  .Select(C => C.CaseType)
                                  .Distinct()
                                  .ToList())
                            {

                                <div class="row grid-row-sub mt-3">
                                    <div class="col-1"></div>
                                    <div class="col-10 col-xl-5 data-item">
                                        <a href="javascript:void(0);" @onclick='() => SelectCaseType(caseType)' class="text-white" title="Case Type: click to see the chapters within @caseType">
                                            <div class="data-item-main"><span class="fa fa-folder-open mr-2"></span>@caseType</div>
                                        </a>
                                    </div>
                                    <div class="col-1 data-item"><div class="data-item-edit"><button class="btn btn-edit" @onclick='() => PrepareCaseTypeForEdit(caseType,"CaseType")' data-toggle="modal" data-target="#chapterCaseTypeEdit" value=""><i class="fa fa-pencil-alt"></i></button></div></div>
                                </div>
                                @if (caseType == selectedCaseType)
                                {
                                    @foreach (var Chapter in lstAllObjects.Where(C => C.CaseType == selectedCaseType).Where(C => C.Type == "Chapter").ToList())
                                    {
                                        <div class="row grid-row-sub-sub mt-2">
                                            <div class="col-2"></div>
                                            <div class="col-9 col-xl-4 data-item ">
                                                <a href="javascript:void(0);" @onclick="() => SelectDocList(Chapter.Name,Chapter.Id)" class="text-white" title="Chapter: click to configure @Chapter.Name">
                                                    <div class="data-item-main "><span class="fa fa-share-alt-square mr-2"></span>@Chapter.Name</div>
                                                </a>
                                            </div>
                                        </div>
                                    }

                                }

                            }
                        }
                    }
                </div>
            </div>
        </div>

    }
}


@if (selectedChapter != "")
{
    <div class="tran-block rounded ">
        <div class="float-left back-link">
            <a href="javascript: void(0);" @onclick="SelectHome"><span class="col-main fa fa-angle-double-left fa-2x"></span></a>
        </div>
        <h3>Chapter: @selectedChapter</h3>
    </div>

    @if (!editChapterDetail)
    {
        <div class="tran-block detail-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 detail-box">
                        <div class="row">
                            <div class="col-12">
                                <div>
                                    <h5>
                                        Agendas
                                        <a href="javascript: void(0);" @onclick='() => PrepareModalInfoDisplay("Agenda"
                                                                                                                ,"<p>Document storage agendas.</p><p>Correspondance stored in these agendas will be made avalible on the History tab.</p>"
                                                                                                                ,"500px"
                                                                                                                ,"400px")' data-toggle="modal" data-target="#modalInfo">
                                            <span class="fa fa-info-circle col-alt"></span>
                                        </a>
                                    </h5>

                                    <div style="float:right;">
                                        <button class="btn btn-edit" value="" @onclick='() => ToggleChapterDetailEdit("Agenda")'><i class="fa fa-pencil-alt"></i></button>
                                    </div>

                                </div>

                                <div class="detail-list-box" style="height:60px">

                                    @foreach (var Agenda in lstAgendas)
                                    {
                                        <div class="row grid-row">
                                            <div class="col-12 data-item"><div class="data-item-sub"><span class="fa fa-user-alt "></span> @Agenda.Name</div></div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h5>
                                    Status
                                    <a href="javascript: void(0);" @onclick='() => PrepareModalInfoDisplay("Status"
                                                                                                                ,"<p>Document storage agendas.</p><p>Correspondance stored in these agendas will be made avalible on the History tab.</p>"
                                                                                                                ,"500px"
                                                                                                                ,"400px")' data-toggle="modal" data-target="#modalInfo">
                                        <span class="fa fa-info-circle col-alt"></span>
                                    </a>
                                </h5>

                                <div class="detail-list-box" style="height:80px">

                                    @foreach (var status in statusObjects)
                                    {
                                        <div class="row grid-row">
                                            <div class="col-12 data-item"><div class="data-item-sub"><span class="fa fa-user-alt "></span> @status.management.Name</div></div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 detail-box">
                        <h5>
                            Fees
                            <a href="javascript: void(0);" @onclick='() => PrepareModalInfoDisplay("Fees"
                                                                                                          ,"<p>Document storage agendas.</p><p>Correspondance stored in these agendas will be made avalible on the History tab.</p>"
                                                                                                          ,"500px"
                                                                                                          ,"400px")' data-toggle="modal" data-target="#modalInfo">
                                <span class="fa fa-info-circle col-alt"></span>
                            </a>
                        </h5>
                        <div class="detail-list-box" style="height:184px">
                            @foreach (var Fee in lstFees)
                            {
                                <div class="row grid-row">
                                    <div class="col-12 data-item"><div class="data-item-sub"><span class="fa fa-user-alt "></span> @Fee.Name</div></div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 detail-box">
                        <h5>
                            Docs
                            <a href="javascript: void(0);" @onclick='() => PrepareModalInfoDisplay("Docs"
                                                                                                         ,"<p>Document storage agendas.</p><p>Correspondance stored in these agendas will be made avalible on the History tab.</p>"
                                                                                                         ,"500px"
                                                                                                         ,"400px")' data-toggle="modal" data-target="#modalInfo">
                                <span class="fa fa-info-circle col-alt"></span>
                            </a>
                        </h5>

                        <div class="detail-list-box" style="height:220px; margin-bottom:5px;">
                            @foreach (var doc in lstDocs)
                            {
                                <div class="row grid-row">
                                    <div class="col-12 col-xl-5 data-item"><div class="data-item-sub"><span class="fa fa-user-alt "></span> @doc.Name</div></div>
                                    <div class="col-7 hidden-lg-down data-item"><div class="data-item-sub"><span class="fa fa-user-alt "></span> @doc.Name</div></div>
                                </div>
                            }
                        </div>



                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="tran-block detail-block">

            <input type="button" @onclick='() => ToggleChapterDetailEdit("")' class="btn btn-primary" value="Back" />

            @if (displaySection == "Agenda")
            {
                
                <div class="fade-in">
                    @foreach (var Agenda in lstAgendas)
                    {
                        <div class="OR_ChapterItemTable">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2 ">
                                <span class="shadow card subCard rounded chapterItem_Agenda" @onclick='(() => PrepareForEdit(Agenda,"Agenda"))' data-toggle="modal" data-target="#taskModal">@Agenda.Name</span>
                            </div>
                        </div>
                    }
                </div>

                <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-primary" value="Add Agenda" />
            }


            @if (displaySection == "Fee")
            {
                <div class="fade-in">
                    @foreach (var Fee in lstFees)
                    {
                        <div class="OR_ChapterItemTable">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2 ">
                                <span class="shadow card subCard rounded chapterItem_Fee" @onclick='(() => PrepareForEdit(Fee,"Fee"))' data-toggle="modal" data-target="#taskModal" value="Edit">@Fee.Name</span>
                            </div>
                        </div>
                    }

                    <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-primary" value="Add Fee" />
                </div>
            }

            @if (displaySection == "Docs")
            {
                <div class="fade-in">
                    @foreach (var Doc in lstDocs)
                    {
                        <div class="OR_ChapterItemTable">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2 ">
                                <span class="shadow card subCard rounded chapterItem_Doc" @onclick='(() => PrepareForEdit(Doc,"Document / Step"))' data-toggle="modal" data-target="#taskModal" value="Edit">@Doc.Name</span>
                            </div>
                        </div>
                    }

                    <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-primary" value="Add Fee" />
                </div>
            }

            @if (displaySection == "Status")
            {
                <div class="fade-in">
                    @foreach (var status in statusObjects)
                    {
                        <div class="OR_ChapterItemTable">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-2 ">
                                <span class="shadow card subCard rounded chapterItem_Status" @onclick='(() => PrepareForEdit(status.management,"Status"))' data-toggle="modal" data-target="#taskModal" value="Edit">@status.management.Name</span>
                            </div>
                        </div>
                    }

                    <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-primary" value="Add Letter" />
                </div>
            }
        </div>
    }

}


<ChapterDetail TaskObject=editObject DataChanged="@DataChanged" selectedCaseType="@selectedCaseType" selectedList="@selectedList" dropDownDocumentList="@dropDownDocumentList">
    <CustomHeader>@customHeader</CustomHeader>
</ChapterDetail>

<ChapterAddOrEdit TaskObject="editChapterObject" DataChanged="DataChanged" AllObjects="lstAllObjects"></ChapterAddOrEdit>

<ChapterCaseTypeEdit TaskObject="@editCaseType" isCaseTypeOrGroup="@isCaseTypeOrGroup" DataChanged="DataChanged" originalName="@editCaseType" caseTypeGroupName="@selectedCaseTypeGroup"></ChapterCaseTypeEdit>

<ModalInfo InfoHeader="@ModalInfoHeader" InfoText="@ModalInfoText" ModalHeight="@ModalHeight" ModalWidth="@ModalWidth"></ModalInfo>
