@*<div class="tran-block page-header-block ">
    <div class="page-header-title">
        <div class="float-left back-link" >
            <span class="col-alt fa fa-angle-double-left"></span>
        </div>
        <h3>Accounts</h3>
    </div>
</div>

<div class="tran-block rounded">
    <div class="tran-navbar hidden-lg-down">
        <nav class="navbar navbar-expand ">

            <ul class="navbar-nav">
                <li class="nav-item @(navDisplay == "Chapter" ? "active" : "")" @onclick='() => ShowNav("Chapter")'>
                    <span class="font-120"><span class="fa fa-home" Title="Home - main Smartflow settings"></span></span>
                </li>
            </ul>

        </nav>
    </div>

    <div class="page-navbar hidden-xl-up">
        <ul class="nav nav-pills tran-tabs">
            <li class="nav-item @(navDisplay == "Chapter" ? "active" : "")" @onclick='() => ShowNav("Chapter")'>
                <span class="font-120"><span class="fa fa-home" Title="Home - main Smartflow settings"></span></span>
                <div class="subtitle">Home</div>
            </li>
        </ul>

    </div>

    @if (displaySpinner)
    {
        <div class="spinner"></div>
    }
    else
    {

        @if (navDisplay == "TickerMessages")
        {

            <div class="grid-chapter grid-chapter-messages">

                <div class="grid-actions">

                    @if (!compareSystems)
                    {
                        @if (sessionState.isAdminUser)
                        {
                            <div class="btn-group">
                                <button @onclick='() => PrepareTickerMessageForInsert(navDisplay)' class="btn btn-main btn-shadow" title="Add new ticker message"><i class="fa fa-plus"></i><span>New</span></button>
                                <button @onclick='() => CondenseMessageSeqNo("TickerMessages")' class="btn btn-main btn-shadow @(MessagesSeqNoIsValid() ? "invisible" : "")" title="Re-order Sequence Numbers"><i class="fa fa-sort-numeric-down"></i></button>
                            </div>
                        }
                    }

                    <ModalTooltip Direction="top" Text="Ticker Message to be made visible on the Smartflow screen." Class="w-2">
                        <span class="info-icon">
                            <span class=" fa fa-info-circle fa-2x "></span>
                        </span>
                    </ModalTooltip>

                    <div class="spacer">
                    </div>
                    @if (sessionState.isAdminUser)
                    {
                        <div class="btn-group sync-group invisible-md-down">
                            <button type="button" @onclick="() => PrepareChapterSync()" class="btn btn-main btn-shadow @(!compareSystems ? "hidden" : "")" title="Sync To @(sessionState.selectedSystem == "Dev" ? "Live" : "Dev")"><i class="fa fa-sync"></i><span>Sync</span></button>
                            <input type="checkbox" class="ml-1 mt-1" @onchange="() => ToggleComparison()" /><span class="ml-2 font-75 ">Compare to @(sessionState.selectedSystem == "Dev" ? "Live" : "Dev") </span>
                        </div>
                    }
                </div>

                <div class="@(sessionState.isAdminUser ? "grid-can-edit" : "") ">
                    <div class="row grid-header invisible-md-down">
                        <div class="data-item ">
                            <div class="data-item-sub">
                                Message
                            </div>
                        </div>
                        <div class="data-item ">
                            <div class="data-item-sub">
                                From Date
                            </div>
                        </div>
                        <div class="data-item ">
                            <div class="data-item-sub">
                                To Date
                            </div>
                        </div>
                    </div>
                    <div class="grid-data">
                        @foreach (var vmtickerMessages in ListVmTickerMessages)
                        {
                            <div class="row grid-row @(rowChanged == vmtickerMessages.Message.SeqNo ? "row-changed" : "" )">
                                <div class="data-item">
                                    @if (sessionState.isAdminUser && !compareSystems)
                                    {

                                        <div class="btn-ellipses float-left">
                                            <span class="fa fa-ellipsis-v"></span>
                                            <div class="ellipsis-menu">
                                                <ul>
                                                    <li class="col-main" @onclick='() => PrepareTickerMessageForEdit(vmtickerMessages, navDisplay)'>
                                                        <span class="fa fa-pencil-alt mr-2"></span>
                                                        <span>Edit</span>
                                                    </li>
                                                    <li class="col-main" @onclick='() => ShowTickerMessageDisplayModal(vmtickerMessages)'>
                                                        <span class="fa fa-binoculars mr-2"></span>
                                                        <span>View</span>
                                                    </li>
                                                    <li class="col-red" @onclick='() => PrepareTickerMessageDelete(vmtickerMessages)'>
                                                        <span class="fa fa-trash-alt mr-2"></span>
                                                        <span>Delete</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="data-item-right">
                                            <ModalTooltip Direction="top" Text="@vmtickerMessages.msgTooltip" Class="w-3">
                                                <span class="@(vmtickerMessages.msgValidation == "Exceeded" ? "" : "invisible")"><span class="fa fa-comment mr-2 font-grey "></span></span>
                                                <span class="@(vmtickerMessages.msgValidation == "Expired" ? "" : "invisible")"><span class="fa fa-comment mr-2 font-red "></span></span>
                                                <span class="@(vmtickerMessages.msgValidation == "Future" ? "" : "invisible")"><span class="fa fa-comment mr-2 font-green "></span></span>
                                                <span class="@(vmtickerMessages.msgValidation == "Invalid" ? "" : "invisible")"><span class="fa fa-exclamation-triangle mr-2 font-red "></span></span>
                                                <span class="@(vmtickerMessages.msgValidation == "Valid" ? "" : "invisible")"><span class="fa fa-comment mr-2 font-blue "></span></span>
                                            </ModalTooltip>
                                        </div>
                                        <div class="data-item-sub">
                                            @vmtickerMessages.Message.Message
                                        </div>
                                    }
                                    else if (sessionState.isAdminUser && compareSystems)
                                    {
                                        <div class="btn-ellipses float-left">
                                            @if (!(vmtickerMessages.ComparisonIcon is null))
                                            {
                                                @if (!(vmtickerMessages.ComparisonResult == "Exact match"))
                                                {
                                                    <div class="btn-dashed" @onclick="() => PrepareTickerMessageForComparison(vmtickerMessages)"><span class="fa fa-@vmtickerMessages.ComparisonIcon"></span></div>
                                                }
                                                else
                                                {
                                                    <span class="fa fa-@vmtickerMessages.ComparisonIcon"></span>
                                                }
                                            }
                                            else
                                            {
                                                <div class="spinner"></div>
                                            }

                                        </div>

                                        <div class="data-item-sub">
                                            <span class="fa fa-comment mr-2 tickericon"></span> @vmtickerMessages.Message.Message
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="btn-ellipses float-left">
                                            <span class="fa fa-ellipsis-v"></span>
                                            <div class="ellipsis-menu">
                                                <ul>
                                                    <li class="col-main" @onclick='() => ShowTickerMessageDisplayModal(vmtickerMessages)'>
                                                        <span class="fa fa-binoculars mr-2"></span>
                                                        <span>View</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="data-item-sub">
                                            <span class="fa fa-comment mr-2 tickericon"></span> @vmtickerMessages.Message.Message
                                        </div>
                                    }

                                    @if (sessionState.isAdminUser && !compareSystems)
                                    {

                                        <div class="data-item-right seq-change">
                                            <div @onclick='() => MoveMessageSeqNo(vmtickerMessages.Message, "TickerMessages", "Up")'><span class="fa fa-angle-up"></span></div>
                                            <div class="seq-no">@vmtickerMessages.Message.SeqNo</div>
                                            <div @onclick='() => MoveMessageSeqNo(vmtickerMessages.Message, "TickerMessages", "Down")'><span class="fa fa-angle-down"></span></div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="data-item-right">
                                            <div class="seq-no">@vmtickerMessages.Message.SeqNo</div>
                                        </div>
                                    }

                                </div>
                                @if (!string.IsNullOrEmpty(vmtickerMessages.Message.FromDate))
                                {
                                    <div class="hidden-md-down data-item ">
                                        <div class="data-item-sub">@(DateTime.ParseExact(vmtickerMessages.Message.FromDate, "yyyyMMdd", CultureInfo.InvariantCulture).ToString("dd/MM/yyyy"))</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="hidden-md-down data-item ">
                                        <div class="data-item-sub">
                                        </div>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(vmtickerMessages.Message.ToDate))
                                {
                                    <div class="hidden-md-down data-item ">
                                        <div class="data-item-sub font-85 pl-3">@(DateTime.ParseExact(vmtickerMessages.Message.ToDate, "yyyyMMdd", CultureInfo.InvariantCulture).ToString("dd/MM/yyyy"))</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="hidden-md-down data-item ">
                                        <div class="data-item-sub">
                                        </div>
                                    </div>
                                }
                            </div>
                        }


                        @if (compareSystems && !(lstAltSystemTickerMessages is null))
                        {
                            @foreach (var vmtickerMessages in lstAltSystemTickerMessages.Where(F => !F.Compared).ToList())
                            {
                                <div class="row grid-row @(rowChanged == vmtickerMessages.Message.SeqNo ? "row-changed" : "" )">
                                    <div class="data-item">

                                        <div class="btn-ellipses float-left">
                                            <ModalTooltip Direction="right" Text=@("Exists on alternate system, Do you wish to delete?") Class="w-2">
                                                <div class="btn-dashed" @onclick="() => PrepareDeleteAltMessage(vmtickerMessages)"><span class="fa fa-trash"></span></div>
                                            </ModalTooltip>
                                        </div>
                                        <div class="data-item-sub">
                                            <span class="fa fa-comment mr-2 tickericon"></span> @vmtickerMessages.Message.Message
                                        </div>
                                        <div class="data-item-right">
                                            <div class="seq-no">@vmtickerMessages.Message.SeqNo</div>
                                        </div>

                                    </div>
                                    @if (!string.IsNullOrEmpty(vmtickerMessages.Message.FromDate))
                                    {
                                        <div class="hidden-md-down data-item ">
                                            <div class="data-item-sub">@(DateTime.ParseExact(vmtickerMessages.Message.FromDate, "yyyyMMdd", CultureInfo.InvariantCulture).ToString("dd/MM/yyyy"))</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="hidden-md-down data-item ">
                                            <div class="data-item-sub">
                                            </div>
                                        </div>
                                    }
                                    @if (!string.IsNullOrEmpty(vmtickerMessages.Message.ToDate))
                                    {
                                        <div class="hidden-md-down data-item ">
                                            <div class="data-item-sub font-85 pl-3">@(DateTime.ParseExact(vmtickerMessages.Message.ToDate, "yyyyMMdd", CultureInfo.InvariantCulture).ToString("dd/MM/yyyy"))</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="hidden-md-down data-item ">
                                            <div class="data-item-sub">
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </div>

                </div>
            </div>


        }




    }
</div>*@

