@if (!(Object.AltObject is null | Object.ChapterObject is null))
{
    <div class="modal-body" tabindex="0">
        <table class="table-basic table-top-header table-left-header table-borderless">
            <thead>

                <tr>
                    <td style="width: 150px">
                    </td>
                    <td style="width: 250px">
                        <div class=" d-flex justify-content-center">
                            @(UserSession.selectedSystem == "Dev" ? "Dev" : "Live")
                        </div>
                    </td>
                    <td style="width: 250px">
                        <div class=" d-flex justify-content-center">
                            @(UserSession.selectedSystem == "Dev" ? "Live" : "Dev")
                        </div>
                    </td>
                    <td style="width: 30px">
                    </td>

                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        Seq Number
                    </td>
                    <td>
                        @Object.ChapterObject.SeqNo
                    </td>
                    <td>
                        @Object.AltObject.SeqNo
                    </td>
                    <td>
                        <span class="fa fa-@(Object.ComparisonList.Contains("SeqNo") ? "exclamation" : "check")"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        @Object.ChapterObject.Type Name:
                    </td>
                    <td>
                        <input type="text" class="read-only" readonly value="@Object.ChapterObject.Name" />
                    </td>
                    <td>
                        <input type="text" class="read-only" value="@Object.AltObject.Name" />
                    </td>
                    <td>
                        <span class="fa fa-@(Object.ComparisonList.Contains("Name") ? "exclamation" : "check")"></span>
                    </td>
                </tr>


                @if (Object.ChapterObject.Type != "Status")
                {
                    <tr>
                        <td>
                            Display Name:
                        </td>
                        <td>
                            <input type="text" class="read-only" readonly value="@Object.ChapterObject.AltDisplayName" />
                        </td>
                        <td>
                            <input type="text" class="read-only" value="@Object.AltObject.AltDisplayName" />
                        </td>
                        <td>
                            <span class="fa fa-@(Object.ComparisonList.Contains("AltDisplayName") ? "exclamation" : "check")"></span>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            Schedule As Name:
                        </td>
                        <td>
                            <input type="text" class="read-only" value="@Object.ChapterObject.AsName" />
                        </td>
                        <td>
                            <input type="text" class="read-only" value="@Object.AltObject.AsName" />
                        </td>
                        <td>
                            <span class="fa fa-@(Object.ComparisonList.Contains("AsName") ? "exclamation" : "check")"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Complete As Name
                        </td>
                        <td>
                            <input type="text" class="read-only" value="@Object.ChapterObject.CompleteName" />
                        </td>
                        <td>
                            <input type="text" class="read-only" value="@Object.AltObject.CompleteName" />
                        </td>
                        <td>
                            <span class="fa fa-@(Object.ComparisonList.Contains("CompleteName") ? "exclamation" : "check")"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Next Status
                        </td>
                        <td>
                            <input type="text" class="read-only" value="@Object.ChapterObject.NextStatus" />
                        </td>
                        <td>
                            <input type="text" class="read-only" value="@Object.AltObject.NextStatus" />
                        </td>
                        <td>
                            <span class="fa fa-@(Object.ComparisonList.Contains("NextStatus") ? "exclamation" : "check")"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Action
                        </td>
                        <td>
                            <input type="text" class="read-only" value="@Object.ChapterObject.Action" />
                        </td>
                        <td>
                            <input type="text" class="read-only" value="@Object.AltObject.Action" />
                        </td>
                        <td>
                            <span class="fa fa-@(Object.ComparisonList.Contains("Action") ? "exclamation" : "check")"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Reschedule Days
                        </td>
                        <td>
                            @Object.ChapterObject.RescheduleDays
                        </td>
                        <td>
                            @Object.AltObject.RescheduleDays
                        </td>
                        <td>
                            <span class="fa fa-@(Object.ComparisonList.Contains("RescheduleDays") ? "exclamation" : "check")"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Reschedule Data Item
                        </td>
                        <td>
                            <input type="text" class="read-only" value="@Object.ChapterObject.RescheduleDataItem" />
                        </td>
                        <td>
                            <input type="text" class="read-only" value="@Object.AltObject.RescheduleDataItem" />
                        </td>
                        <td>
                            <span class="fa fa-@(Object.ComparisonList.Contains("RescheduleDataItem") ? "exclamation" : "check")"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            User Message
                        </td>
                        <td>
                            <input type="text" class="read-only" value="@Object.ChapterObject.UserMessage" />
                        </td>
                        <td>
                            <input type="text" class="read-only" value="@Object.AltObject.UserMessage" />
                        </td>
                        <td>
                            <span class="fa fa-@(Object.ComparisonList.Contains("UserMessage") ? "exclamation" : "check")"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Popup Alert
                        </td>
                        <td>
                            <input type="text" class="read-only" value="@Object.ChapterObject.PopupAlert" />
                        </td>
                        <td>
                            <input type="text" class="read-only" value="@Object.AltObject.PopupAlert" />
                        </td>
                        <td>
                            <span class="fa fa-@(Object.ComparisonList.Contains("PopupAlert") ? "exclamation" : "check")"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Attachments
                        </td>
                        <td>
                            <input type="text" class="read-only" value="@(Object.ChapterObject.LinkedItems is null ? "0" : Object.ChapterObject.LinkedItems.Count().ToString())" />
                        </td>
                        <td>
                            <input type="text" class="read-only" value="@(Object.AltObject.LinkedItems is null ? "0" : Object.AltObject.LinkedItems.Count().ToString())" />
                        </td>
                        <td>
                            <span class="fa fa-@(Object.ComparisonList.Contains("LinkedItems") ? "exclamation" : "check")"></span>
                        </td>
                    </tr>
                }
                @if (Object.ChapterObject.Type == "Status")
                {
                    <tr>
                        <td>
                            Suppress Step:
                        </td>
                        <td>
                            <input type="text" class="read-only" value="@Object.ChapterObject.SuppressStep" />
                        </td>
                        <td>
                            <input type="text" class="read-only" value="@Object.AltObject.SuppressStep" />
                        </td>
                        <td>
                            <span class="fa fa-@(Object.ComparisonList.Contains("SuppressStep") ? "exclamation" : "check")"></span>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div class=" d-flex justify-content-center">
                            <button type="submit" autofocus class="btn btn-main" @onclick="() => HandleValidSubmit(false)">@(UserSession.selectedSystem == "Dev" ? ">> Live" : ">> Dev")</button>
                        </div>
                    </td>
                    <td>
                        <div class=" d-flex justify-content-center">
                            <button type="submit" autofocus class="btn btn-main" @onclick="() => HandleValidSubmit(true)">@(UserSession.selectedSystem == "Dev" ? "Dev <<" : "Live <<")</button>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}
else
{
    @code {
        string curSystem;
    }

    @if (Object.AltObject is null)
    {
        curSystem = (UserSession.selectedSystem == "Dev" ? "Live" : "Dev");
    }
    else
    {
        curSystem = (UserSession.selectedSystem == "Dev" ? "Dev" : "Live");

    }

    @if (!CreateNewSmartflow)
    {
        <div class="modal-body">
            <p>Smartflow item does not exist on @curSystem</p>
            <p>Do you wish create this object on @curSystem?</p>
        </div>
    }
    else
    {
        <div class="modal-body">
            <p>Smartflow does not exist on @curSystem</p>
            <p>Do you wish create this Smartflow on @curSystem?</p>
        </div>
    }
    <div class="button-container">
        <button type="submit" autofocus class="btn btn-main" @onclick="() => AddObject(false)">Create on @curSystem</button>
        <button type="button" class="btn btn-secondary" @onclick="() => Close()">Cancel</button>
    </div>
}


