@if (!(Object.AltDataView is null | Object.DataView is null))
{
    <div class="modal-body" tabindex="0">
        <table class="table-basic table-top-header table-left-header table-borderless">
            <thead>

                <tr>
                    <td style="width: 150px">
                    </td>
                    <td style="width: 250px">
                        <div class=" d-flex justify-content-center">
                            @(UserSession.SelectedSystem == "Dev" ? "Dev" : "Live")
                        </div>
                    </td>
                    <td style="width: 250px">
                        <div class=" d-flex justify-content-center">
                            @(UserSession.SelectedSystem == "Dev" ? "Live" : "Dev")
                        </div>
                    </td>
                    <td style="width: 30px">
                    </td>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Block Number
                    </td>
                    <td>
                        @Object.DataView.BlockNo
                    </td>
                    <td>
                        @Object.AltDataView.BlockNo
                    </td>
                    <td>
                        <span class="fa fa-@(Object.ComparisonList.Contains("BlockNo") ? "exclamation" : "check")"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        View Name:
                    </td>
                    <td>
                        <input type="text" class="read-only" readonly value="@Object.DataView.ViewName" />
                    </td>
                    <td>
                        <input type="text" class="read-only" value="@Object.AltDataView.ViewName" />
                    </td>
                    <td>
                        <span class="fa fa-@(Object.ComparisonList.Contains("ViewName") ? "exclamation" : "check")"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Display Name
                    </td>
                    <td>
                        <input type="text" class="read-only" readonly value="@Object.DataView.DisplayName" />
                    </td>
                    <td>
                        <input type="text" class="read-only" value="@Object.AltDataView.DisplayName" />
                    </td>
                    <td>
                        <span class="fa fa-@(Object.ComparisonList.Contains("DisplayName") ? "exclamation" : "check")"></span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div class=" d-flex justify-content-center">
                            <button type="submit" autofocus class="btn btn-main" @onclick="() => HandleValidSubmit(false)">@(UserSession.SelectedSystem == "Dev" ? ">> Live" : ">> Dev")</button>
                        </div>
                    </td>
                    <td>
                        <div class=" d-flex justify-content-center">
                            <button type="submit" autofocus class="btn btn-main" @onclick="() => HandleValidSubmit(true)">@(UserSession.SelectedSystem == "Dev" ? "Dev <<" : "Live <<")</button>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}
else
{
    @code {
        string curSystem;
    }

    @if (Object.AltDataView is null)
    {
        curSystem = (UserSession.SelectedSystem == "Dev" ? "Live" : "Dev");
    }
    else
    {
        curSystem = (UserSession.SelectedSystem == "Dev" ? "Dev" : "Live");

    }

    @if (!CreateNewSmartflow)
    {
        <div class="modal-body">
            <p>Smartflow item does not exist on @curSystem</p>
            <p>Do you wish create this object on @curSystem?</p>
        </div>
    }
    else
    {
        <div class="modal-body">
            <p>Smartflow does not exist on @curSystem</p>
            <p>Do you wish create this Smartflow on @curSystem?</p>
        </div>
    }

    <div class="button-container">
        <button type="submit" autofocus class="btn btn-main" @onclick="() => AddObject(false)">Create on @curSystem</button>
        <button type="button" class="btn btn-secondary" @onclick="() => Close()">Cancel</button>
    </div>
}


