@page "/Smartflows"
@page "/Smartflow"
@* @page "/Smartflow/{UrlCaseTypeGroup}/{UrlCaseType}/{UrlChapter}"
@page "/Smartflow/{UrlCaseTypeGroup}/{UrlCaseType}" *@

@using GadjIT_App.Pages._Shared.Modals
@using GadjIT_ClientContext.P4W.Custom
@implements IDisposable

@if (ListChapterLoaded == false)
{
    <div class="spinner"></div>
}
else
{

    @if (SelectedChapter.Name == null || SelectedChapter.Name == "")
    {
        <div class="tran-block page-header-block ">
            <div class="page-header-title">
                <div>
                    <h3>Smartflow</h3>
                    <p class="hidden-md-down">Create and maintain Smartflows for all case types. <em>Note: please make sure you are pointing to the appropriate system.</em></p>
                </div>  
                 
            </div>
            <div class="push-right user-guide">
                <a href="@UserGuideURL" target="_blank" title="Link to Smartflow user guide">User Guide<span><i class="fa fa-circle-info"></i></span></a>
            </div> 
            
        </div>

        <div class="mb-4 grid-tran grid-chapter-nav">
            <div class="tran-block rounded">
                @if (UserSession.IsAdminUser)
                {
                    <div class="grid-actions">
                        <div class="btn-group">
                            <button @onclick='PrepareChapterForInsert' class="btn btn-main btn-shadow" title="Add new Smartflow"><i class="fa fa-plus pr-1"></i><span>New</span></button>
                            @if (!(string.IsNullOrEmpty(SelectedChapter.CaseType)))
                            {
                                @* @if (!(SequenceIsValid("Chapters")))
                                {
                                     <button @onclick='() => CondenseChapterSeq()' class="btn btn-main btn-shadow" title="Re-order Sequence Numbers"><i class="fa fa-sort-numeric-down"></i></button>

                                } *@
                            }
                        </div>
                        @if (UserSession.IsSuperUser)
                        {
                            <button @onclick='UploadSmartFlowsFromClient' class="btn btn-main btn-shadow" title="Upload and refresh with Client data"><i class="fa fa-sync pr-1"></i><span>Upload</span></button>
                            <button @onclick='UpdateSteps' class="btn btn-main btn-shadow" title="Update Steps"><i class="fa fa-download pr-1"></i><span>Update Steps</span></button>
                        }

                        <div class="spacer"></div>
                        @if (UserSession.IsAdminUser)
                        {
                            <div class="btn-group sync-group invisible-sm-down">
                                <input type="checkbox" class="ml-1 mt-1" @bind-value="SmartflowComparison"/><span class="ml-2 font-75">Compare to @UserSession.AltSystem </span>
                            </div>

                        }
                    </div>

                }
                <div class="container-fluid">

                    <!-- SHOW ALL GROUPS -->
                    @if(LstChapters != null)
                    {
                        foreach (var caseTypeGroup in LstChapters
                                                  .Where(C => !(C.SmartflowObject.CaseTypeGroup is null))
                                                  .OrderBy(C => C.SmartflowObject.CaseTypeGroup)
                                                  .Select(C => C.SmartflowObject.CaseTypeGroup)
                                                  .Distinct()
                                                  .ToList())
                        {

                            <div class="grid-row-lg mt-3 nav-row-1">
                                <div class="data-item" title="Group: click to see case types assigned to @caseTypeGroup">
                                    @if (UserSession.IsAdminUser)
                                    {
                                        <div class="btn-ellipses float-left">
                                            <span class="fa fa-ellipsis-v"></span>
                                            <div class="ellipsis-menu" style="margin-top: 20px">
                                                <ul>
                                                    <li class="col-main" @onclick='() => PrepareCaseTypeForEdit(caseTypeGroup, "CaseTypeGroup")'>
                                                        <span class="fa fa-font mr-2"></span>
                                                        <span>Rename</span>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    }

                                    <div class="data-item-nav" @onclick='() => SelectCaseTypeGroup(caseTypeGroup)'>
                                        <div class="data-item-sub"><span class="fa fa-boxes mr-2"></span>@caseTypeGroup</div>
                                        <div class="data-item-right col-alt"><div class="link-direction @(caseTypeGroup == SelectedChapter.CaseTypeGroup ? "triangle-up " : "triangle-down")"></div></div>
                                    </div>
                                </div>


                            </div>



                            <!-- GROUP SELECTED SHOW CASE TYPES-->
                            @if (caseTypeGroup == SelectedChapter.CaseTypeGroup)
                            {

                                @foreach (var caseType in LstChapters
                                                        .Where(C => !(C.SmartflowObject.CaseType is null))
                                                        .Where(C => C.SmartflowObject.CaseTypeGroup == SelectedChapter.CaseTypeGroup)
                                                        .OrderBy(C => C.SmartflowObject.CaseType)
                                                        .Select(C => C.SmartflowObject.CaseType)
                                                        .Distinct()
                                                        .ToList())
                                {

                                    <div class="grid-row-md nav-row-2">
                                        <div class="data-item" title="Case Type: click to see the Smartflows within @caseType">
                                            @if (UserSession.IsAdminUser)
                                            {
                                                <div class="btn-ellipses float-left">
                                                    <span class="fa fa-ellipsis-v"></span>
                                                    <div class="ellipsis-menu">
                                                        <ul>
                                                            <li class="col-main" @onclick='() => PrepareCaseTypeForEdit(caseType, "CaseType")'>

                                                                <span class="fa fa-font mr-2"></span>
                                                                <span>Rename</span>

                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            }
                                            <div class="data-item-nav" @onclick='() => SelectCaseType(caseType)'>
                                                @if (caseType == SelectedChapter.CaseType)
                                                {
                                                    <div class="data-item-sub">
                                                        <span class="fa fa-folder-open mr-2"></span>@caseType
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="data-item-sub">
                                                        <span class="fa fa-folder mr-2"></span>@caseType
                                                    </div>
                                                }


                                                <div class="data-item-right col-alt "><div class="link-direction @(caseType == SelectedChapter.CaseType ? "triangle-up " : "triangle-down")"></div></div>
                                            </div>
                                        </div>

                                    </div>
                                    @if (caseType == SelectedChapter.CaseType)
                                    {


                                        <div class="grid-nav">
                                            <Dropzone Items="LstSelectedChapters"
                                                    InstantReplace="true"
                                                    OnItemDrop="@((sf)=>ReSequenceSmartFlows(LstSelectedChapters.IndexOf(sf) + 1))"
                                                    OnDragStartParam="() => ResetRowChanged()"
                                                    TItem="VmUsrOrsfSmartflows">


                                                <div class="grid-row-md nav-row-3 no-border  @(RowChanged == context.SmartflowObject.SeqNo ? ToggleRowChangedClass() : "" )">
                                                    <div id="Smartflow-@context.SmartflowObject.Id" class="data-item @(context.SmartflowObject.SmartflowName.Contains("GROUP ") ? "data-item-group" : "")">

                                                        @if (UserSession.IsAdminUser)
                                                        {
                                                            @if (!CompareSystems)
                                                            {
                                                                <div class="btn-ellipses float-left ">
                                                                    <span class="fa fa-ellipsis-v"></span>
                                                                    <div class="ellipsis-menu">
                                                                        <ul>
                                                                            <li class="col-main" @onclick='() => PrepareChapterForEdit(context.SmartflowObject, "Chapter")' title="">
                                                                                <span class="fa fa-font mr-2"></span>
                                                                                <span>Rename</span>
                                                                            </li>
                                                                            <li class="col-main" @onclick="() => SelectChapter(context.SmartflowObject)" title="">
                                                                                <span class="fa fa-pencil-alt mr-2"></span>
                                                                                <span>Edit</span>
                                                                            </li>
                                                                            <li class="col-red" @onclick='() => ShowChapterDeleteModal(context)' title="">
                                                                                <span class="fa fa-trash-alt mr-2"></span>
                                                                                <span>Delete</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="btn-ellipses float-left">
                                                                    @if (!(context.ComparisonIcon is null))
                                                                    {
                                                                        @if (!(context.ComparisonResult == "Exact match"))
                                                                        {
                                                                            <ModalTooltip Direction="right" Text=@(context.ComparisonResult == "Partial match" ? "Differences found, click to sync" : "Does not exist, click to create") Class="w-2">
                                                                                <div class="btn-dashed" @onclick="() => ShowChapterSyncOnAltModal(context.SmartflowObject)"><span class="fa fa-@context.ComparisonIcon"></span></div>
                                                                            </ModalTooltip>

                                                                        }
                                                                        else
                                                                        {
                                                                            <ModalTooltip Direction="right" Text="Exact Match" Class="w-1">
                                                                                <span class="fa fa-@context.ComparisonIcon"></span>
                                                                            </ModalTooltip>

                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="spinner"></div>
                                                                    }
                                                                </div>
                                                            }

                                                        }
                                                        <div class="data-item-sub draggable">
                                                            @if(CompareSystems || context.ComparisonList.Count == 0) //no issues
                                                            {
                                                                <span class="hidden-sm-down">
                                                                    <span class=" fa fa-share-alt-square mr-2"></span>
                                                                </span>
                                                                @context.SmartflowObject.SmartflowName
                                                            }
                                                            else
                                                            {
                                                                <span class="font-red" title="@context.ComparisonResult">
                                                                    <span class="hidden-sm-down " >
                                                                        <span class=" fa-solid fa-triangle-exclamation mr-2"></span>
                                                                    </span>
                                                                    @context.SmartflowObject.SmartflowName
                                                                </span>
                                                            }
                                                            
                                                            
                                                        </div>
                                                        @if (UserSession.IsAdminUser)
                                                        {
                                                            <div class="data-item-right seq-change">
                                                                <div @onclick='() => MoveSmartFlowSeq(context.SmartflowObject, "Chapters", "Up")'><span class="fa fa-angle-up"></span></div>
                                                                <div class="seq-no">@context.SmartflowObject.SeqNo</div>
                                                                <div @onclick='() => MoveSmartFlowSeq(context.SmartflowObject, "Chapters", "Down")'><span class="fa fa-angle-down"></span></div>
                                                            </div>
                                                        }
                                                        <div title="Click to edit @context.SmartflowObject.SmartflowName" class="data-item-right link-direction" @onclick="() => SelectChapter(context.SmartflowObject)">
                                                            <div class="fa fa-pencil-alt"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </Dropzone>

                                        </div>

                                    }

                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>
    }
}

@if (SelectedChapter.Name != "" & !(SelectedChapter.Name is null))
{

    <ChapterDetail
        _SelectedChapterObject=SelectedChapterObject
        _SelectHome=SelectHome
    ></ChapterDetail>

}

<div id="exp"></div>