@using System.Globalization;


@if (!(Object.AltMessage is null | Object.Message is null))
{
    <div class="modal-body" tabindex="0">
        <table class="table-basic table-top-header table-left-header table-borderless">
            <thead>

                <tr>
                    <td style="width: 150px">
                    </td>
                    <td style="width: 250px">
                        <div class=" d-flex justify-content-center">
                            @(UserSession.selectedSystem == "Dev" ? "Dev" : "Live")
                        </div>
                    </td>
                    <td style="width: 250px">
                        <div class=" d-flex justify-content-center">
                            @(UserSession.selectedSystem == "Dev" ? "Live" : "Dev")
                        </div>
                    </td>
                    <td style="width: 30px">
                    </td>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Seq Number
                    </td>
                    <td>
                        @Object.Message.SeqNo
                    </td>
                    <td>
                        @Object.AltMessage.SeqNo
                    </td>
                    <td>
                        <span class="fa fa-@(Object.ComparisonList.Contains("SeqNo") ? "exclamation" : "check")"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Message:
                    </td>
                    <td>
                        <input type="text" class="read-only" readonly value="@Object.Message.Message" />
                    </td>
                    <td>
                        <input type="text" class="read-only" value="@Object.AltMessage.Message" />
                    </td>
                    <td>
                        <span class="fa fa-@(Object.ComparisonList.Contains("Message") ? "exclamation" : "check")"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        From Date:
                    </td>
                    <td>
                        <input type="text" class="read-only" readonly value="@DateTime.ParseExact(Object.Message.FromDate, "yyyyMMdd", CultureInfo.InvariantCulture).ToString("dd/MM/yyyy")" />
                    </td>
                    <td>
                        <input type="text" class="read-only" value="@DateTime.ParseExact(Object.AltMessage.FromDate, "yyyyMMdd", CultureInfo.InvariantCulture).ToString("dd/MM/yyyy")" />
                    </td>
                    <td>
                        <span class="fa fa-@(Object.ComparisonList.Contains("FromDate") ? "exclamation" : "check")"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        To Date
                    </td>
                    <td>
                        <input type="text" class="read-only" readonly value="@DateTime.ParseExact(Object.Message.ToDate, "yyyyMMdd", CultureInfo.InvariantCulture).ToString("dd/MM/yyyy")" />
                    </td>
                    <td>
                        <input type="text" class="read-only" value="@DateTime.ParseExact(Object.AltMessage.ToDate, "yyyyMMdd", CultureInfo.InvariantCulture).ToString("dd/MM/yyyy")" />
                    </td>
                    <td>
                        <span class="fa fa-@(Object.ComparisonList.Contains("ToDate") ? "exclamation" : "check")"></span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div class=" d-flex justify-content-center">
                            <button type="submit" autofocus class="btn btn-main" @onclick="() => HandleValidSubmit(false)">@(UserSession.selectedSystem == "Dev" ? ">> Live" : ">> Dev")</button>
                        </div>
                    </td>
                    <td>
                        <div class=" d-flex justify-content-center">
                            <button type="submit" autofocus class="btn btn-main" @onclick="() => HandleValidSubmit(true)">@(UserSession.selectedSystem == "Dev" ? "Dev <<" : "Live <<")</button>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}
else
{
    @code {
        string curSystem;
    }

    @if (Object.AltMessage is null)
    {
        curSystem = (UserSession.selectedSystem == "Dev" ? "Live" : "Dev");
    }
    else
    {
        curSystem = (UserSession.selectedSystem == "Dev" ? "Dev" : "Live");

    }

    @if (!CreateNewSmartflow)
    {
        <div class="modal-body">
            <p>Smartflow item does not exist on @curSystem</p>
            <p>Do you wish create this object on @curSystem?</p>
        </div>
    }
    else
    {
        <div class="modal-body">
            <p>Smartflow does not exist on @curSystem</p>
            <p>Do you wish create this Smartflow on @curSystem?</p>
        </div>
    }

    <div class="button-container">
        <button type="submit" autofocus class="btn btn-main" @onclick="() => AddObject(false)">Create on @curSystem</button>
        <button type="button" class="btn btn-secondary" @onclick="() => Close()">Cancel</button>
    </div>
}


