@using Gizmo_V1_02.Data.CustomFormObjects

<EditForm Model="@TaskObject" OnValidSubmit="@HandleValidSubmit">
    <div class="modal-body">

        <DataAnnotationsValidator />
        <div class="form-group">
            <label>Case Type Group</label>
            <div class="form-label-check">
                <label>New</label><input type="checkbox" @bind-value="addNewCaseTypeGroupOption" />
            </div>
            @if (!addNewCaseTypeGroupOption)
            {

                @if (AllChapters is null)
                {
                    <div class="spinner"></div>
                }
                else
                {
                    <InputSelect class="form-control" ValueExpression="@(() => TaskObject.ChapterObject.CaseTypeGroup)"
                                 Value="@TaskObject.ChapterObject.CaseTypeGroup"
                                 ValueChanged="@((string value) => SelectExistingCaseTypeGroup(value))">
                        @foreach (var c in AllChapters.Where(C => C.ChapterObject.ParentId == 0)
                                      .Where(C => !(C.ChapterObject.CaseTypeGroup is null))
                                      .Select(C => C.ChapterObject.CaseTypeGroup)
                                      .Distinct()
                                      .ToList())
                        {
                            <option value="@c">
                                @c
                            </option>
                        }
                    </InputSelect>
                }
            }
            else
            {

                <InputText class="form-control" @bind-Value="TaskObject.ChapterObject.CaseTypeGroup"></InputText>
            }


        </div>

        <div class="form-group">
            <label>Case Type</label>
            <div class="form-label-check">
                <label>New</label>
                <input type="checkbox" @bind-value="addNewCaseTypeOption" />
            </div>
            @if (!addNewCaseTypeOption)
            {
                @if (AllChapters is null)
                {
                    <div class="spinner"></div>
                }
                else
                {
                    <InputSelect class="form-control" ValueExpression="@(() => TaskObject.ChapterObject.CaseType)"
                                 Value="@TaskObject.ChapterObject.CaseType"
                                 ValueChanged="@((string value) => SelectExistingCaseType(value))">
                        @foreach (var c in AllChapters.Where(C => C.ChapterObject.ParentId == 0)
                                     .Where(C => C.ChapterObject.CaseTypeGroup == TaskObject.ChapterObject.CaseTypeGroup)
                                     .Where(C => !(C.ChapterObject.CaseType is null))
                                     .Select(C => C.ChapterObject.CaseType)
                                     .Distinct()
                                     .ToList())
                        {
                            <option value="@c">
                                @c
                            </option>
                        }
                    </InputSelect>
                }

            }
            else
            {
                <InputText class="form-control" @bind-Value="TaskObject.ChapterObject.CaseType"></InputText>
            }


        </div>

        <div class="form-group">
            <label>Chapter Name</label>
            <div class="form-label-check">
                <label>New</label>
                <input type="checkbox" @onchange="() => ResetChapter()" />
            </div>
            @if (!AddNewChapterOption)
            {
                @if (AllChapters is null)
                {
                    <div class="spinner"></div>
                }
                else
                {
                    <InputSelectInteger class="form-control" ValueExpression="@(() => TaskObject.ChapterObject.Id)"
                                        Value="@TaskObject.ChapterObject.Id"
                                        ValueChanged="@((int value) => SelectExistingChapter(value))"
                                        id="Summary">
                        @foreach (var c in AllChapters.Where(C => C.ChapterObject.ParentId == 0)
                                                  .Where(C => C.ChapterObject.CaseTypeGroup == TaskObject.ChapterObject.CaseTypeGroup)
                                                  .Where(C => C.ChapterObject.CaseType == TaskObject.ChapterObject.CaseType)
                                                  .ToList())
                        {
                            <option value="@c.ChapterObject.Id">
                                @c.ChapterObject.Name
                            </option>
                        }
                    </InputSelectInteger>
                }
            }
            else
            {
                <InputText class="form-control" @bind-Value="TaskObject.ChapterObject.Name"></InputText>
            }
            <ValidationMessage For="@(() => TaskObject.ChapterObject.Name)" />
        </div>

        <div class="form-group">
            <label>Copy Options</label>
            @foreach (var option in CopyOptions)
            {
                <div class="ml-2 mr-1">
                    <label>@option.Option</label>
                    <input class="float-right" type="checkbox" @bind-value="option.Selected" />
                </div>
            }
        </div>

    </div>
    <div class="button-container">
        <button type="submit" class="btn btn-main">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Close">Cancel</button>
    </div>

</EditForm>