<div class="mt-3">
    <p class="col-grey">Select export method</p>
</div>
<div class="hidden-data-tables ">
    <table id="tbl_Export" class="display" style="width:100%">
        <thead>
            <tr>
                <th>CaseTypeGroup</th>
                <th>CaseType</th>
                <th>Type</th>
                <th>Name</th>
                <th>SeqNo</th>
                <th>AsName</th>
                <th>RescheduleDays</th>
                <th>CompleteName</th>
                <th>SuppressStep</th>
                <th>EntityType</th>
                <th>AltDisplayName</th>
                <th>UserMessage</th>
                <th>UserNotes</th>
                <th>NextStatus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in lstChapterItems)
            {

                <tr>
                    <td>@item.ChapterObject.CaseTypeGroup</td>
                    <td>@item.ChapterObject.CaseType</td>
                    <td>@item.ChapterObject.Type</td>
                    <td>@item.ChapterObject.Name</td>
                    <td>@item.ChapterObject.SeqNo</td>
                    <td>@item.ChapterObject.AsName</td>
                    <td>@item.ChapterObject.RescheduleDays</td>
                    <td>@item.ChapterObject.CompleteName</td>
                    <td>@item.ChapterObject.SuppressStep</td>
                    <td>@item.ChapterObject.EntityType</td>
                    <td>@item.ChapterObject.AltDisplayName</td>
                    <td>@item.ChapterObject.UserMessage</td>
                    <td>@item.ChapterObject.UserNotes</td>
                    <td>@item.ChapterObject.NextStatus</td>
                </tr>
            }


        </tbody>

    </table>

</div>