@using GadjIT_V1_02.Data.CustomFormObjects;

<EditForm Model="@CopyObject" OnValidSubmit="HandleValidSubmit">
    <div class="modal-body">

        <DataAnnotationsValidator />
        @if (selectedList == "Steps and Documents")
        {
            @if (dropDownChapterList is null)
            {
                <div class="spinner"></div>
            }
            else
            {
                <div class="form-group">
                    <label for="DocType">P4W Case Type Group</label>
                    <InputSelectInteger class="form-control form-control-lg"
                                        @bind-Value="selectedCaseTypeGroup">
                        <option value="-2">Select</option>
                        @foreach (var group in CaseTypeGroups)
                                {
                            <option value="@group.Id">
                                @group.Name
                            </option>
                                }
                        <option value="-1">Entity Documents</option>
                    </InputSelectInteger>
                </div>

                <div class="form-group">
                    <label for="DocName">Document / Step</label>

                    @if (selectedCaseTypeGroup == -2 & CopyObject.Name is null)
                    {
                        <select class="form-control form-control-xl" disabled />
                    }
                    else
                    {
                        <div class="form-label-check" style="margin-right: 13px">
                            <label>Custom Item</label><input type="checkbox" @bind-value="@useCustomItem" />
                        </div>
                        @if (!useCustomItem)
                        {
                            <div class="form-group">
                                <label for="AltDisplayName">Filter</label>
                                <InputText class="form-control form-control-md" @bind-Value="@filterText" />
                            </div>


                            <InputSelect class="form-control form-control-xl" @bind-Value="CopyObject.Name">
                                @if (CopyObject.Name is null)
                                                {
                                    <option value="">Select</option>
                                                }
                                                else
                                                {
                                    <option value="@CopyObject.Name">@CopyObject.Name</option>
                                                }


                                @foreach (var doc in dropDownChapterList.Where(D => D.CaseTypeGroupRef == selectedCaseTypeGroup).Where(C => C.Name.ToUpper().Contains(filterText.ToUpper())).OrderBy(D => D.Name).ToList())
                                                {
                                    <option value="@doc.Name">
                                        @doc.Name
                                    </option>
                                                }
                            </InputSelect>

                            <div class="form-group">
                                <label for="AltDisplayName">Display Name</label>
                                <InputText class="form-control form-control-xl" @bind-Value="@CopyObject.AltDisplayName" />
                            </div>
                        }
                        else
                        {

                            <InputText class="form-control form-control-xl" @bind-Value="@CopyObject.Name"></InputText>
                        }
                        <ValidationMessage For="@(() => CopyObject.Name)" />

                    }

                </div>
            }

        }
        else
        {
            <div class="form-group">
                <label for="Name">@CustomHeader Name</label>
                <InputText class="form-control" @bind-Value="@CopyObject.Name" />
            </div>
        }



        @if (selectedList == "Steps and Documents")
        {


            <div class="form-group">
                <label for="Action">Action</label>
                <InputSelect class="form-control form-control-sm"
                             @bind-Value="CopyObject.Action">
                    <option value=""></option>
                    @foreach (var a in Actions)
                        {
                        <option value="@a">
                            @a
                        </option>
                        }
                </InputSelect>
                <ValidationMessage For="@(() => CopyObject.Action)" />
            </div>


            <div class="form-group">
                <label for="AsName">Schedule As Name</label>
                <InputText class="form-control form-control-xl" @bind-Value="@CopyObject.AsName" />
            </div>

            <div class="form-group">
                <label for="RescheduleDays">Reschedule Days</label>
                <InputNumber class="form-control form-control-xs" @bind-Value="RescheduleDays" />
            </div>

            <div class="form-group">
                <label for="CompleteName">Complete As Name</label>
                <InputText class="form-control form-control-xl" @bind-Value="@CopyObject.CompleteName" />
            </div>



            <div class="form-group">
                <label for="NextStatus">Next Status</label>
                <InputSelect class="form-control form-control-sm"
                             @bind-Value="CopyObject.NextStatus">
                    <option value=""></option>
                    @foreach (var s in ListOfStatus)
                        {
                        <option value="@s.ChapterObject.Name">
                            @s.ChapterObject.Name
                        </option>
                        }
                </InputSelect>
                <ValidationMessage For="@(() => CopyObject.Type)" />
            </div>




            <div class="form-group">
                <label for="UserMessage">User Message</label>
                <InputTextArea class="form-control form-control-xl" @bind-Value="@CopyObject.UserMessage" />
            </div>

            <div class="form-group">
                <label for="PopupAlert">Pop Up Message(Alert)</label>
                <InputTextArea class="form-control form-control-xl" @bind-Value="@CopyObject.PopupAlert" />
            </div>

            @if (SelectedChapter.ShowDocumentTracking == "Y")
            {
                <div class="form-group">
                    <label for="TrackMethod">Tracking Method</label>
                    <InputSelect class="form-control form-control-sm"
                                 @bind-Value="CopyObject.TrackingMethod">
                        <option value=""></option>
                        @foreach (var s in TrackMethodList)
                                {
                            <option value="@s">
                                @s
                            </option>
                                }
                    </InputSelect>
                    <ValidationMessage For="@(() => CopyObject.TrackingMethod)" />
                </div>
                @if (CopyObject.TrackingMethod == "Response Required")
                {
                    <div class="form-group">
                        <label for="ChaserDesc">Chaser Description</label>
                        <InputText class="form-control form-control-xl" @bind-Value="@CopyObject.ChaserDesc" />
                    </div>
                }
            }

        }
        else if (selectedList == "Status")
        {
            <div class="form-group">
                <label for="Suppress">Suppress Step</label>
                <InputCheckbox class="form-control" @bind-Value="suppressStep" />
            </div>
        }
    </div>

    <div class="button-container">
        <button type="submit" class="btn btn-main">Save</button>
        <button type="button" class="btn btn-secondary" @onclick="Close">Cancel</button>
    </div>
</EditForm>