@page "/Smartflows"
@page "/Smartflow"
@* @page "/Smartflow/{UrlCaseTypeGroup}/{UrlCaseType}/{UrlChapter}"
@page "/Smartflow/{UrlCaseTypeGroup}/{UrlCaseType}" *@

@using GadjIT_ClientContext.Models.Smartflow.Client
@* @implements IDisposable *@

@if (ListSmartflowIsLoaded == false)
{
    <div class="spinner"></div>
}
else
{

    @if ((SelectedSmartflow.Name == null || SelectedSmartflow.Name == "") && SelectedCaseType == "")
    {
        <div class="tran-block page-header-block ">
            <div class="page-header-title">
                <div tabindex="1">
                    <h3>Smartflow</h3>
                    <p class="hidden-md-down">Create and maintain Smartflows for all case types. <em>Note: please make sure you are pointing to the appropriate system.</em></p>
                </div>  
                 
            </div>
            <div class="push-right user-guide">
                <a href="@UserGuideURL" target="_blank" title="Link to Smartflow user guide">User Guide<span><i class="fa fa-circle-info"></i></span></a>
            </div> 
            
        </div>

        <div class="mb-4 grid-tran grid-chapter-nav">
            <div class="tran-block rounded">
                @if (UserSession.IsAdminUser)
                {
                    <div class="grid-actions">
                        <div class="btn-group">
                            <button @onclick='PrepareSmartflowForInsert' class="btn btn-main btn-shadow" title="Add new Smartflow"><i class="fa fa-plus pr-1"></i><span>New</span></button>
                            
                            @if (!(string.IsNullOrEmpty(SelectedSmartflow.CaseType)))
                            {
                                @* @if (!(SequenceIsValid("Chapters")))
                                {
                                     <button @onclick='() => CondenseChapterSeq()' class="btn btn-main btn-shadow" title="Re-order Sequence Numbers"><i class="fa fa-sort-numeric-down"></i></button>

                                } *@
                            }
                        </div>
                        @if (UserSession.IsSuperUser)
                        {
                            <button @onclick='UploadSmartFlowsFromClient' class="btn btn-main btn-shadow" title="Upload and refresh with Client data"><i class="fa fa-sync pr-1"></i><span>Upload</span></button>
                            <button @onclick='UpdateSteps' class="btn btn-main btn-shadow" title="Update Steps"><i class="fa fa-download pr-1"></i><span>Update Steps</span></button>
                            <button @onclick='UpdateToSmartflowV2' class="btn btn-main btn-shadow" title="Update to V2"><i class="fa fa-download pr-1"></i><span>Update to V2</span></button>
                        }

                        <div class="spacer"></div>
                        @* @if (UserSession.IsAdminUser)
                        {
                            <div class="btn-group sync-group invisible-sm-down">
                                <input type="checkbox" class="ml-1 mt-1" @bind-value="SmartflowComparison"/><span class="ml-2 font-75">Compare to @UserSession.AltSystem </span>
                            </div>

                        } *@
                    </div>

                }
                <div class="container-fluid">

                    <!-- SHOW ALL GROUPS -->
                    @if(LstAll_VmClientSmartflowRecord != null)
                    {
                        foreach (var caseTypeGroup in LstAll_VmClientSmartflowRecord
                                                  .Where(C => !(C.ClientSmartflowRecord.CaseTypeGroup is null))
                                                  .OrderBy(C => C.ClientSmartflowRecord.CaseTypeGroup)
                                                  .Select(C => C.ClientSmartflowRecord.CaseTypeGroup)
                                                  .Distinct()
                                                  .ToList())
                        {

                            <div class="grid-row-lg mt-3 nav-row-1" tabindex="-1" >
                                <div class="data-item" tabindex="-1" title="Group: click to see case types assigned to @caseTypeGroup">
                                    @if (UserSession.IsAdminUser)
                                    {
                                        <div class="btn-ellipses float-left">
                                            <span class="fa fa-ellipsis-v"></span>
                                            <div class="ellipsis-menu" style="margin-top: 20px">
                                                <ul>
                                                    <li class="col-main" @onclick='() => PrepareCaseTypeForEdit(caseTypeGroup, "CaseTypeGroup")'>
                                                        <span class="fa fa-font mr-2"></span>
                                                        <span>Rename</span>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    }

                                    <div class="data-item-nav" tabindex="-1" @onclick='() => SelectCaseTypeGroup(caseTypeGroup)'>
                                        <div class="data-item-sub" tabindex="-1"><span class="fa fa-boxes mr-2"></span>@caseTypeGroup</div>
                                        <div class="data-item-right col-alt" tabindex="-1"><div tabindex="-1" class="link-direction @(caseTypeGroup == SelectedSmartflow.CaseTypeGroup ? "triangle-up " : "triangle-down")"></div></div>
                                    </div>
                                </div>


                            </div>



                            <!-- GROUP SELECTED SHOW CASE TYPES-->
                            @if (caseTypeGroup == SelectedSmartflow.CaseTypeGroup)
                            {

                                @foreach (var caseType in LstAll_VmClientSmartflowRecord
                                                        .Where(C => !(C.ClientSmartflowRecord.CaseType is null))
                                                        .Where(C => C.ClientSmartflowRecord.CaseTypeGroup == SelectedSmartflow.CaseTypeGroup)
                                                        .OrderBy(C => C.ClientSmartflowRecord.CaseType)
                                                        .Select(C => C.ClientSmartflowRecord.CaseType)
                                                        .Distinct()
                                                        .ToList())
                                {

                                    <div class="grid-row-md nav-row-2">
                                        <div class="data-item" title="Case Type: click to see the Smartflows within @caseType">
                                            @if (UserSession.IsAdminUser)
                                            {
                                                <div class="btn-ellipses float-left">
                                                    <span class="fa fa-ellipsis-v"></span>
                                                    <div class="ellipsis-menu">
                                                        <ul>
                                                            <li class="col-main invisible-lg-down" @onclick='() => ShowCaseTypeDetail(caseTypeGroup,caseType)'>

                                                                <span class="fa fa-pencil-alt mr-2"></span>
                                                                <span>Details</span>

                                                            </li>
                                                            <li class="col-main" @onclick='() => PrepareCaseTypeForEdit(caseType, "CaseType")'>

                                                                <span class="fa fa-font mr-2"></span>
                                                                <span>Rename</span>

                                                            </li>
                                                            <li class="col-red" @onclick='() => ShowCaseTypeDeleteModal(caseTypeGroup,caseType)' title="">
                                                                <span class="fa fa-trash-alt mr-2"></span>
                                                                <span>Delete</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            }
                                            <div class="data-item " tabindex="-1" >
                                                
                                                <div class="data-item-sub" tabindex="-1">
                                                    <span class="fa fa-folder mr-2"></span>@caseType
                                                </div>
                                                                                                
                                            </div>
                                            
                                            <div title="Click to edit " tabindex="-1" class="data-item-right link-direction" @onclick="() =>  ShowCaseTypeDetail(caseTypeGroup,caseType)">
                                                <div class="fa fa-pencil-alt"></div>
                                            </div>
                                            
                                        </div>
                                    

                                    </div>
                                    @* @if (caseType == SelectedSmartflow.CaseType)
                                    {


                                        <div class="grid-nav">
                                            <Dropzone Items="LstSelected_VmClientSmartflowRecord"
                                                    InstantReplace="true"
                                                    OnItemDrop="@((sf)=>ReSequenceSmartFlows(LstSelected_VmClientSmartflowRecord.IndexOf(sf) + 1))"
                                                    OnDragStartParam="() => ResetRowChanged()"
                                                    TItem="Client_VmSmartflowRecord">


                                                <div class="grid-row-md nav-row-3 no-border  @(RowChanged == context.ClientSmartflowRecord.SeqNo ? ToggleRowChangedClass() : "" )">
                                                    <div id="Smartflow-@context.ClientSmartflowRecord.Id" class="data-item @(context.ClientSmartflowRecord.SmartflowName.Contains("GROUP") ? "data-item-group" : "")">

                                                        @if (UserSession.IsAdminUser)
                                                        {
                                                            @if (!CompareSystems)
                                                            {
                                                                <div class="btn-ellipses float-left ">
                                                                    <span class="fa fa-ellipsis-v"></span>
                                                                    <div class="ellipsis-menu">
                                                                        <ul>
                                                                            <li class="col-main" @onclick="() => SelectSmartflow(context.ClientSmartflowRecord)" title="">
                                                                                <span class="fa fa-pencil-alt mr-2"></span>
                                                                                <span>Edit</span>
                                                                            </li>
                                                                            @if (!IsSmartflowLocked(context))
                                                                            {
                                                                                <li class="col-main" @onclick='() => PrepareSmartflowForEdit(context)' title="">
                                                                                    <span class="fa fa-font mr-2"></span>
                                                                                    <span>Rename</span>
                                                                                </li>
                                                                                <li class="col-red" @onclick='() => ShowSmartflowDeleteModal(context)' title="">
                                                                                    <span class="fa fa-trash-alt mr-2"></span>
                                                                                    <span>Delete</span>
                                                                                </li>
                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="btn-ellipses float-left">
                                                                    @if (!(context.ComparisonIcon is null))
                                                                    {
                                                                        @if (!(context.ComparisonResult == "Exact match"))
                                                                        {
                                                                            <ModalTooltip Direction="right" Text=@(context.ComparisonResult == "Partial match" ? "Differences found, click to sync" : "Does not exist, click to create") Class="w-2">
                                                                                <div class="btn-dashed" @onclick="() => ShowSmartflowSyncOnAltModal(context.ClientSmartflowRecord)"><span class="fa fa-@context.ComparisonIcon"></span></div>
                                                                            </ModalTooltip>

                                                                        }
                                                                        else
                                                                        {
                                                                            <ModalTooltip Direction="right" Text="Exact Match" Class="w-1">
                                                                                <span class="fa fa-@context.ComparisonIcon"></span>
                                                                            </ModalTooltip>

                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="spinner"></div>
                                                                    }
                                                                </div>
                                                            }

                                                        }
                                                        <div class="data-item-sub draggable">
                                                            @if(CompareSystems || context.ComparisonList.Count == 0) //no issues
                                                            {
                                                                <span class="hidden-sm-down">
                                                                    <span class=" fa fa-share-alt-square mr-2"></span>
                                                                </span>
                                                                @context.ClientSmartflowRecord.SmartflowName
                                                            }
                                                            else
                                                            {
                                                                <span class="font-red" title="@context.ComparisonResult">
                                                                    <span class="hidden-sm-down " >
                                                                        <span class=" fa-solid fa-triangle-exclamation mr-2"></span>
                                                                    </span>
                                                                    @context.ClientSmartflowRecord.SmartflowName
                                                                </span>
                                                            }
                                                            
                                                            
                                                        </div>
                                                        @if (UserSession.IsAdminUser)
                                                        {
                                                            <div class="data-item-right seq-change">
                                                                <div @onclick='() => MoveSmartFlowSeq(context.ClientSmartflowRecord, "Smartflows", "Up")' class="@(@context.ClientSmartflowRecord.SeqNo == 1 ? "hidden" : "")"><span class="fa fa-angle-up"></span></div>
                                                                <div class="seq-no">@context.ClientSmartflowRecord.SeqNo</div>
                                                                <div @onclick='() => MoveSmartFlowSeq(context.ClientSmartflowRecord, "Smartflows", "Down")' class="@(@context.ClientSmartflowRecord.SeqNo == LstSelected_VmClientSmartflowRecord.Count() ? "hidden" : "")"><span class="fa fa-angle-down"></span></div>
                                                            </div>
                                                        }
                                                        <div title="Click to edit @context.ClientSmartflowRecord.SmartflowName" class="data-item-right link-direction" @onclick="() => SelectSmartflowFromHome(context.ClientSmartflowRecord)">
                                                            <div class="fa fa-pencil-alt"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </Dropzone>

                                        </div>

                                    } *@

                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>
    }
}

@if (SelectedCaseType != "" && ListSmartflowIsLoaded)
{

    <CaseTypeDetail
        _SelectedCaseTypeGroup=@SelectedCaseTypeGroup
        _SelectedCaseType=@SelectedCaseType
        _LstVmClientSmartflowRecord=@LstAll_VmClientSmartflowRecord
        _SelectHome=@SelectHome
        _RefreshSmartflowsTask=@RefreshSmartflowsTask
        _SelectSmartflow=@SelectSmartflow
    ></CaseTypeDetail>

}

@if (SelectedSmartflow.Name != "" & !(SelectedSmartflow.Name is null))
{

    <SmartflowDetail
        _Selected_VmClientSmartflowRecord=Selected_VmClientSmartflowRecord
        _SelectHome=SelectHome
    ></SmartflowDetail>

} 

<div id="exp"></div>


