@using GadjIT_App.Pages._Shared.Modals
@using GadjIT_ClientContext.P4W.Custom



<div class="grid-chapter grid-chapter-status">
    <div class="grid-actions">

        @if (!CompareSystems)
        {
            @if (UserSession.IsAdminUser)
            {
                <div class="btn-group">
                    <button @onclick='() => PrepareForInsert()' class="btn btn-main btn-shadow" title="Add new status"><i class="fa fa-plus"></i><span>New</span></button>
                    @* <button @onclick='() => CondenseSeq()' class="btn btn-main btn-shadow @(SequenceIsValid("Status") ? "invisible" : "")" title="Re-order Sequence Numbers"><i class="fa fa-sort-numeric-down"></i></button> *@
                </div>
            }

        }
        <ModalTooltip Direction="top" Text="Status options to assist with the flow of the Smartflow and to indicate when the Smartflow is complete." Class="w-3">
            <span class="info-icon">
                <span class=" fa fa-info-circle fa-2x "></span>
            </span>
        </ModalTooltip>
        <div class="spacer">
        </div>
        @if (UserSession.IsAdminUser)
        {
            <div class="btn-group sync-group invisible-md-down">
                <button type="button" @onclick="() => PrepareChapterSync()" class="btn btn-main btn-shadow @(!CompareSystems ? "hidden" : "")" title="Sync To @UserSession.AltSystem"><i class="fa fa-sync"></i><span>Sync</span></button>
                <input type="checkbox" class="ml-1 mt-1" @bind=CompareSystems /><span class="ml-2 font-75 ">Compare to @UserSession.AltSystem </span>
            </div>
        }
    </div>
    <div class="grid-data @(UserSession.IsAdminUser ? "grid-can-edit" : "") ">
        <Dropzone Items="_LstStatus"
            InstantReplace="true"
            OnItemDrop="@((s)=>ReSequence(_LstStatus.IndexOf(s) + 1))"
            OnDragStartParam="() => ResetRowChanged()"
            TItem="VmGenSmartflowItem"
            UseCustomImage="true"> 

            <div class="row grid-row @(RowChanged == context.ChapterObject.SeqNo ? "row-changed" : "" )">
                <div class="data-item">
                    @if (UserSession.IsAdminUser)
                    {
                        @if (!CompareSystems)
                        {
                            <div class="btn-ellipses float-left">
                                <span class="fa fa-ellipsis-v"></span>
                                <div class="ellipsis-menu">
                                    <ul>
                                        <li class="col-main" @onclick='(() => PrepareForEdit(context))'>
                                            <span class="fa fa-pencil-alt mr-2"></span>
                                            <span>Edit</span>
                                        </li>
                                        <li class="col-main" @onclick='(() => ShowChapterDetailViewModal(context))'>
                                            <span class="fa fa-binoculars mr-2"></span>
                                            <span>View</span>
                                        </li>
                                        <li class="col-red" @onclick="() => ShowChapterDetailDelete(context)">
                                            <span class="fa fa-trash-alt mr-2"></span>
                                            <span>Delete</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                        else
                        {

                            <div class="btn-ellipses float-left">
                                @if (!(context.ComparisonIcon is null))
                                {
                                    @if (!(context.ComparisonResult == "Exact match"))
                                    {
                                        <ModalTooltip Direction="right" Text=@(context.ComparisonResult == "Partial match" ? "Differences found, click to sync" : "Does not exist, click to create") Class="w-2">
                                            <div class="btn-dashed" @onclick="() => ShowChapterComparisonModal(context)"><span class="fa fa-@context.ComparisonIcon"></span></div>
                                        </ModalTooltip>
                                    }
                                    else
                                    {
                                        <ModalTooltip Direction="right" Text="Exact Match" Class="w-1">
                                            <span class="fa fa-@context.ComparisonIcon"></span>
                                        </ModalTooltip>
                                    }
                                }
                                else
                                {
                                    <div class="spinner"></div>
                                }

                            </div>


                        }

                    }
                    else
                    {
                        <div class="btn-ellipses float-left">
                            <span class="fa fa-ellipsis-v"></span>
                            <div class="ellipsis-menu">
                                <ul>
                                    <li class="col-main" @onclick='(() => ShowChapterDetailViewModal(context))'>
                                        <span class="fa fa-pencil-alt mr-2"></span>
                                        <span>View</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                    <div class="data-item-sub draggable">
                        <span class="font-100"><span class="fa fa-battery-half mr-2"></span></span>@context.ChapterObject.Name
                    </div>

                    @if (context.ChapterObject.SuppressStep == "Y")
                    {
                        <div class="data-item-right suppress-step">
                            <ModalTooltip Direction="left" Text="This status will end the Smartflow." Class="w-3">
                                <span class="fa fa-flag-checkered"></span>
                            </ModalTooltip>
                        </div>
                    }

                    @if (UserSession.IsAdminUser && !CompareSystems)
                    {

                        <div class="data-item-right seq-change">
                            <div @onclick='() => MoveSeq(context.ChapterObject, "Up")' class="@(@context.ChapterObject.SeqNo == 1 ? "invisible" : "")"><span class="fa fa-angle-up"></span></div>
                            <div class="seq-no">@context.ChapterObject.SeqNo</div>
                            <div @onclick='() => MoveSeq(context.ChapterObject, "Down")' class="@(@context.ChapterObject.SeqNo == @_LstStatus.Count() ? "invisible" : "")"><span class="fa fa-angle-down"></span></div>
                        </div>
                    }
                    else
                    {
                        <div class="data-item-right seq-change">
                            <div class="seq-no">@context.ChapterObject.SeqNo</div>
                        </div>
                    }


                </div>

            </div>
        </Dropzone>

        @if (CompareSystems && !(LstAltSystemItems is null))
        {
            @foreach (var status in LstAltSystemItems.Where(D => D.ChapterObject.Type == "Status").Where(D => !D.Compared).ToList())
            {
                <div class="row grid-row @(RowChanged == status.ChapterObject.SeqNo ? "row-changed" : "" )">
                    <div class="data-item">
                        <div class="btn-ellipses float-left">
                            <ModalTooltip Direction="right" Text=@("Exists on alternate system, Do you wish to delete?") Class="w-2">
                                <div class="btn-dashed" @onclick="() => ShowChapterDeleteAlt(status)"><span class="fa fa-trash"></span></div>
                            </ModalTooltip>
                        </div>


                        <div class="data-item-sub">
                            <span class="font-100"><span class="fa fa-battery-half mr-2"></span></span>@status.ChapterObject.Name
                        </div>

                        @if (status.ChapterObject.SuppressStep == "Y")
                        {
                            <div class="data-item-right suppress-step">
                                <ModalTooltip Direction="left" Text="This status will end the Smartflow." Class="w-3">
                                    <span class="fa fa-flag-checkered"></span>
                                </ModalTooltip>
                            </div>
                        }

                        <div class="data-item-right seq-change">
                            <div class="seq-no">@status.ChapterObject.SeqNo</div>
                        </div>

                    </div>

                </div>
            }
        }
    </div>
</div>