@using Syncfusion.Blazor.Inputs.Internal
<EditForm Model="@TaskObject" OnValidSubmit="@HandleValidSubmit">
    <div class="modal-body">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <h5>Company:</h5>
        <div class="form-group">
            <label for="@TaskObject.CompanyName">Company Name</label>
            <InputText class="form-control form-control-lg" @bind-Value="TaskObject.CompanyName"></InputText>
        </div>
        <div class="form-group">
            <label for="@TaskObject.CompanyDesc">Description</label>
            <InputText class="form-control form-control-lg" @bind-Value="TaskObject.CompanyDesc"></InputText>
        </div>

        <h5>Client APIs:</h5>
        <div class="form-group">
            <label for="@TaskObject.DevUri">Dev URL</label>
            <InputText class="form-control form-control-xl" @bind-Value="TaskObject.DevUri"></InputText>
        </div>

        <div class="form-group">
            <label for="@TaskObject.LiveUri">Live URL</label>
            <InputText class="form-control form-control-xl" @bind-Value="TaskObject.LiveUri"></InputText>
        </div>

        <div class="hidden-lg-down">
            <h5>Colours:</h5>
            <div class="float-left" style="width: 200px">
                <div class="form-group">
                    <label for="colButtons" style="width: 135px; display: inline-block">Buttons: @TaskObject.CompCol1</label>
                    <input type="color" id="colButtons" name="Buttons" value="@TaskObject.CompCol1" @onchange="@colorChangeButtons">

                </div>

                <div class="form-group">
                    <label for="colButtonsCont" style="width: 135px; display: inline-block">Links: @TaskObject.CompCol3</label>
                    <input type="color" id="colButtonsCont" name="ButtonsCont" value="@TaskObject.CompCol3" @onchange="@colorChangeButtonsCont">

                </div>
            </div>

            <div class="float-left" style="width: 200px">

                <div class="form-group">
                    <label for="colLinks" style="width: 135px; display: inline-block">Contrast: @TaskObject.CompCol2</label>
                    <input type="color" id="colLinks" name="Links" value="@TaskObject.CompCol2" @onchange="@colorChangeLinks">

                </div>
                <div class="form-group">
                    <label for="colLinksCont" style="width: 135px; display: inline-block">Contrast: @TaskObject.CompCol4</label>
                    <input type="color" id="colLinksCont" name="LinksCont" value="@TaskObject.CompCol4" @onchange="@colorChangeLinksCont">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="@TaskObject.CurrentVersion">Smartflow Version</label>
            <InputText class="form-control form-control-lg" @bind-Value="TaskObject.CurrentVersion"></InputText>
        </div>
    </div>

    <div class="button-container">
        <button type="submit" class="float-left btn btn-main">Save</button>
        <button type="button" @onclick="@Close" class="btn btn-secondary">Cancel</button>
    </div>


</EditForm>



@functions {
    bool ShowForm { get; set; } = true;
    string FirstName { get; set; }
    string LastName { get; set; }

    void SubmitForm()
    {
        ShowForm = false;
    }

    void CancelForm()
    {
        ShowForm = true;
    }
}
