@using Gizmo_V1_02.Data.CustomFormObjects

<div class="text-block rounded ">
    <a class="float-left back-link" href="javascript:void(0);" @onclick="@ToggleDetail">
        <span class="col-main fa fa-angle-double-left fa-2x"></span>
    </a>
    <h3>User Details</h3>
</div>

<div class="tran-block detail-box">
    <EditForm Model="@TaskObject" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="@TaskObject.UserName">User Name</label>
            <InputText @bind-Value="TaskObject.UserName"></InputText>
        </div>

        <div class="form-group">
            <label for="@TaskObject.FullName">Full Name</label>
            <InputText @bind-Value="TaskObject.FullName"></InputText>
        </div>

        <div class="form-group">
            <label for="@TaskObject.UserName">Email</label>
            <InputText @bind-Value="TaskObject.Email"></InputText>
        </div>

        <div class="form-group">
            <label for="@TaskObject.PhoneNumber">Phone Number</label>
            <InputText @bind-Value="TaskObject.PhoneNumber"></InputText>
        </div>

        @if (sessionState.Company.CompanyName == "Orchard Rock" & (selectedOption == "Edit"))
        {
            @if (!(companyItems is null))
            {
                <div class="form-group">
                    <label for="@TaskObject.SelectedUri">Selected Company</label>
                    <InputSelectInteger ValueExpression="@(() => TaskObject.SelectedCompanyId)"
                                        Value="@TaskObject.SelectedCompanyId"
                                        ValueChanged="@((int value) => ToggleCompany(value))">
                        @if (companyItems.Where(C => C.IsSubscribed).Count() > 0 )
                        {
                            @foreach (var company in companyItems.Where(C => C.IsSubscribed))
                            {
                                <option value="@company.Company.Id">
                                    @company.Company.CompanyName
                                </option>
                            }

                        }
                    </InputSelectInteger>
                </div>
            }
        }


        <div class="form-group">
            @if (companyItems is null)
            {
                <div class="spinner"></div>
            }
            else
            {
                @if (!(companyItems.Where(C => C.IsSubscribed) is null))
                {

                    <label for="@TaskObject.SelectedUri">System</label>
                    <InputSelect @bind-Value="TaskObject.SelectedUri">
                        <option selected value="Live">
                            Live
                        </option>
                        <option value="Dev">
                            Dev
                        </option>
                    </InputSelect>
                }
            }
        </div>

        @if ((selectedOption == "Insert") | (enablePasswordSet))
        {
            <div class="form-group">
                <label for="@TaskObject.PasswordHash">Password</label>
                <InputText @bind-Value="@TaskObject.PasswordHash" type="password"></InputText>
            </div>

            @if (selectedOption == "Edit")
            {
                <button type="button" class="btn btn-secondary" @onclick="() => TogglePasswordSet()">Close</button>
            }
        }
        else
        {
            <div class="form-group">
                <button type="button" class="btn btn-secondary" @onclick="() => TogglePasswordSet()">Edit Password</button>
            </div>
        }


        <div class="form-group">
            <div class="container-fluid">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 p-2">
                    @if (selectedRoles is null)
                    {
                        <div class="spinner"></div>
                    }
                    else
                    {
                        @if (sessionState.Company.CompanyName == "Orchard Rock")
                        {
                            @if (sessionState.isSuperUser)
                            {
                                @foreach (var role in selectedRoles)
                                {
                                    <label>@role.RoleName</label><InputCheckbox @bind-Value="role.IsSubscribed"></InputCheckbox>
                                }
                            }
                        }
                        else
                        {
                            @foreach (var role in selectedRoles
                                                          .Where(R => R.RoleName != "Super User")
                                                          .ToList())
                            {
                                <label>@role.RoleName</label><InputCheckbox @bind-Value="role.IsSubscribed"></InputCheckbox>
                            }
                        }

                    }
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="container-fluid">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 p-2">
                    @if (companyItems is null)
                    {
                        <div class="spinner"></div>
                    }
                    else
                    {
                        @foreach (var company in companyItems)
                        {
                            <label>@company.Company.CompanyName</label><InputCheckbox @bind-Value="company.IsSubscribed"></InputCheckbox>
                        }
                    }
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" @onclick="NavigateBack">Cancel</button>

        @if (!(TaskObject.Id is null))
        {
            <button type="button" @onclick="HandleValidDelete" class="btn btn-secondary"></button>
        }
    </EditForm>
</div>

