@inject IJSRuntime jsRuntime

@using GadjIT_App.Data.CustomFormObjects
@using GadjIT_App.Pages.Shared.Modals


<div class="tran-block page-header-block ">
    <div class="page-header-title">
        <div class="float-left back-link" @onclick="@ToggleDetail">
            <span class="col-alt fa fa-angle-double-left"></span>
        </div>
        <h3>User Details</h3>
    </div>
</div>


    <EditForm Model="@TaskObject" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="tran-block ">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-6 detail-box ">
                        <h5>Personal Details</h5>
                        <div class="detail-group-box">
                            <div class="form-group">
                                <label for="@TaskObject.UserName">User Name (Email)</label>
                                <InputText class="form-control" style="width: 350px;" @bind-Value="TaskObject.UserName"></InputText>
                            </div>

                            <div class="form-group">

                                <label for="@TaskObject.PasswordHash">Password</label>

                                @if ((selectedOption == "Insert") | (enablePasswordSet))
                                {
                                    <InputText class="form-control" style="display: inline; width: 250px;" @bind-Value="@TaskObject.PasswordHash" type="password"></InputText>
                                }
                                else
                                {
                                    <input type="password" disabled="disabled" class="form-control" style="display: inline; width: 250px;" value="PasswordNotChanged115592!" />
                                    <button type="button" class="btn btn-edit" style="display: inline; height:auto;" @onclick="() => TogglePasswordSet()" value=""><i class="fa fa-pencil-alt"></i></button>
                                }



                            </div>

                            <div class="form-group">
                                <label for="@TaskObject.FullName">Name (Alias)</label>
                                <InputText class="form-control" style="width: 350px;" @bind-Value="TaskObject.FullName"></InputText>
                            </div>

                            <div class="form-group">
                                <label for="@TaskObject.PhoneNumber">Phone Number</label>
                                <InputText class="form-control" style="width: 150px;" @bind-Value="TaskObject.PhoneNumber"></InputText>
                            </div>

                        </div>
                    </div>
                    <div class="col-6 detail-box">
                        <h5>Company Details</h5>
                        <div class="detail-group-box">
                            @if (sessionState.Company.CompanyName == "Orchard Rock" & (selectedOption == "Edit"))
                            {
                                @if (!(companyItems is null))
                                {
                                    <div class="form-group">
                                        <label for="@TaskObject.SelectedUri">Selected Company</label>
                                        <InputSelectInteger class="form-control" style="width: 300px;" ValueExpression="@(() => TaskObject.SelectedCompanyId)"
                                                            Value="@TaskObject.SelectedCompanyId"
                                                            ValueChanged="@((int value) => ToggleCompany(value))">
                                            @if (companyItems.Count() > 0)
                                            {
                                                @foreach (var company in companyItems)
                                                {
                                                    <option value="@company.Company.Id">
                                                        @company.Company.CompanyName
                                                    </option>
                                                }

                                            }
                                        </InputSelectInteger>
                                    </div>
                                }
                            }


                            <div class="form-group">
                                @if (companyItems is null)
                                {
                                    <div class="spinner"></div>
                                }
                                else
                                {
                                    @if (!(companyItems.Where(C => C.IsSubscribed) is null))
                                    {

                                        <label for="@TaskObject.SelectedUri">System</label>
                                        <InputSelect class="form-control" style="width: 200px;" @bind-Value="TaskObject.SelectedUri">
                                            <option selected value="Live">
                                                Live
                                            </option>
                                            <option value="Dev">
                                                Dev
                                            </option>
                                        </InputSelect>
                                    }
                                }
                            </div>
                        </div>
                        <h5>Roles</h5>
                        <div class="detail-group-box">
                            <div class="form-group">
                                <div class="container-fluid">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 p-2">
                                        @if (selectedRoles is null)
                                        {
                                            <div class="spinner"></div>
                                        }
                                        else
                                        {
                                            @if (sessionState.Company.CompanyName == "Orchard Rock")
                                            {
                                                @if (sessionState.isSuperUser)
                                                {
                                                    <ul class="ul-simple">
                                                        @foreach (var role in selectedRoles)
                                                        {
                                                            <li><InputCheckbox class="mr-2" @bind-Value="role.IsSubscribed"></InputCheckbox><label>@role.RoleName</label></li>
                                                        }
                                                    </ul>
                                                }
                                            }
                                            else
                                            {
                                                <ul class="ul-simple">
                                                    @foreach (var role in selectedRoles
                                                                 .Where(R => R.RoleName != "Super User")
                                                                 .ToList())
                                                    {

                                                        <li><InputCheckbox class="mr-2" @bind-Value="role.IsSubscribed"></InputCheckbox><label>@role.RoleName</label></li>
                                                    }
                                                </ul>
                                            }

                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="button-container">
                    <button type="submit" class="btn btn-main">Save Changes</button>
                    <button type="button" class="btn btn-secondary" @onclick="NavigateBack">Cancel</button>
                </div>
            </div>
        </div>

    </EditForm>

