@inherits LayoutComponentBase
@using Gizmo_V1_02.Services.SessionState
@using Microsoft.AspNetCore.Identity
@using Gizmo_V1_02.Data
@using Gizmo_V1_02.Data.CustomFormObjects
@inject IUserSessionState userState
@inject SignInManager<ApplicationUser> SignInManager

<style>
    @{
        string colMain = sessionState.CompCol1;
        string colMainContr = sessionState.CompCol2;
        string colAlt = sessionState.CompCol3;
        string colAltContr = sessionState.CompCol4;

        colMain = (string.IsNullOrEmpty(colMain) ? "#3E00E3" : colMain);
        colMainContr = (string.IsNullOrEmpty(colMainContr) ? "#FFFFFF" : colMainContr);
        colAlt = (string.IsNullOrEmpty(colAlt) ? "#AF00E3" : colAlt);
        colAltContr = (string.IsNullOrEmpty(colAltContr) ? "#FED6F3" : colAltContr);

        System.Drawing.Color col = System.Drawing.ColorTranslator.FromHtml(colMain);
        string rgbColMain = col.R.ToString() + "," + @col.G.ToString() + "," + @col.B.ToString();
        col = System.Drawing.ColorTranslator.FromHtml(colAlt);
        string rgbColAlt = col.R.ToString() + "," + @col.G.ToString() + "," + @col.B.ToString();

    }
    .cookie-link a {color: @colAlt;}
    .cookie-link a:hover {color: @colMain;}
    .cookie-link a.active {color: @colAlt;}

    .topbar a.nav-link {color: @colMain;}
    .topbar a.nav-link:hover {color: @colAlt;}
    .topbar .btn-link {color: @colMainContr; margin-top: 15px}
    .sidebar .nav-item a.active {background-color:  @colAlt;color: @colMainContr;}
    .sidebar .nav-item a {color: @colMain;}
    .sidebar .nav-item a:hover {background-color: @colAltContr;color: @colAlt;}
    .nav a.nav-link {color: @colMain;}
    .nav a.nav-link:hover {color: @colAlt;}
    @*.page-footer { background-image: linear-gradient(to right, rgba(@rgbColMain,0), rgba(@rgbColMain,1))}
    .page-footer a{color: @colMainContr;}
    .footer-copyright {color: @colMainContr;}*@
    .col-main { color: @colMain}
    .col-alt { color: @colAlt}
    .bg-main, .bg-primary { background-color: @colMain; color: @colMainContr}
    .bg-alt { background-color: @colAlt; color: @colAltContr}
    .btn-main { background-color: @colMain; border-color: @colMain !important; color: @colMainContr }
    .btn-main:hover { background-color: @colAlt; border-color: @colAlt !important; color: @colAltContr }
    .btn-main:active:focus {box-shadow: 0 0 0 0.2rem rgba(@rgbColMain, 0.5);}
    .btn-sub { background-color: @colMain; border-color: @colMain !important; color: @colMainContr }
    .btn-sub:hover { background-color: @colAlt; border-color: @colAlt !important; color: @colAltContr }
    .btn-sub:active:focus {box-shadow: 0 0 0 0.2rem rgba(@rgbColAlt, 0.5);}
    .btn-edit { background-color: @colMain; color: @colMainContr }
    .btn-edit:hover { background-color: @colAlt; color: @colAltContr }
    .btn-edit:active:focus {box-shadow: 0 0 0 0.2rem rgba(@rgbColAlt, 0.5);}
    .grid-tran .grid-row .data-item-main { background-color: rgba(@rgbColMain, 0.5);}
    .grid-tran .grid-row .data-item-alt { background-color: rgba(@rgbColAlt, 0.5);}
    .badge-main { background-color: @colMain; color: @colMainContr }
    .badge-alt { background-color: @colAlt; color: @colAltContr }

</style>

<div class="sidebar">
    <NavMenu />
    <div class="logo"></div>
</div>

<div class="main">
    <div class="top-row px-4 auth topbar"  >

        <LoginDisplay userFullName="@userState.FullName" />
    </div>


    <div class="content pt-4 pb-4 parallax">
        @Body
    </div>

    <footer class="page-footer font-small fixed-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center ">
            © @DateTime.Now.Year Copyright:
            <a href="https://orchardrock.co.uk"> Orchard Rock Development Ltd</a>
        </div>
        <!-- Copyright -->
    </footer>

</div>

@*@if (!(userState.allAssignedCompanies is null))
    {
        @if (userState.allAssignedCompanies.Count() > 0)
        {
            <EditForm Model="currentUser">
                <InputSelectInteger ValueExpression="@(() => currentUser.SelectedCompanyId)"
                                    Value="@currentUser.SelectedCompanyId"
                                    ValueChanged="@((int value) => ToggleCompany(value))">

                    @foreach (var company in userState.allAssignedCompanies)
                    {
                        <option value="@company.Id">
                            @company.CompanyName
                        </option>
                    }
                </InputSelectInteger>
            </EditForm>

        }
    }*@



