@inherits LayoutComponentBase
@using Gizmo_V1_02.Services.SessionState
@using Microsoft.AspNetCore.Identity
@using Gizmo_V1_02.Data
@using Gizmo_V1_02.Data.CustomFormObjects

@inject IUserSessionState userState
@inject SignInManager<ApplicationUser> SignInManager

<style>
    @{
        string colMain = sessionState.CompCol1;
        string colMainContr = sessionState.CompCol2;
        string colAlt = sessionState.CompCol3;
        string colAltContr = sessionState.CompCol4;

        colMain = (string.IsNullOrEmpty(colMain) ? "#3E00E3" : colMain);
        colMainContr = (string.IsNullOrEmpty(colMainContr) ? "#FFFFFF" : colMainContr);
        colAlt = (string.IsNullOrEmpty(colAlt) ? "#AF00E3" : colAlt);
        colAltContr = (string.IsNullOrEmpty(colAltContr) ? "#FED6F3" : colAltContr);

        System.Drawing.Color col = System.Drawing.ColorTranslator.FromHtml(colMain);
        string rgbColMain = col.R.ToString() + "," + @col.G.ToString() + "," + @col.B.ToString();
        col = System.Drawing.ColorTranslator.FromHtml(colAlt);
        string rgbColAlt = col.R.ToString() + "," + @col.G.ToString() + "," + @col.B.ToString();

    }
    @{
        string parallax = "";
        if (!(sessionState.User is null) && !string.IsNullOrEmpty(sessionState.User.MainBackgroundImage)) {
            parallax = ".parallax { background-image: url('" + sessionState.User.MainBackgroundImage + "') }";
        }
        else
        {
            parallax = ".parallax { background-image: url('images/backgroundimages/Blue Sky.jpg') }";
        }
    }

    @parallax
    .cookie-link a {color: @colAlt;}
    .cookie-link a:hover {color: @colMain;}
    .cookie-link a.active {color: @colAlt;}

    .topbar .nav-link {color: @colMain;}
    .topbar .btn-uprofile {color: @colMain;}
    .topbar .nav-link:hover {color: @colAlt;}
    .topbar .btn-link {color: @colMainContr;}
    @*.sidebar .nav-item a.active {color: @colAlt;}*@
    @*.sidebar .nav-item a {color: @colMain;}*@
    @*.sidebar .nav-item a.active {background-color: @colAltContr !important; border-color: @colAlt;}*@
    .sidebar .nav-item a:hover {background-color: @colAlt; color: @colAltContr !important;}
    .nav a.nav-link {color: @colAlt;}
    .nav a.nav-link:hover {color: @colMain;}
    .page-navbar .navbar-alt {background-color: @colAlt !important;}
    .tran-navbar .navbar li.active {border-bottom-color: @colAlt;}
    .col-main { color: @colMain !important}
    .col-alt { color: @colAlt !important}
    a.col-main:hover { color: @colAlt}
    a.col-alt:hover { color: @colMain}
    .bg-main, .bg-primary { background-color: @colMain; color: @colMainContr}
    .bg-alt { background-color: @colAlt; color: @colAltContr}
    .btn-main, .dt-button
        , .custom-file-input:lang(en) ~ .custom-file-label::after { background-color: @colMain; border-color: @colMain !important; color: @colMainContr }
    @*.btn-main:hover { background-color: @colAlt; border-color: @colAlt !important; color: @colAltContr }*@
    .btn-main:active:focus {box-shadow: 0 0 0 0.2rem rgba(@rgbColMain, 0.5);}
    .btn-alt { background-color: @colAlt; border-color: @colAlt !important; color: @colAltContr }
    .btn-alt:hover { background-color: @colMain; border-color: @colMain !important; color: @colMainContr }
    .btn-alt:active:focus {box-shadow: 0 0 0 0.2rem rgba(@rgbColAlt, 0.5);}
    .btn-sub { background-color: @colMain; border-color: @colMain !important; color: @colMainContr }
    .btn-sub:hover { background-color: @colAlt; border-color: @colAlt !important; color: @colAltContr }
    .btn-sub:active:focus {box-shadow: 0 0 0 0.2rem rgba(@rgbColAlt, 0.5);}
    .btn-edit { color: @colMain }
    .btn-edit:hover { background-color: @colMain !important; color: @colMainContr; }
    .btn-edit:active:focus {box-shadow: 0 0 0 0.2rem rgba(@rgbColAlt, 0.5);}
    .grid-can-edit .grid-row:hover .btn-ellipses { color: @colMain !important}
    div[class*="grid-row"]:hover .seq-change div:first-of-type
            ,div[class*="grid-row"]:hover .seq-change div:last-of-type{ color: @colMain !important}
    div[class*="grid-row"]:hover .link-direction {color: @colAlt;}
    .grid-tran .btn-edit { background-color: #FFF; color: @colMain }
    .grid-tran .btn-edit:hover { background-color: @colMain; color: @colMainContr; }
    .grid-tran .data-item-main { background-color: rgba(@rgbColMain, 0.7); border-color: rgba(@rgbColMain, 0.7);}
    .grid-tran .data-item-alt { background-color: rgba(@rgbColAlt, 0.7); border-color: rgba(@rgbColAlt, 0); }
    @*.data-item-nav, .data-item-nav a{ background-color: rgba(@rgbColAlt, 1); color: @colAltContr;}
    .nav-row-3 .data-item-nav{ background-color: rgba(@rgbColAlt, 0.75) ;}*@
    .data-item-nav:hover{ background-color: rgba( @rgbColAlt, 0.8) !important; color: @colAltContr;}
    .grid-tran .no-tran .bg-main { background-color: rgba(@rgbColMain, 1) !important;}
    .grid-tran .no-tran .bg-alt { background-color: rgba( @rgbColAlt, 1) !important;}
    .badge-main { background-color: @colMain; color: @colMainContr }
    .badge-alt { background-color: @colAlt; color: @colAltContr }


</style>



    <div class="sidebar">
        <NavMenu />
    </div>



    <div class="main">
        
        <div class="top-row px-4 auth topbar hidden-sm-down">
            <LoginDisplay userFullName="@userState.FullName" />
        </div>
        <div class="content parallax">
            <div class="inner-content">
                @Body
                <div class="main-footer ">
                    <span></span>
                </div>
            </div>
            
        </div>


        <!--<footer class="page-footer font-small fixed-bottom">-->
        <!-- Copyright -->
        <!--<div class="footer-copyright text-center ">
        © @DateTime.Now.Year Copyright:
        <a href="https://orchardrock.co.uk"> Orchard Rock Development Ltd</a>
    </div>-->
        <!-- Copyright -->
        <!--</footer>-->

    </div>



