@page "/misichapterlist"

@using Gizmo_V1_00.Data.OR_RESI_Chapters
@using Gizmo_V1_00.Models


@inject IOR_RESI_Chapters_Service service
@inject IJSRuntime jsRuntime

<h1>Chapters</h1>

<label class="btn-Nav OR_btn-Nav" @onclick="() => selectHome()">Home</label>
@if (selectedCaseType != "")
{
    <label>/ </label>
    <label class="btn-Nav OR_btn-Nav" @onclick="() => selectCaseType(selectedCaseType)">@selectedCaseType</label>
}
@if (selectedChapter != "")
{
    <label>/ @selectedChapter</label>
}

<br>
<br>

@if (selectedCaseType == "")
{
    <div class="container-fluid">
        <div class="row">
            @foreach (var caseType in CaseTypeList)
            {
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 p-2">
                    <div class="shadow card bg-white rounded">
                        <div class="card-body">
                            @if (caseType == "Purchase")
                            {
                                <h5 class="card-title">PURCH</h5>
                            }
                            else
                            {
                                <h5 class="card-title">SALE</h5>
                            }
                            <p class="card-text">Residential - @caseType</p>
                            <a @onclick="() => selectCaseType(caseType)" class="btn btn-primary">Select</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}
else if (selectedChapter == "")
{

    <h4 class="modal-title">Chapters</h4>
    <div class="container-fluid">
        <div class="row">
            @foreach (var Chapter in lstChapters)
            {
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 p-2">
                    <div class="shadow card bg-white rounded">

                        <a @onclick="() => selectDocList(Chapter.Name)" class="nav-link">@Chapter.Name</a>
                    </div>
                </div>
            }
        </div>
    </div>
}

@if (selectedChapter != "")
{
    <div style="background-color:  blue">
    <h2>
        Agendas (@lstAgendas.Count)
        @if (displaySection == "Agenda")
        {
            <span @onclick='() => showAgenda("Hide", "Agenda")'> <i class="fas fa-arrow-circle-right fa-1x"></i></span>
        }
        else
        {
            <span @onclick='() => showAgenda("Show", "Agenda")'> <i class="fas fa-arrow-circle-down fa-1x"></i></span>
        }
    </h2>

    @if (displaySection == "Agenda")
    {
        <div class="fade-in">
            <table id="tblAgendaList" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Agenda in lstAgendas)
                    {
                        <tr>
                            <td>@Agenda.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    </div>


    <h2>
        Fees (@lstFees.Count)
        @if (displaySection == "Fee")
        {

            <span @onclick='() => showAgenda("Hide", "Fee")'> <i class="fas fa-arrow-circle-right fa-1x"></i></span>

        }
        else
        {
            <span @onclick='() => showAgenda("Show", "Fee")'> <i class="fas fa-arrow-circle-down fa-1x"></i></span>
        }
    </h2>

    @if (displaySection == "Fee")
    {
        <div class="fade-in">
            <table id="tblFeeList" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Fee in lstFees)
                    {
                        <tr>
                            <td>@Fee.Name</td>
                            <td><input type="button" class="btn btn-primary" @onclick='(() => PrepareForEdit(Fee,"Fee"))' data-toggle="modal" data-target="#taskModal" value="Edit" /></td>
                            <td><input type="button" class="btn btn-danger" @onclick="(() => PrepareForDelete(Fee))" data-toggle="modal" data-target="#confirmDeleteModal" value="Delete" /></td>
                        </tr>
                    }
                </tbody>
            </table>

            <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-primary" value="Add Fee" />
        </div>
    }

    <h2>
        Letters (@lstLetters.Count)
        @if (displaySection == "Letter")
        {
            <span @onclick='() => showAgenda("Hide", "Letter")'> <i class="fas fa-arrow-circle-right fa-1x"></i></span>
        }
        else
        {
            <span @onclick='() => showAgenda("Show", "Letter")'> <i class="fas fa-arrow-circle-down fa-1x"></i></span>
        }
    </h2>
    @if (displaySection == "Letter")
    {
        <div class="fade-in">
            <table id="tblLettersList" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var letters in lstLetters)
                    {
                        <tr>
                            <td>@letters.Name</td>
                            <td><input type="button" class="btn btn-primary" @onclick='(() => PrepareForEdit(letters,"Letter"))' data-toggle="modal" data-target="#taskModal" value="Edit" /></td>
                            <td><input type="button" class="btn btn-danger" @onclick="(() => PrepareForDelete(letters))" data-toggle="modal" data-target="#confirmDeleteModal" value="Delete" /></td>
                        </tr>
                    }
                </tbody>
            </table>

            <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-primary" value="Add Letter" />
        </div>
    }

    <h2>
        Documents (@lstDocs.Count)
        @if (displaySection == "Doc")
        {
            <span @onclick='() => showAgenda("Hide", "Doc")'> <i class="fas fa-arrow-circle-right fa-1x"></i></span>
        }
        else
        {
            <span @onclick='() => showAgenda("Show", "Doc")'> <i class="fas fa-arrow-circle-down fa-1x"></i></span>
        }
    </h2>
    @if (displaySection == "Doc")
    {
        <div class="fade-in">
            <table id="tblDocsList" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var docs in lstDocs)
                    {
                        <tr>
                            <td>@docs.Name</td>
                            <td><input type="button" class="btn btn-primary" @onclick='(() => PrepareForEdit(docs,"Document"))' data-toggle="modal" data-target="#taskModal" value="Edit" /></td>
                            <td><input type="button" class="btn btn-danger" @onclick="(() => PrepareForDelete(docs))" data-toggle="modal" data-target="#confirmDeleteModal" value="Delete" /></td>
                        </tr>
                    }
                </tbody>
            </table>

            <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-primary" value="Add Document" />
        </div>
    }

    <h2>
        Forms (@lstForms.Count)
        @if (displaySection == "Form")
        {
            <span @onclick='() => showAgenda("Hide", "Form")'> <i class="fas fa-arrow-circle-right fa-1x"></i></span>
        }
        else
        {
            <span @onclick='() => showAgenda("Show", "Form")'> <i class="fas fa-arrow-circle-down fa-1x"></i></span>
        }
    </h2>

    if (displaySection == "Form")
    {
        <div class="fade-in">
            <table id="tblFormsList" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var forms in lstForms)
                    {
                        <tr>
                            <td>@forms.Name</td>
                            <td><input type="button" class="btn btn-primary" @onclick='(() => PrepareForEdit(forms, "Form"))' data-toggle="modal" data-target="#taskModal" value="Edit" /></td>
                            <td><input type="button" class="btn btn-danger" @onclick="(() => PrepareForDelete(forms))" data-toggle="modal" data-target="#confirmDeleteModal" value="Delete" /></td>
                        </tr>
                    }
                </tbody>
            </table>

            <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-primary" value="Add Form" />
        </div>

    }


    <h2>
        Steps (@lstSteps.Count)
        @if (displaySection == "Step")
        {
            <span @onclick='() => showAgenda("Hide", "Step")'> <i class="fas fa-arrow-circle-right fa-1x"></i></span>
        }
        else
        {
            <span @onclick='() => showAgenda("Show", "Step")'> <i class="fas fa-arrow-circle-down fa-1x"></i></span>
        }
    </h2>

    if (displaySection == "Step")
    {
        <div class="fade-in">
            <table id="tblStepsList" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var steps in lstSteps)
                    {
                        <tr>
                            <td>@steps.Name</td>
                            <td><input type="button" class="btn btn-primary" @onclick='(() => PrepareForEdit(steps, "Step"))' data-toggle="modal" data-target="#taskModal" value="Edit" /></td>
                            <td><input type="button" class="btn btn-danger" @onclick="(() => PrepareForDelete(steps))" data-toggle="modal" data-target="#confirmDeleteModal" value="Delete" /></td>
                        </tr>
                    }
                </tbody>
            </table>

            <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-primary" value="Add Step" />
        </div>
    }



}

<ConfirmDialog OnClick="@Delete" />
<ChapterDetail TaskObject=editObject>
    <CustomHeader>@customHeader</CustomHeader>
</ChapterDetail>

@code {
    List<UsrOrDefChapterManagement> lstChapters;

    List<UsrOrDefChapterManagement> lstAgendas;
    List<UsrOrDefChapterManagement> lstFees;
    List<UsrOrDefChapterManagement> lstLetters;
    List<UsrOrDefChapterManagement> lstDocs;
    List<UsrOrDefChapterManagement> lstForms;
    List<UsrOrDefChapterManagement> lstSteps;

    UsrOrDefChapterManagement editObject = new UsrOrDefChapterManagement();

    UsrOrDefChapterManagement ChpaterObject = new UsrOrDefChapterManagement();
    string customHeader = string.Empty;


    string agendaDisplay { get; set; } = "Hide";
    string feeDisplay { get; set; } = "Hide";
    string letterDisplay { get; set; } = "Hide";
    string docDisplay { get; set; } = "Hide";
    string formDisplay { get; set; } = "Hide";
    string stepDisplay { get; set; } = "Hide";

    string displaySection { get; set; } = "";

    string selectedCaseType { get; set; } = "";
    string selectedChapter { get; set; } = "";

    List<string> CaseTypeList = new List<string>() { "Purchase", "Sale", "Remortgage", "Plot Sales", "Transfer" };

    protected override async Task OnInitializedAsync()
    {
        lstChapters = await service.GetChapterListByCaseType("Chapter", "");
    }

    void selectHome()
    {
        selectedCaseType = "";
        selectedChapter = "";
    }

    async Task selectCaseType(string caseType)
    {
        lstChapters = await service.GetChapterListByCaseType("Chapter", caseType);

        selectedCaseType = caseType;
        selectedChapter = "";
    }

    async Task selectDocList(String chapter)
    {
        lstDocs = await service.GetDocListByChapterAndDocType(selectedCaseType, chapter, "Doc");
        lstFees = await service.GetDocListByChapterAndDocType(selectedCaseType, chapter, "Fee");
        lstLetters = await service.GetDocListByChapterAndDocType(selectedCaseType, chapter, "Letter");
        lstForms = await service.GetDocListByChapterAndDocType(selectedCaseType, chapter, "Form");
        lstSteps = await service.GetDocListByChapterAndDocType(selectedCaseType, chapter, "Step");
        lstAgendas = await service.GetDocListByChapterAndDocType(selectedCaseType, chapter, "Agenda");

        selectedChapter = chapter;
    }

    private async void DataChanged()
    {
        lstDocs = await service.GetDocListByChapterAndDocType(selectedCaseType, selectedChapter, "Doc");
        lstFees = await service.GetDocListByChapterAndDocType(selectedCaseType, selectedChapter, "Fee");
        lstLetters = await service.GetDocListByChapterAndDocType(selectedCaseType, selectedChapter, "Letter");
        lstForms = await service.GetDocListByChapterAndDocType(selectedCaseType, selectedChapter, "Form");
        lstSteps = await service.GetDocListByChapterAndDocType(selectedCaseType, selectedChapter, "Step");
        lstAgendas = await service.GetDocListByChapterAndDocType(selectedCaseType, selectedChapter, "Agenda");

        StateHasChanged();
    }

    void showAgenda(String option, String type)
    {
        if (option == "Show")
        {
            displaySection = type;
        }
        else
        {
            displaySection = "";
        }
    }

    private void PrepareForInsert(String header)
    {
        editObject = new UsrOrDefChapterManagement();
        customHeader = "Add New " + header;
    }

    private void PrepareForEdit(UsrOrDefChapterManagement item, String header)
    {
        customHeader = header;
        editObject = item;
    }

    private void PrepareForDelete(UsrOrDefChapterManagement item)
    {
        editObject = item;
    }

    private async Task Delete()
    {
        var task = await service.Delete(editObject.Id);
        await jsRuntime.InvokeAsync<object>("CloseModal", "confirmDeleteModal");
        DataChanged();
        editObject = new UsrOrDefChapterManagement();
    }
}
