@using GadjIT_App.Data.CustomFormObjects;

<EditForm Model="@_Attachment" OnValidSubmit="HandleValidSubmit">
    <div class="modal-body">

        <DataAnnotationsValidator />

        @if (_LibraryDocumentsAndSteps is null)
        {
            <div class="spinner"></div>
        }
        else
        {

            <div class="form-group">
                <label for="NextStatus">Action</label>
                <InputSelect class="form-control form-control-sm"
                             @bind-Value="_Attachment.Action">
                    <option value=""></option>
                    @foreach (var s in ActionList)
                        {
                        <option value="@s">
                            @s
                        </option>
                        }
                </InputSelect>
                <ValidationMessage For="@(() => _Attachment.Action)" />
            </div>


            <div class="form-group">
                <label for="DocType">Case Type Group</label>
                <InputSelectInteger class="form-control form-control-lg"
                                    @bind-Value="SelectedCaseTypeGroup">
                    <option value="-2">Select</option>
                    @foreach (var group in _P4WCaseTypeGroups.Where(C => C.Name == _SelectedSmartflow.P4WCaseTypeGroup).ToList())
                        {
                        <option value="@group.Id">
                            @group.Name
                        </option>
                        }
                    <option value="0">Global Documents</option>
                    @if (_SelectedSmartflow.P4WCaseTypeGroup == "Entity Documents")
                        {
                        <option value="-1">Entity Documents</option>
                        }
                </InputSelectInteger>
            </div>

            <div class="form-group">
                <label for="DocName">Document / Step</label>
                @if (SelectedCaseTypeGroup == -2 & _Attachment.DocName is null)
                {
                    <select class="form-control" disabled />
                }
                else
                {
                    @if ((_Attachment.Action != null && _Attachment.Action == "SCHEDULE") || (_SelectedSmartflow.ShowDocumentTracking != null && _SelectedSmartflow.ShowDocumentTracking == "Y"))
                    {
                        <div class="form-label-check" style="margin-right: 13px">
                            @if (UseCustomItem)
                            {
                                <label>Custom Item</label><input type="checkbox" checked="checked" @bind-value="@UseCustomItem" />
                            }
                            else
                            {
                                <label>Custom Item</label><input type="checkbox" @bind-value="@UseCustomItem" />
                            }

                        </div>
                    }


                    @if (!UseCustomItem || (((_SelectedSmartflow.ShowDocumentTracking is null) || _SelectedSmartflow.ShowDocumentTracking == "N") && _Attachment.Action != "SCHEDULE"))
                    {

                        <div class="form-group">
                            <label for="AltDisplayName">Filter</label>
                            <InputText class="form-control form-control-md form-control-filter" @bind-Value="@FilterText" />
                        </div>



                        <div class="form-group control-with-button">
                            <div class="control-main">
                                <InputSelect class="form-control form-control-xl" @bind-Value="_Attachment.DocName">
                                    @if (_Attachment.DocName is null)
                                                {
                                        <option value="">Select</option>
                                                }
                                                else
                                                {
                                        <option value="@_Attachment.DocName">@_Attachment.DocName</option>
                                                }


                                    @foreach (var doc in _LibraryDocumentsAndSteps.Where(D => D.CaseTypeGroupRef == SelectedCaseTypeGroup).Where(C => C.Name.ToUpper().Contains(FilterText.ToUpper())).OrderBy(D => D.Name).ToList())
                                                {
                                        <option value="@doc.Name">
                                            @doc.Name
                                        </option>
                                                }
                                </InputSelect>

                            </div>
                            <div class="control-button btn" @onclick="() => RefreshDocListOnModel()" title="Refresh List">
                                <i class="fa fa-sync"></i>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="CompleteName">Display Name</label>
                            <InputText class="form-control form-control-xl" @bind-Value="@_Attachment.DocAsName" />
                        </div>
                    }
                    else
                    {

                        <InputText class="form-control form-control-xl" @bind-Value="@_Attachment.DocName"></InputText>
                    }
                }
                <ValidationMessage For="@(() => _Attachment.DocName)" />
            </div>

            
            if(!UseCustomItem)
            {
                <div class="form-group">        
                    <label for="Agenda">Agenda</label>
                    <InputSelect class="form-control form-control-lg"
                                @bind-Value="_Attachment.Agenda">
                        <option value=""></option>
                        @foreach (var a in _ListOfAgenda)
                        {
                            <option value="@a.ChapterObject.Name">
                                @a.ChapterObject.Name
                            </option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => _Attachment.Agenda)" />
                </div>
            }

            <div class="form-group">
                <label for="Suppress">Is an Optional Document?</label>
                <InputCheckbox class="form-control" @bind-Value="OptionalDocument" />
            </div>
        }



        @if (_Attachment.Action == "SCHEDULE")
        {

            <div class="form-group">
                <label for="ScheduleDays">Schedule Days</label>
                <div class="form-label-check" style="margin-right: 13px">
                    @if (UseCustomReschedule)
                    {

                        <label>From Data Item</label>
                        <input type="checkbox" checked="checked" @bind-value="@UseCustomReschedule" />

                    }
                    else
                    {
                        <label>From Data Item</label>
                        <input type="checkbox" @bind-value="@UseCustomReschedule" />
                    }

                </div>

                <InputNumber class="form-control form-control-xs" @bind-Value="_Attachment.ScheduleDays"></InputNumber>
                <ValidationMessage For="@(() => _Attachment.ScheduleDays)" />
            </div>

            @if (UseCustomReschedule)
            {
                <div class="form-group">
                    <label>Reschedule From Data Item</label><br>
                    <label>Filter</label>
                    <InputText class="form-control form-control-md form-control-filter" @bind-Value="@FilterTextDataItem" />
                </div>

                <div class="form-group mb-3">
                    <InputSelect class="form-control form-control-xl"
                                 @bind-Value="_Attachment.ScheduleDataItem">
                        <option value=""></option>
                        @foreach (var a in _TableDates
                            .Where(T => (T.TableType == 1 && _SelectedSmartflow.P4WCaseTypeGroup != "Entity Documents")
                                        ||
                                        (T.TableType == 0 && _SelectedSmartflow.P4WCaseTypeGroup == "Entity Documents"))
                            .Where(F => F.TableField.ToUpper().Contains(FilterTextDataItem.ToUpper())))
                                {
                            <option value="@a.TableField">
                                @a.TableField
                            </option>
                                }
                    </InputSelect>
                    <ValidationMessage For="@(() => _Attachment.ScheduleDataItem)" />
                </div>
            }
        }


        @if (_SelectedSmartflow.ShowDocumentTracking == "Y" && _Attachment.Action != "SCHEDULE")
        {
            <div class="form-group">
                <label for="TrackMethod">Tracking Method</label>
                <InputSelect class="form-control form-control-md"
                             @bind-Value="_Attachment.TrackingMethod">
                    <option value=""></option>
                    @foreach (var s in TrackMethodList)
                        {
                        <option value="@s">
                            @s
                        </option>
                        }
                </InputSelect>
                <ValidationMessage For="@(() => _Attachment.TrackingMethod)" />
            </div>
            @if (_Attachment.TrackingMethod == "Response Required")
            {
                <div class="form-group">
                    <label for="ChaserDesc">Chaser Description</label>
                    <InputText class="form-control form-control-xl" @bind-Value="@_Attachment.ChaserDesc" />
                </div>
            }


        }



    </div>

    <div class="button-container">
        @if (_CopyObject.LinkedItems.Select(F => F.DocName).ToList().Contains(_Attachment.DocName))
        {
            <button type="button" class="btn btn-secondary" title="Delete Attachment" @onclick="RemoveAttachment"><span class="fa fa-trash"></span></button>
        }
        <button type="submit" class="btn btn-main ml-auto"><span class="fa fa-save"></span> <span class="ml-2">Save</span></button>
        <button type="button" class="btn btn-secondary" @onclick="Close">Cancel</button>
    </div>
</EditForm>